:php
  global $post;
  $id = get_the_ID();
  $description = get_post_meta($id, "_poxy_description", true);
section
  .sw
    .cw.b_18.c_16
      h1.fs___6.mb4.title.txt-0
        - the_title();
      - if($description) :
        p.description
          - echo $description
      - endif;
