section(ng-class!='{ fadeOut : waypoint123s.text.on, fadeIn : waypoint123s.text.off }').tx-c
  .sw(zum-waypoint!='waypoint123s', up='text.on', down='text.off', offset="100%")
    .cw.pt1.pb1
      .rel.poxya14a_pox.poxyb14b_pox.poxyc12c_pox.poxyd11d_pox.poxye11e_pox
      .rel.poxya12a_pox.poxyb12b_pox.poxyc12c_pox.poxyd11d_pox.poxye11e_pox
        //- h2.txa-11.txb-9.txc-8.txd-8.mt1-d.txe-7.mt1-e.op0.wp1
        //-   span.mr2
        //-   - the_title();

        h1.tx-3d.txa-12.txb-12.txc-12.txd-12
          - the_title();
        .sub-head.txa-3.mb1.mt2.wp2 We are an Advertising and Production Agency that uses excellence to forge bonds with customers and propel businesses.









:php

  global $wp_query;
  if (!is_archive()) {
    $page_id = $wp_query->get_queried_object();
    $page_id = $page_id->ID;
  }


  $blog_page_id = of_get_option('poxy_blog_page');
  $blog_page = get_page($blog_page_id);

  if ($blog_page_id == $page_id) {
    $image = of_get_option('poxy_blog_banner');
    if ($image) {
      $image = of_get_option('poxy_blog_banner');
      $image = 'background-image: url('. $image. ')';
    } else {
      $image = 'background-image: url(http://placehold.it/1900x800)';
    }
    $title = $blog_page->post_title;
    $copywrite_name = 'test';
    $copywrite_url = '#';
    $sub_title = get_post_meta($blog_page_id, "_poxy_page_description", true);
    //- $description = get_post_meta($blog_page_id, "_poxy_page_description", true);
    $description = false;

  }
  else {

    $image = get_poxy_banner();
    if ($image) {
      $image = 'background-image: url('. $image. ')';
    }
    elseif (poxy_catch_first_image()) {
      $image_url = poxy_catch_first_image();
      $image = 'background-image: url('. $image_url. ')';
    }
    else {
      //- $image = 'background-image: url(http://placehold.it/1900x800)';
      $image = false;
    }

    $title = get_the_title();
    $description = get_post_meta($page_id, "_poxy_page_description", true);
    $sub_title = get_post_meta($page_id, "_poxy_page_sub_head", true);

    $copywrite_name = get_post_meta($page_id, "_poxy_page_image_copywrite_name", true);
    $copywrite_url = get_post_meta($page_id, "_poxy_page_image_copywrite_link", true);

    // Link
    $button_url = get_post_meta($post->ID, "_poxy_slide_url", true);
    $button_text = get_post_meta($post->ID, "_poxy_slide_button_text", true);

  }



- if ($image) :
  section.bg-black.white.clear.ofh
    - if ($copywrite_name) :
        figcaption.copywrite.zeta.daxy.p4.z6
          - if ($copywrite_url) :
            a(href!="<?php echo $copywrite_url; ?>")
              - echo $copywrite_name;
          - else :
            - echo $copywrite_name;
          - endif;
    - endif;
    .sw
      .cw.rel.a_58.b_34.c_58.d_58.e_p11
        .paxy.fill.shadow-l.z2.hd.he
        .rel.mb0.qoxya18a_58.qoxyb14b_34.qoxyc14c_58.poxyd11d_12.poxye11e_12
          figure.br2.rel.image.qaxya34a_p100.qaxyb34b_p100.qaxyc11c_p100._oxyd54d_p100._oxye54e_p100.bgp-rc
            figure.br2.rel.image.poxya11a_p100.poxyb34b_p100.qaxyc11c_p100._oxyd54d_p100._oxye54e_p100.bgp-rc.bg-contain(style!='<?php echo $image; ?>')
            //- .paxy.fill.shadow-r.z2.hd.he
        .rel.poxa18a_12.mb0.poxb14b_12.poxc14c_58.poxd14d_58.poxe11e_34.ml0-c
          .wrap
            .rel.paxya12a_12.paxyb12b_12.paxyc12c_58.poxd12d_58.poxe11e_12.ml0-a.ml0-b
              .rel._oxap11a_p11.z6._oxbp11b_p11._oxcp11c_p11.poxdp11d_p11.poxep11e_p11
                .rel.poxya12a_pox.poxyb12b_pox.poxyc12c_pox.poxyd11d_pox.poxye11e_pox
                  h2.txa-9.txb-8.txc-8.txd-8.mt1-d.txe-7.mt1-e(title='')
                    - echo $title;

                - if ($sub_title) :
                    .rel.poxya14a_pox.poxyb14b_pox.poxyc38c_pox.poxyd38d_pox.poxye11e_pox
                      .accent2.txa-5.mt2-a.txb-2.mt2-b.txc-3.mt2-c.txd-2.mt2-d.txe-3.mt2-e
                        - echo $sub_title;
                - endif;

                - if ($description) :
                  .rel.poxa14a_14.poxyb14b_pox.poxyc14c_pox.poxyd11d_pox.poxye11e_pox
                    p
                      - echo $description;
                - endif;




//- - else :
//-
//-   section.bg-black.white.clear.ofh
//-     .sw
//-       .cw.rela_12.b_12.c_12.d_12.e_p12
//-         //- .poxya14a_116
//-         //- .poxya_116.rel
//-         //-   h2.oxy.txa-8.txb-6.txc-8.txd-8.mt1-d.txe-7.mt1-e(title='')
//-         //-     - the_title();
//-         .rel.poxa18a_14.mb0.poxb14b_14.poxc14c_14.poxd14d_14.poxe11e_12
//-           .rel.paxya14a_12.paxyb12b_12.paxyc12c_12.poxd12d_12.poxe11e_12
//-             .rel._oxap11a_p11.z6._oxbp11b_p11._oxcp11c_p11.poxdp11d_p11.poxep11e_p11
//-               .rel.poxya12a_pox.poxyb12b_pox.poxyc12c_pox.poxyd11d_pox.poxye11e_pox
//-                 h2.txa-11.txb-9.txc-8.txd-8.mt1-d.txe-7.mt1-e(title='')
//-                   - the_title();
//-
//-               - if ($sub_title) :
//-                   .rel.poxya14a_pox.poxyb14b_pox.poxyc38c_pox.poxyd38d_pox.poxye11e_pox
//-                     .txa-6.mt2-a.accent.txb-3.mt2-b.txc-3.mt2-c.txd-2.mt2-d.txe-3.mt2-e
//-                       - echo $sub_title;
//-               - endif;
//-
//-               - if ($description) :
//-                 .rel.poxa14a_14.poxyb14b_pox.poxyc14c_pox.poxyd11d_pox.poxye11e_pox
//-                   p
//-                     - echo $description;
//-               - endif;


- endif;
