/////////////////////////////////
// ZONE A GRID SETTINGS
/////////////////////////////////
$font-size = 16
$em = $font-size / 1rem
$column = 48

// Gutter X/Y
$gx = 48
$gy = 48
$gs = 0

/////////////////////////////////
// Zone
/////////////////////////////////
$zone_upper = A
$zone_lower = a

/////////////////////////////////
// Type Scale
/////////////////////////////////
// $type_scale = 'golden-ratio'
// $type_scale = 'perfect-fifth'
$type_scale = 'augmented-fourth'
// $type_scale = 'major-third'
// $type_scale = 'minor-third'
// $type_scale = 'major-second'
// $type_scale = 'minor-second'

/////////////////////////////////
// GRID Ratio Settings (Denominator)
// Zone Numerators array ( 1/ $ratio)
/////////////////////////////////
$ratio-range = 1 2 3 4 5 6 8 10 11 12 14 16 18 24
$numerators = ($zone_upper 1) ($zone_upper 2) ($zone_upper 3) ($zone_upper 5)


// Margin Ratios
$gx_rem = (($gx) / $em)rem
$gy_rem = (($gy) / $em)rem

/////////////////////////////////
// Zone Custom Styles
/////////////////////////////////
accent = #FFC107
body
	line-height 1.2

.logo-color
	background-color accent
.bgc__accent__0
	background-color rgba(accent, 0)
.bgc__accent__10
	background-color rgba(accent, .10)
.bgc__accent__20
	background-color rgba(accent, .20)
.bgc__accent__30
	background-color rgba(accent, .30)
.bgc__accent__40
	background-color rgba(accent, .40)
.bgc__accent__50
	background-color rgba(accent, .50)
.bgc__accent__60
	background-color rgba(accent, .60)
.bgc__accent__70
	background-color rgba(accent, .70)
.bgc__accent__80
	background-color rgba(accent, .80)
.bgc__accent__90
	background-color rgba(accent, .90)
.bgc__accent,
.bgc__accent__100
	background-color rgba(accent, 1)

poxy-type-scale($type_scale, $zone_lower)
