// @import '../poxy/_mixins'
@import '../../bower_components/poxy/stylus/_mixins'
@import '_zone-a-settings'

// ZONE SIZE
$zone-max = 25
$zone-min = 25

// OUTPUT GRID
poxy-copy-width($zone-min, $zone-max, $gx, $gy, $gs)
poxy-zone-width($zone_upper, $zone_lower, $zone-min, $zone-max, $numerators, $gx, $gs)
poxy-zone-height($zone_upper, $zone_lower, $zone-min, $zone-max, $numerators, $gx, $gs)
zone-core-max($zone_lower, $zone-min, $zone-max, $gx_rem, $gy_rem, 1)
