// @import '../poxy/_mixins'
@import '../../bower_components/poxy/stylus/_mixins'


/////////////////////////////////
// Zone
/////////////////////////////////
$zone_upper = A
$zone_lower = a

/////////////////////////////////
// GRID SETTINGS
/////////////////////////////////
$font-size = 16
$em = $font-size / 1rem
$column = 48

// Gutter X/Y
$gx = 36
$gy = 36
$gs = 8

// ZONE SIZE
$zone-max = 25
$zone-min = 16

// Margin Ratios
$gx_rem = (($gx) / $em)rem
$gy_rem = (($gy) / $em)rem

/////////////////////////////////
// GRID Ratio Settings (Denominator)
// Zone Numerators array ( 1/ $ratio)
/////////////////////////////////
$ratio-range = 1 2 3 4 5 6 8 10 12 14 16 18 24
$numerators = ($zone_upper 1) ($zone_upper 2) ($zone_upper 3) ($zone_upper 5)


// OUTPUT GRID
poxy-copy-width($zone-min, $zone-max, $gx, $gy, $gs)
poxy-zone-width($zone_upper, $zone_lower, $zone-min, $zone-max, $numerators, $gx, $gs)
poxy-zone-height($zone_upper, $zone_lower, $zone-min, $zone-max, $numerators, $gx, $gs)
zone-core-max($zone_lower, $zone-min, $zone-max, $gx_rem, $gy_rem, 1)


// // DEV
// figure
// 	background #666
.waterfall > figure:nth-child(4n+1)
	transition-delay 0.0s
.waterfall > figure:nth-child(4n+2)
	transition-delay 0.2s
.waterfall > figure:nth-child(4n+3)
	transition-delay 0.4s
.waterfall > figure:nth-child(4n+4)
	transition-delay 0.6s
