section#guide-wrapper.clear.rel.p100
	.horizontal-guides.paxy.fill
		section
			.sw.ap11a_14bp11b_14cp11c_18dp11d_18ep11e_18
				.paxy.mt4.ml1.zeta

		section
			.sw.ap11a_14bp11b_14cp11c_18dp11d_18ep11e_18
				.paxy.mt4.ml1.zeta

		section
			.sw.ap11a_14bp11b_14cp11c_18dp11d_18ep11e_18
				.paxy.mt4.ml1.zeta

		section
			.sw.ap11a_14bp11b_14cp11c_18dp11d_18ep11e_18
				.paxy.mt4.ml1.zeta


		section
			.sw.ap11a_14bp11b_14cp11c_18dp11d_18ep11e_18
				.paxy.mt4.ml1.zeta



	.vertical-guides.pla__15.plb__16.plc__14
		.sw
			.cw
				figure.poxya18a_18poxyb18poxyc15poxyd14poxye14.rel
					figure.paxya18a_31paxyb18b_21paxyc14c_21paxyd14d_31paxye14e_31

				figure.poxya18a_18poxyb18poxyc15poxyd14poxye14.rel
					figure.paxya18a_31paxyb18b_21paxyc14c_21paxyd14d_31paxye14e_31

				figure.poxya18a_18poxyb18poxyc15poxyd14poxye14.rel
					figure.paxya18a_31paxyb18b_21paxyc14c_21paxyd14d_31paxye14e_31

				figure.poxya18a_18poxyb18poxyc15poxyd14poxye14.rel
					figure.paxya18a_31paxyb18b_21paxyc14c_21paxyd14d_31paxye14e_31

				figure.poxya18a_18poxyb18poxyc15poxyd14poxye14.rel
					figure.paxya18a_31paxyb18b_21paxyc14c_21paxyd14d_31paxye14e_31

				figure.poxya18a_18poxyb18poxyc15poxyd14poxye14.rel
					figure.paxya18a_31paxyb18b_21paxyc14c_21paxyd14d_31paxye14e_31

				figure.poxya18a_18poxyb18poxyc15poxyd14poxye14.rel
					figure.paxya18a_31paxyb18b_21paxyc14c_21paxyd14d_31paxye14e_31

				figure.poxya18a_18poxyb18poxyc15poxyd14poxye14.rel
					figure.paxya18a_31paxyb18b_21paxyc14c_21paxyd14d_31paxye14e_31


				//- figure.poxya15a_15poxyb16poxyc15poxyd14poxye14.rel
				//-	 figure.paxya14a_31paxyb16b_21paxyc14c_21paxyd14d_31paxye14e_31
				//-
				//- figure.poxya15a_15poxyb16poxyc15poxyd14poxye14.rel
				//-	 figure.paxya14a_31paxyb16b_21paxyc14c_21paxyd14d_31paxye14e_31
				//-
				//- figure.poxya15a_15poxyb16poxyc15poxyd14poxye14.rel
				//-	 figure.paxya14a_31paxyb16b_21paxyc14c_21paxyd14d_31paxye14e_31
				//-
				//- figure.poxya15a_15poxyb16poxyc15poxyd14poxye14.rel
				//-	 figure.paxya14a_31paxyb16b_21paxyc14c_21paxyd14d_31paxye14e_31
				//-
				//- figure.poxya15a_15poxyb16poxyc15poxyd14poxye14.rel
				//-	 figure.paxya14a_31paxyb16b_21paxyc14c_21paxyd14d_31paxye14e_31
				//-
				//- figure.poxya15a_15poxyb16poxyc15poxyd14poxye14.rel
				//-	 figure.paxya14a_31paxyb16b_21paxyc14c_21paxyd14d_31paxye14e_31


				//- 4 Cols
				//- figure.poxya14a_14poxyb14poxyc14poxyd14poxye14.rel.bg0
				//- 	figure.paxya14a_31paxyb14b_21paxyc14c_21paxyd14d_31paxye14e_31.bg0
				//-
				//- figure.poxya14a_14poxyb14poxyc14poxyd14poxye14.rel.bg0
				//- 	figure.paxya14a_31paxyb14b_21paxyc14c_21paxyd14d_31paxye14e_31.bg0
				//-
				//- figure.poxya14a_14poxyb14poxyc14poxyd14poxye14.rel.bg0
				//- 	figure.paxya14a_31paxyb14b_21paxyc14c_21paxyd14d_31paxye14e_31.bg0
				//-
				//- figure.poxya14a_14poxyb14poxyc14poxyd14poxye14.rel.bg0
				//- 	figure.paxya14a_31paxyb14b_21paxyc14c_21paxyd14d_31paxye14e_31.bg0
