section.hole
	.sw
		.cw
			figure.poxy.a11a_18b11b_18c11c_18d11d_18e11e_18
			figure.rel.poxy.a14a_14.b14b_14.c14c_14
				//- .oxy.p100
				//- 	button.poxy.b111b_111
				//- 		svg-icon.oxy.b116b_116(p='chevronleft')
				//- 	button.qoxy.b111b_111
				//- 		svg-icon.oxy.b116b_116(p='chevronright')
			figire.poxy.a12.b34.mb1

				h2.fs___8.mb4.txt-0
					| Paul Wood
				h3.fs___5 D E S I G N  +  C O D E

				.mt1.fs___1 *This site is a work in progress.

				//- button.tx-1.mb2 Web Designer + Developer

			figure.poxy.a11a_14b11b_18c11c_14d11d_14e11e_14

//- section.clear.bg-black.hole
//- 	.sw
//- 		.cw
//- 			figure.mb0.poxy.b14b_118




//- section.hole
//- 	.sw
//- 		.cw
//- 			.fs___1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac sapien sit amet lorem placerat pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sapien orci, mollis ut sapien laoreet, lobortis vestibulum libero. Sed convallis tortor quis eleifend dignissim. Vestibulum non felis ut arcu lacinia varius in ut turpis. Integer augue arcu, viverra in dapibus vel, tempor vel odio. In quis mi at quam tristique sollicitudin. Nam convallis enim et lectus volutpat, a gravida elit ultricies. Nulla et turpis nec diam tincidunt pharetra eget ut arcu. Praesent efficitur interdum tincidunt. Morbi risus nibh, aliquet semper ligula nec, tincidunt volutpat odio. Donec eget dignissim ipsum. Integer non massa vel massa pulvinar ullamcorper.
//- 			.fs___2 Phasellus laoreet quam erat, vitae placerat lacus fringilla posuere. Proin luctus elementum justo, eget tempus turpis varius vel. Sed pulvinar mi augue, feugiat auctor augue mattis a. Cras viverra congue massa, nec lobortis lacus. Phasellus tincidunt vitae diam in fringilla. Curabitur id odio sed nunc fringilla tempor. Nullam quis odio placerat, fringilla mauris eu, aliquet massa. Nam est neque, malesuada dignissim aliquet nec, laoreet vitae ipsum. Donec lacinia sed justo ut mollis. Nunc eu volutpat lorem. Nullam a ornare felis. Vivamus dapibus mi a mi ornare maximus. Morbi varius odio vel magna gravida porttitor. Suspendisse sem urna, bibendum non dolor a, laoreet tristique lacus. Donec tincidunt, lorem ut tincidunt aliquet, est velit posuere quam, sed mollis purus nibh eu ex. Ut id iaculis mauris.
//- 			.fs___3 Sed congue quis nibh a interdum. Nulla eu orci ipsum. Nam auctor dapibus urna, et ornare arcu commodo vitae. Nunc cursus purus sed condimentum consectetur. Nulla vitae rutrum ex, eu vestibulum leo. Suspendisse tincidunt rhoncus porttitor. Integer non fermentum felis. Morbi commodo tempor ipsum viverra tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse non placerat neque. Sed mi eros, iaculis tempor feugiat dictum, rhoncus at urna. Nunc vitae lobortis urna. Donec accumsan libero vel neque placerat placerat. Nullam nisl felis, tempor at nibh eget, volutpat mollis erat. Vivamus laoreet quis lorem eu convallis.
//- 			.fs___4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac sapien sit amet lorem placerat pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sapien orci, mollis ut sapien laoreet, lobortis vestibulum libero. Sed convallis tortor quis eleifend dignissim. Vestibulum non felis ut arcu lacinia varius in ut turpis. Integer augue arcu, viverra in dapibus vel, tempor vel odio. In quis mi at quam tristique sollicitudin. Nam convallis enim et lectus volutpat, a gravida elit ultricies. Nulla et turpis nec diam tincidunt pharetra eget ut arcu. Praesent efficitur interdum tincidunt. Morbi risus nibh, aliquet semper ligula nec, tincidunt volutpat odio. Donec eget dignissim ipsum. Integer non massa vel massa pulvinar ullamcorper.
//- 			.fs___5 Phasellus laoreet quam erat, vitae placerat lacus fringilla posuere. Proin luctus elementum justo, eget tempus turpis varius vel. Sed pulvinar mi augue, feugiat auctor augue mattis a. Cras viverra congue massa, nec lobortis lacus. Phasellus tincidunt vitae diam in fringilla. Curabitur id odio sed nunc fringilla tempor. Nullam quis odio placerat, fringilla mauris eu, aliquet massa. Nam est neque, malesuada dignissim aliquet nec, laoreet vitae ipsum. Donec lacinia sed justo ut mollis. Nunc eu volutpat lorem. Nullam a ornare felis. Vivamus dapibus mi a mi ornare maximus. Morbi varius odio vel magna gravida porttitor. Suspendisse sem urna, bibendum non dolor a, laoreet tristique lacus. Donec tincidunt, lorem ut tincidunt aliquet, est velit posuere quam, sed mollis purus nibh eu ex. Ut id iaculis mauris.
//- 			.fs___6 Sed congue quis nibh a interdum. Nulla eu orci ipsum. Nam auctor dapibus urna, et ornare arcu commodo vitae. Nunc cursus purus sed condimentum consectetur. Nulla vitae rutrum ex, eu vestibulum leo. Suspendisse tincidunt rhoncus porttitor. Integer non fermentum felis. Morbi commodo tempor ipsum viverra tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse non placerat neque. Sed mi eros, iaculis tempor feugiat dictum, rhoncus at urna. Nunc vitae lobortis urna. Donec accumsan libero vel neque placerat placerat. Nullam nisl felis, tempor at nibh eget, volutpat mollis erat. Vivamus laoreet quis lorem eu convallis.
//- 				.fs___2.ml1 Sed congue quis nibh a interdum. Nulla eu orci ipsum. Nam auctor dapibus urna, et ornare arcu commodo vitae. Nunc
//-
//-
//- section.hole
//- 	.sw
//- 		.cw
//- 			div
//- 				.fs___1 1 A Visual Type Scale
//- 				.fs___2 2 A Visual Type Scale
//- 				.fs___3 3 A Visual Type Scale
//- 				.fs___4 4 A Visual Type Scale
//- 				.fs___5 5 A Visual Type Scale
//- 				.fs___6 6 A Visual Type Scale
//- 				.fs___7 7 A Visual Type Scale
//- 				.fs___8 8 A Visual Type Scale







//- section
//- 	.sw
//- 		.cw
//- 			h1 SVG Loading Images
//- 			//- 0
//- 			.loader(title='0')
//- 				svg#loader-1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='40px', height='40px', viewbox='0 0 40 40', enable-background='new 0 0 40 40', xml:space='preserve')
//- 					path(opacity='0.2', fill='#000', d='M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946\
//- 					s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634\
//- 					c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z')
//- 					path(fill='#000', d='M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0\
//- 					C22.32,8.481,24.301,9.057,26.013,10.047z')
//- 						animatetransform(attributetype='xml', attributename='transform', type='rotate', from='0 20 20', to='360 20 20', dur='0.5s', repeatcount='indefinite')
//- 			//- 2
//- 			.loader(title='1')
//- 				svg#loader-1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='40px', height='40px', viewbox='0 0 50 50', style='enable-background:new 0 0 50 50;', xml:space='preserve')
//- 					path(fill='#000', d='M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z')
//- 						animatetransform(attributetype='xml', attributename='transform', type='rotate', from='0 25 25', to='360 25 25', dur='0.6s', repeatcount='indefinite')
//- 			//- 3
//- 			.loader(title='2')
//- 				svg#loader-1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='40px', height='40px', viewbox='0 0 50 50', style='enable-background:new 0 0 50 50;', xml:space='preserve')
//- 					path(fill='#000', d='M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z')
//- 						animatetransform(attributetype='xml', attributename='transform', type='rotate', from='0 25 25', to='360 25 25', dur='0.6s', repeatcount='indefinite')
//- 			//- //- 4
//- 			.loader(title='3')
//- 				svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='24px', height='24px', viewbox='0 0 24 24', style='enable-background:new 0 0 50 50;', xml:space='preserve')
//- 					rect(x='0', y='0', width='4', height='7', fill='#333')
//- 					animatetransform(attributetype='xml', attributename='transform', type='scale', values='1,1; 1,3; 1,1', begin='0s', dur='0.6s', repeatcount='indefinite')
//- 						rect(x='10', y='0', width='4', height='7', fill='#333')
//- 						animatetransform(attributetype='xml', attributename='transform', type='scale', values='1,1; 1,3; 1,1', begin='0.2s', dur='0.6s', repeatcount='indefinite')
//- 							rect(x='20', y='0', width='4', height='7', fill='#333')
//- 							animatetransform(attributetype='xml', attributename='transform', type='scale', values='1,1; 1,3; 1,1', begin='0.4s', dur='0.6s', repeatcount='indefinite')
//- 			//- //- 5
//- 			.loader(title='4')
//- 				svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='24px', height='30px', viewbox='0 0 24 30', style='enable-background:new 0 0 50 50;', xml:space='preserve')
//- 					rect(x='0', y='0', width='4', height='10', fill='#333')
//- 					animatetransform(attributetype='xml', attributename='transform', type='translate', values='0 0; 0 20; 0 0', begin='0', dur='0.6s', repeatcount='indefinite')
//- 						rect(x='10', y='0', width='4', height='10', fill='#333')
//- 						animatetransform(attributetype='xml', attributename='transform', type='translate', values='0 0; 0 20; 0 0', begin='0.2s', dur='0.6s', repeatcount='indefinite')
//- 							rect(x='20', y='0', width='4', height='10', fill='#333')
//- 							animatetransform(attributetype='xml', attributename='transform', type='translate', values='0 0; 0 20; 0 0', begin='0.4s', dur='0.6s', repeatcount='indefinite')


//- .poxy
//- 	.loader
//- 		hr



//- - get_template_part( 'part-slideshow-home' );
//-
//- #cScroller2(style="overflow-y:scroll; height:100vh;")
//- 	section
//- 		.sw
//- 			.cw.a_12.b_12.c_12.mt1.mb1
//- 					h2.bold.mb2.title.ml2 Section 1
//-
//- 		section
//- 			.sw
//- 				.cw.a_12.b_12.c_12.mt1.mb1
//- 					h2.bold.mb2.title.ml2 Section 1
//-
//- 		section
//- 			.sw
//- 				.cw.a_12.b_12.c_12.mt1.mb1
//- 						h2.bold.mb2.title.ml2 Section 1
//-
//-
//- #cScroller.qaxy(style="overflow-y:hide; height:100vh;")
//- 	ul
//- 		li
//- 			.cw.a_12.b_12.c_12.mt1.mb1
//- 					h2.bold.mb2.title.ml2 Section 1
//-
//- 		li
//- 			.cw.a_12.b_12.c_12.mt1.mb1
//- 					h2.bold.mb2.title.ml2 Section 1
//-
//- 		li
//- 			.cw.a_12.b_12.c_12.mt1.mb1
//- 					h2.bold.mb2.title.ml2 Section 1
//-
//-
//- .parallax.bg0.a_58.ofv.bg-black
//- 	.parallax__layer.parallax__layer__0.a_58.ofv
//- 		//- Add your site or application content here
//- 		.horizontal-guides.paxy.ap11ap_11
//- 			//- section.bg0
//- 			//-	 .sw.ap11a_14
//- 			section.bg0
//- 				.sw.ap11a_18bp11b_18
//- 			section.bg0
//- 				.sw.ap11a_18bp11b_18
//- 			section.bg0
//- 				.sw.ap11a_18bp11b_18
//- 			section.bg0
//- 				.sw.ap11a_18bp11b_18
//- 			section.bg0
//- 				.sw.ap11a_18bp11b_18
//- 			section.bg0
//- 				.sw.ap11a_18bp11b_18
//- 			section.bg0
//- 				.sw.ap11a_18bp11b_18
//- 			section.bg0
//- 				.sw.ap11a_18bp11b_18
//- 			section.bg0
//- 				.sw.ap11a_18bp11b_18
//- 			section.bg0
//- 				.sw.ap11a_18bp11b_18
//- 			section.bg0
//- 				.sw.ap11a_18bp11b_18
//- 			section.bg0
//- 				.sw.ap11a_18bp11b_18
//- 			section.bg0
//- 				.sw.ap11a_18bp11b_18
//- 			section.bg0
//- 				.sw.ap11a_18bp11b_18
//- 			section.bg0
//- 				.sw.ap11a_18bp11b_18
//- 			section.bg0
//- 				.sw.ap11a_18bp11b_18
//- 			section.bg0
//- 				.sw.ap11a_18bp11b_18
//- 			section.bg0
//- 				.sw.ap11a_18bp11b_18
//- 			section.bg0
//- 				.sw.ap11a_18bp11b_18
//-
//-
//-
//-
//- 		.center-x-line
//- 		section.clear.vertical-guides.bg0
//- 			.sw
//- 				.cw
//- 					figure.poxya14poxyb14poxyc14poxyd14poxye14.rel
//- 						figure.paxya14a_21paxyb14b_21paxyc14c_21paxyd14d_31paxye14e_31.bg0
//-
//- 					figure.poxya14poxyb14poxyc14poxyd14poxye14.rel
//- 						figure.paxya14a_21paxyb14b_21paxyc14c_21paxyd14d_31paxye14e_31.bg0
//-
//- 					figure.poxya14poxyb14poxyc14poxyd14poxye14.rel
//- 						figure.paxya14a_21paxyb14b_21paxyc14c_21paxyd14d_31paxye14e_31.bg0
//-
//- 					figure.poxya14poxyb14poxyc14poxyd14poxye14.rel
//- 						figure.paxya14a_21paxyb14b_21paxyc14c_21paxyd14d_31paxye14e_31.bg0
//-
//-
//-
//-
//- 	//- .parallax__layer.parallax__layer__1.a_58.bg-contain.bgprc(style="background-image: url('/images/about/about-me.jpg')")
//- 	.parallax__layer.parallax__layer__1.a_58.bgs-100.bgp-rc
//-
//- 		section.bg-fade.a_58
//- 			.sw
//- 				.cw
//- 					.poxy.a11a_14
//- 					.poxy.a11a_14
//- 						.wrap
//- 							.poxy.a14a_14
//- 								//- .subtitle.zeta.tx-r.mt1 Video Editing
//-
//- 							.poxy.a34a_18.rel
//- 								.paxy
//- 									//- strong.title.text.giga PAUL WOOD
//- 									.title.text.mega(style="line-height: 1; margin-left: -.05em") PAUL WOOD
//- 									.gamma Design + Code | Hybrid
//-
//-
//- 								//- .paxy
//- 								//-	 strong.text.giga.title WORK
//-
//- 	.parallax__layer.parallax__layer__2.bgs-cover.bgp-cb(style="background-image: url('/images/home/parallax2.png')")
//- 	.parallax__layer.parallax__layer__3.bgs-cover.bgp-cb(style="background-image: url('/images/home/parallax3.png')")
//- 	.parallax__layer.parallax__layer__4.bgs-cover.bgp-cb(style="background-image: url('/images/home/parallax4.png')")
//- 	.parallax__layer.parallax__layer__5.bgs-cover.bgp-cb(style="background-image: url('/images/home/parallax5.png')")
//-
//- 	.parallax__layer.parallax__layer__6.a_12
//-
//-
//-
//-
//- //- section.brb
//- //- 	.sw
//- //- 		.cw.a_11.b_11
//-
//-
//- - get_template_part( 'part-slideshow-home' );









//-
//-
//- :php
//- 	$args = array(
//- 		'orderby' => 'name',
//- 		//- 'posts_per_page' => 8,
//- 		'meta_key' => '_poxy_client_featured',
//- 		'post_type' => array('client')
//- 	);
//-
//- 	$sections = new WP_Query( $args );
//-
//- section(class='___a14a_14b14b_14c14c_14d14d_14e12e_12 ofh hole', style='background-color: rgba(230,230,230,1)')
//- 	.sw
//- 		.cw.thumbs
//- 			- while ($sections->have_posts()) : $sections->the_post();
//-
//- 					- $link = get_the_permalink();
//- 					- $title = get_the_title();
//- 					- $image_url = get_poxy_featured('full');
//- 					- $image = $image_url ? 'background-image: url('. $image_url. ')' : 'background-image: url('.get_bloginfo('template_url').'/images/placeholder-logo-white.svg)';
//-
//- 					- $color_red = get_post_meta($post->ID, "_poxy_client_color_red", true) ? get_post_meta($post->ID, "_poxy_client_color_red", true) : '0';
//- 					- $color_green = get_post_meta($post->ID, "_poxy_client_color_green", true) ? get_post_meta($post->ID, "_poxy_client_color_green", true) : '0';
//- 					- $color_blue = get_post_meta($post->ID, "_poxy_client_color_blue", true) ? get_post_meta($post->ID, "_poxy_client_color_blue", true) : '0';
//- 					- $background_color = 'background-color: rgba('.$color_red.','.$color_green.','.$color_blue.',.9)';
//-
//- 					figure.z1_45.br2
//- 						div
//- 							a(href!="<?php echo $link; ?>", rel="bookmark")
//- 								//- span.oxy.gold-filter.br2.fill-95
//- 								span.oxy.inside-bevel.br2
//- 								span(style!='<?php echo $background_color; ?>').accent-border.oxy.br2.fill-95
//- 								span.highlight-border.oxy.br2.fill-95
//- 								span.thumb.oxy.ofh.br2.bg-contain.bgp-cc
//- 									span(style!='<?php echo $image; ?>').icon._oxya18a_18._oxyb18b_18._oxyc18c_18.oxy.ofh.bg-contain.bgp-cc
//- 									//- span(style!='<?php echo $slide_image; ?>').oxy.br2.bg__slide.bg-cover.bgp-cl.fill
//- 									//- .gloss.oxy.z5.a13a_13.b13b_13
//- 								.shadow.oxy.shadow.ofh.br2
//- 								//- span(style!='<?php echo $slide_image; ?>').oxy.br2.bg__slide.bg-cover.bgp-cl.fill-94
//- 								//- .title.txa-2.txb-2.tx-c.oxy6.ap100.bp100.cp100.dp100.cp100.z4.mb1
//- 								//- 	- echo $title;
//- 			- endwhile;
//- 			- wp_reset_query();
//-
//-
//-
//-
//-
//-
//- section
//- 	.sw
//- 		.cw.mt2
//- 		.cw.a12.b12.c12
//- 			h2.txa-6.txb-6.mb2.ml2.title Archives
//- 			p.ml2 We are an Advertising and Production Agency that uses excellence to forge bonds with customers and propel businesses.
//-
//-
//- :php
//- 	$args = array(
//- 		'orderby' => 'name',
//- 		'posts_per_page' => 99,
//- 		'meta_key' => '_poxy_client_featured',
//- 		'meta_compare' =>	 'NOT EXISTS',
//- 		//- 'meta_key' => '_poxy_client_show',
//- 		'post_type' => array('client')
//- 	);
//-
//- 	$sections = new WP_Query( $args );
//-
//-
//- section(class='___a16a_16b16b_16c15c_15d14d_14e14e_14 hole ofh ')
//- 	.sw
//- 		.cw.thumbs
//- 			- while ($sections->have_posts()) : $sections->the_post();
//- 					- $link = get_the_permalink();
//- 					- $title = get_the_title();
//- 					- $image_url = get_poxy_featured('full');
//- 					- $image = $image_url ? 'background-image: url('. $image_url. ')' : 'background-image: url('.get_bloginfo('template_url').'/images/placeholder-logo-white.svg)';
//- 					- $color_red = get_post_meta($post->ID, "_poxy_client_color_red", true) ? get_post_meta($post->ID, "_poxy_client_color_red", true) : '0';
//- 					- $color_green = get_post_meta($post->ID, "_poxy_client_color_green", true) ? get_post_meta($post->ID, "_poxy_client_color_green", true) : '0';
//- 					- $color_blue = get_post_meta($post->ID, "_poxy_client_color_blue", true) ? get_post_meta($post->ID, "_poxy_client_color_blue", true) : '0';
//- 					- $background_color = 'background-color: rgba('.$color_red.','.$color_green.','.$color_blue.',.9)';
//- 					figure.z1_45.br2
//- 						div
//- 							a(href!="<?php echo $link; ?>", rel="bookmark")
//- 								//- span.oxy.gold-filter.br2.fill-95
//- 								span.oxy.inside-bevel.br2
//- 								span(style!='<?php echo $background_color; ?>').accent-border.oxy.br2.fill-95
//- 								span.highlight-border.oxy.br2.fill-95
//- 								span.thumb.oxy.ofh.br2.bg-contain.bgp-cc
//- 								span(style!='<?php echo $image; ?>').oxy.ofh.bg-contain.bgp-cc.icon.a110a_110b110b_110c18c_18d18d18e18e_18
//- 									//- span(style!='<?php echo $slide_image; ?>').oxy.br2.bg__slide.bg-cover.bgp-cl.fill
//- 									//- .gloss.oxy.z5.a13a_13.b13b_13
//- 								//- .shadow.oxy.shadow.ofh.br2
//- 								//- span(style!='<?php echo $slide_image; ?>').oxy.br2.bg__slide.bg-cover.bgp-cl.fill-94
//- 								//- .title.txa-2.txb-2.tx-c.oxy6.ap100.bp100.cp100.dp100.cp100.z4.mb1
//- 								//- 	- echo $title;
//- 			- endwhile;
//- 			- wp_reset_query();


//- section.clear
//- 	.sw
//- 		.cw
//- 			figure.mb0.poxy.b14b_12
//- 			figure.rel.mb0.poxy.b14b_12
//- 				figure.br___1.mb0.paxy.b11b_12.bg-black.hole
