:php
  // Get the custom fields based on the $presenter term ID


  $term_id = $wp_query->queried_object->term_id;
  $image = poxy_tax_image($term_id);
  $image = 'background-image: url('. $image. ')';
  $title = $wp_query->queried_object->name;
  $slug = $wp_query->queried_object->slug;
  $sub_title = $wp_query->queried_object->name;
  $copywrite_name = $wp_query->queried_object->term_id;
  $copywrite_url = $wp_query->queried_object->term_id;
  $bgp = $wp_query->queried_object->term_id;
  $bgs = $wp_query->queried_object->term_id;
  $description = $wp_query->queried_object->description;
  $button_url = false;





  $args = array(
    'orderby'       => 'name',
    'hide_empty'    => true,
    'fields'        => 'all',
    'parent'         => $term_id,
    'hierarchical'  => true,
    'child_of'      => 0,
    'pad_counts'    => false,
    'cache_domain'  => 'core'
  );

  $taxonomy_name = $wp_query->tax_query->queries[0]['taxonomy'];
  $termchildren = get_terms( $taxonomy_name, $args );

  //- $image_position = 'cc';
  //- if (isset($tax_meta['image_position']) {
  //-   $image_position = $tax_meta['image_position'];
  //- }

  $tax_meta = get_option( "taxonomy_term_$term_id" );
  $copywrite_name = $tax_meta['copywrite_name'];
  $copywrite_url = $tax_meta['copywrite_url'];


  $bgs = $tax_meta['bgs'];


  $child_term = get_term( $term_id, $taxonomy_name );
  $parent_term = get_term( $child_term->parent, $taxonomy_name );
  $parent_name = $parent_term->name;
  $parent_slug = $parent_term->slug;




- poxy_get_tax_header();

- if ($termchildren) :

  //- section.bg-black.white.clear.ofh
  //-   - if ($copywrite_name) :
  //-       figcaption.copywrite.zeta.daxy.p4.z6
  //-         - if ($copywrite_url) :
  //-           a(href!="<?php echo $copywrite_url; ?>")
  //-             - echo $copywrite_name;
  //-         - else :
  //-           - echo $copywrite_name;
  //-         - endif;
  //-   - endif;
  //-   .sw
  //-     .cw.rela_12.b_12.c_58.d_58.e_p11
  //-       .paxy.fill.shadow-l.z2.hd.he
  //-       .rel.mb0.qoxya18a_12.qoxyb14b_12.qoxyc14c_58.poxyd11d_12.poxye11e_12
  //-         figure.rel.image.qaxya34a_p100.qaxyb11b_p100.qaxyc11c_p100._oxyd54d_p100._oxye54e_p100.bgp-rc(style!='<?php echo $image; ?>')
  //-           .paxy.fill.shadow-r.z2.hd.he
  //-       .rel.poxa18a_12.mb0.poxb14b_12.poxc14c_58.poxd14d_58.poxe11e_34
  //-         .wrap
  //-           .rel.paxya12a_12.paxyb12b_12.paxyc12c_58.poxd12d_58.poxe11e_12
  //-             .rel._oxap11a_p11.z6._oxbp11b_p11._oxcp11c_p11.poxdp11d_p11.poxep11e_p11
  //-               .rel.poxya12a_pox.poxyb12b_pox.poxyc12c_pox.poxyd11d_pox.poxye11e_pox
  //-                 h2.txa-11.txb-9.txc-8.txd-8.mt1-d.txe-7.mt1-e(title='')
  //-                   - echo $title;
  //-
  //-               - if ($sub_title) :
  //-                   .rel.poxya38a_pox.poxyb38b_pox.poxyc38c_pox.poxyd38d_pox.poxye11e_pox
  //-                     .txa-6.mt2-a.accent.txb-3.mt2-b.txc-3.mt2-c.txd-2.mt2-d.txe-3.mt2-e
  //-                       - echo $sub_title;
  //-               - endif;
  //-
  //-               - if ($description) :
  //-                 .rel.poxa14a_14.poxyb14b_pox.poxyc14c_pox.poxyd11d_pox.poxye11e_pox
  //-                   p
  //-                     - echo $description;
  //-               - endif;
  //-
  //-               - if($button_url) :
  //-                   .rel.poxap11a_14.poxbp11b_14.poxcp11c_14.poxdp11d_14.poxep11e_14
  //-                     a(href!='<?php echo $button_url; ?>')
  //-                     button.btn.btn-svg(type='button')
  //-                       svg.btn_svg(version='1.1', viewbox='0 0 30 20', preserveaspectratio='none')
  //-                         rect.btn_svg_shape(width='30', height='40')
  //-                       span Learn More
  //-               - endif;


  - poxy_get_tax_header();

  - if ($slug == 'speed-rings') :
    - get_template_part( 'part-speedring-finder');
    - poxy_get_parents($termchildren, 1, $bgp, $bgs);
  - elseif ($slug == 'film-video') :
    - get_template_part( 'part-breadcrumbs' );
    - poxy_get_parents($termchildren, 1, $bgp, $bgs);
  - else :
    - get_template_part( 'part-breadcrumbs' );
    - poxy_get_parents($termchildren, 1, $bgp, $bgs);
  - endif;

  //- - foreach ( $termchildren as $child ) :
  //-
  //-   - $title = $child->name;
  //-   - $description = $child->description;
  //-   - $slug = $child->slug;
  //-   - $term_id = $child->slug;
  //-   - $image = poxy_tax_image($term_id);
  //-   - $image = 'background-image: url('. $image. ')';
  //-
  //-   section
  //-     .sw
  //-       .cw
  //-         figure.rel.image.poxya34a_38.poxyb34b_12.poxyc12c_12.poxyd11d_12.poxye11e_12.bgp-cc.bgs-contain(style!='<?php echo $image; ?>')
  //-           a(href!="<?php echo $slug; ?>", rel="bookmark").paxy.fill
  //-         .rel.poxya14a_14.poxyb14b_14.poxyc12c_12.11dpoxd_11.11epoxe_11
  //-
  //-           a(href!="<?php echo $slug; ?>", rel="bookmark")
  //-             h3.txa-6.txb-4.txc-4.txd-5.txe-3
  //-               - echo $title;
  //-           .poxyap11.poxybp11.poxycp11.poxydp11.poxyep11
  //-             .poxya112.poxyb112.poxyc18.poxyd16.poxye14.line.mt1.mb1.bg-black
  //-           p
  //-             - echo $description;
  //-           a.poxy.mt1(href!="<?php echo $slug; ?>", rel="bookmark")
  //-             button.p2 Read More
  //-
  //- - endforeach;
- else :
  //- :php
  //-
  //-   $child_term = get_term( $term_id, $taxonomy_name );
  //-   $parent_term = get_term( $child_term->parent, $taxonomy_name );
  //-   $parent_name = $parent_term->name;
  //-   $parent_slug = $parent_term->slug;
  //-
  //- section.bg-black.white.clear.ofh
  //-   - if ($copywrite_name) :
  //-       figcaption.copywrite.zeta.daxy.p4.z6
  //-         - if ($copywrite_url) :
  //-           a(href!="<?php echo $copywrite_url; ?>")
  //-             - echo $copywrite_name;
  //-         - else :
  //-           - echo $copywrite_name;
  //-         - endif;
  //-   - endif;
  //-   .sw
  //-     .cw.rela_12.b_12.c_58.d_58.e_p11
  //-       .paxy.fill.shadow-l.z2.hd.he
  //-       .rel.mb0.qoxya18a_12.qoxyb14b_12.qoxyc14c_58.poxyd11d_12.poxye11e_12
  //-         figure.rel.image.qaxya34a_p100.qaxyb11b_p100.qaxyc11c_p100._oxyd54d_p100._oxye54e_p100.bgp-rc.bgs-contain(style!='<?php echo $image; ?>')
  //-           //- .paxy.fill.shadow-r.z2.hd.he
  //-       .rel.poxa18a_12.mb0.poxb14b_12.poxc14c_58.poxd14d_58.poxe11e_34
  //-         .wrap
  //-           .rel.paxya12a_12.paxyb12b_12.paxyc12c_58.poxd12d_58.poxe11e_12
  //-             .rel._oxap11a_p11.z6._oxbp11b_p11._oxcp11c_p11.poxdp11d_p11.poxep11e_p11
  //-               .rel.poxya12a_pox.poxyb12b_pox.poxyc12c_pox.poxyd11d_pox.poxye11e_pox
  //-                 h2.txa-11.txb-9.txc-8.txd-8.mt1-d.txe-7.mt1-e(title='')
  //-                   - echo $title;
  //-
  //-               - if ($parent_name) :
  //-                   .rel.poxya38a_pox.poxyb38b_pox.poxyc38c_pox.poxyd38d_pox.poxye11e_pox
  //-                     .txa-6.mt2-a.accent.txb-3.mt2-b.txc-3.mt2-c.txd-2.mt2-d.txe-3.mt2-e
  //-                       - echo $parent_name;
  //-               - endif;
  //-
  //-               - if ($description) :
  //-                 .rel.poxa14a_14.poxyb14b_pox.poxyc14c_pox.poxyd11d_pox.poxye11e_pox
  //-                   p
  //-                     - echo $description;
  //-               - endif;
  //-
  //-               - if($button_url) :
  //-                   .rel.poxap11a_14.poxbp11b_14.poxcp11c_14.poxdp11d_14.poxep11e_14
  //-                     a(href!='<?php echo $button_url; ?>')
  //-                     button.btn.btn-svg(type='button')
  //-                       svg.btn_svg(version='1.1', viewbox='0 0 30 20', preserveaspectratio='none')
  //-                         rect.btn_svg_shape(width='30', height='40')
  //-                       span Learn More
  //-               - endif;


  - if ($parent_slug == 'speed-rings') :
    - get_template_part( 'part-breadcrumbs' );
    - get_template_part( 'part-speedring-finder');
    - $parent_cat = "speed-rings";
    - $i = "2";
  - else :
    - get_template_part( 'part-breadcrumbs' );
    - $parent_cat = "";
    - $i = "1";
  - endif;

  - poxy_get_children($i);

- endif;
