:php
  global $wp_query;
  $term_id = $wp_query->queried_object->term_id;
  $tax_meta = get_option( "taxonomy_term_$term_id" );


  $title = $wp_query->queried_object->name;
  $description = $wp_query->queried_object->description ? $wp_query->queried_object->description : 'Description: ';
  $button_url = false;

  $image = poxy_tax_image($term_id);
  $image = 'background-image: url('. $image. ')';

  //- $copywrite_name = $tax_meta['copywrite_name'];
  //- $copywrite_url = $tax_meta['copywrite_url'];

  $sub_title = isset($tax_meta['sub_title']) ? isset($tax_meta['sub_title']) : 'Sub Title: ';

- if(isset($tax_meta['cat_color_red']) && isset($tax_meta['cat_color_green']) && isset($tax_meta['cat_color_blue'])) :
  - $red = $tax_meta['cat_color_red'];
  - $green = $tax_meta['cat_color_green'];
  - $blue = $tax_meta['cat_color_blue'];
  - $background_color = 'background-color: rgba('.$red.','.$green.','.$blue.', 1)';
- else :
  - $background_color = 'background-color: rgba(0,0,0,1)';
- endif;


section.white-shadow.tx-c
  .sw
    .cw.pt1.pb1.a_14.b_14.c_14.thumbs

      figure.a14a_14b14b_14c14c_14d14d_14e12e_12.br2
        span.oxy.inside-bevel.br2.z1
        span(style!='<?php echo $background_color; ?>').accent-border.oxy.br2.fill-95
        span(style!='<?php echo $background_color; ?>').highlight-border.oxy.br2.fill-95
        span.thumb.oxy.ofh.br2.bg-contain.bgp-cc
          span(style!='<?php echo $image; ?>').icon._oxya18a_18._oxyb16b_16.oxy.ofh.bg-contain.bgp-cc
        .shadow.oxy.shadow.ofh.br2
        .title.txa-2.txb-2.tx-c.oxy6.ap100.bp100.cp100.dp100.cp100.z4.mb1
            - echo $title;


      .rel.poxya12a_pox.poxyb12b_pox.poxyc12c_pox.poxyd11d_pox.poxye11e_pox
        h1.bold.txa-8.txb-8.txc-10.txd-10
          - echo $title;

        .sub-head.txa-3.mb1.mt2.wp2
          - echo $sub_title

        .description.txa-3.mb1.mt2.wp2
          - echo $description

        .description.txa-3.mb1.mt2.wp2

  - $next = get_permalink(get_adjacent_post(false,'',false));
  - $prev = get_permalink(get_adjacent_post(false,'',true));
  .paxy
    - if ($prev != get_permalink()) :
        a(style="opacity:1;", href!="<?php echo $prev; ?>").flex-next
          | Previous
    - else :
        a(style="opacity:1;", href!="<?php echo poxy_get_first_post_url($post_type); ?>" ).flex-next
          | Previous
    - endif;
  .qaxy
    - if ($next != get_permalink()) :
        a(style="opacity:1;", href!="<?php echo $next; ?>").flex-prev
          | Next
    - else :
        a(style="opacity:1;", href!="<?php echo poxy_get_last_post_url($post_type); ?>").flex-prev"
          | Next
    - endif;
:php
  poxy_get_children(1);
