section.error-404.tx-c
  .sw
    .cw.rel.a_34.b_34.c_11.d_11.e_11
      .oxy
        h1.bold.txa-12.txb-12.txc-12.mb2-c.txd-12.mb2-d.txe-12.mb2-e 404
        h1.txa-12.txb-11.txc-4.mb2-c.txd-5.mb2-d.txe-3.mb2-e
        h3.txa-6.mb2-a.txb-4.mb2-b.txc-4.mb2-c.txd-5.mb2-d.txe-3.mb2-e
          - _e('Page Not Found', 'poxy');;
        p
          - _e("Sorry, but what you're looking for could not be found.", 'poxy');
