.bg-main {
  background-color: #e3e3e3;
}

.accent {
  color: #000 !important;
}

.title {
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 1px 4px 6px #def,0 0 0 #000,1px 4px 6px #def;
}

::-moz-selection {
  background: #000;
  color: #000;
}

::selection {
  background: #000;
  color: #000;
}

html {
  background-color: #e3e3e3;
}

body {
  color: rgba(0,0,0,0.8);
  background-color: #e3e3e3;
}

.header {
  background: transparent;
}

#container {
  background-color: transparent;
}

footer {
  background-size: initial;
}

a {
  color: rgba(0,0,0,0.8);
}

a:hover {
  color: #000;
}

nav a:hover {
  color: #000;
}

.tx-3d {
  color: rgba(0,0,0,0.8);
  text-shadow: 1px 1px 0 #e3dadb,3px 3px 0 rgba(227,218,219,0.9),5px 5px 0 rgba(227,218,219,0.8),7px 7px 0 rgba(227,218,219,0.7),9px 9px 0 rgba(227,218,219,0.6),11px 11px 0 rgba(227,218,219,0.5),13px 13px 0 rgba(227,218,219,0.4),15px 15px 0 rgba(227,218,219,0.3),17px 17px 0 rgba(227,218,219,0.2),19px 19px 0 rgba(227,218,219,0.1),21px 21px 0 rgba(227,218,219,0.08),22px 22px 0 rgba(227,218,219,0.07),23px 23px 0 rgba(227,218,219,0.06),25px 25px 0 rgba(227,218,219,0.04),27px 27px 0 rgba(227,218,219,0.02),28px 28px 0 rgba(227,218,219,0.01),29px 29px 0 rgba(227,218,219,0);
}

nav svg:hover path {
  fill: #000;
}

nav path {
  fill: rgba(0,0,0,0.8);
}

nav .accent svg:hover path {
  fill: rgba(0,0,0,0.8);
}

nav .accent path {
  fill: #000;
}

nav .white svg:hover path {
  fill: #fff;
}

nav .white path {
  fill: #000;
}

.main-logo,
.logo {
  background-image: url("../images/logo-dark.png") !important;
  background-image: url("../images/logo-dark.svg") !important;
}

.thumbs figure {
  position: relative;
  background-image: linear-gradient(to bottom,#111,#333);
  background-image: linear-gradient(45deg,#111 0%,#333 100%);
  box-shadow: 1px 1px 0 0 #fff,2px 2px 0 0 #fff,3px 3px 0 0 rgba(255,255,255,0.9),4px 4px 0 0 rgba(255,255,255,0.9),5px 5px 0 0 rgba(255,255,255,0.8),6px 6px 0 0 rgba(255,255,255,0.8),7px 7px 0 0 rgba(255,255,255,0.7),8px 8px 0 0 rgba(255,255,255,0.7),9px 9px 0 0 rgba(255,255,255,0.6),11px 11px 0 0 rgba(255,255,255,0.5),13px 13px 0 0 rgba(255,255,255,0.4),15px 15px 0 0 rgba(255,255,255,0.3),17px 17px 0 0 rgba(255,255,255,0.2),19px 19px 0 0 rgba(255,255,255,0.1),21px 21px 0 0 rgba(255,255,255,0.09),23px 23px 0 0 rgba(255,255,255,0.07),25px 25px 0 0 rgba(255,255,255,0.05),23px 23px 0 0 rgba(255,255,255,0.05),25px 25px 0 0 rgba(255,255,255,0.05),27px 27px 0 0 rgba(255,255,255,0.05),29px 29px 0 0 rgba(255,255,255,0.05),31px 31px 0 0 rgba(255,255,255,0.05),33px 33px 0 0 rgba(255,255,255,0.05),35px 35px 0 0 rgba(255,255,255,0.05),37px 37px 0 0 rgba(255,255,255,0.05),39px 39px 0 0 rgba(255,255,255,0.05),41px 41px 0 0 rgba(255,255,255,0.05),43px 43px 0 0 rgba(255,255,255,0.05),45px 45px 0 0 rgba(255,255,255,0.05),47px 47px 0 0 rgba(255,255,255,0.05),49px 49px 0 0 rgba(255,255,255,0.05),51px 51px 0 0 rgba(255,255,255,0.05),53px 53px 0 0 rgba(255,255,255,0.05),39px 39px 0 0 rgba(255,255,255,0.05);
  box-shadow: 1px 1px 0 0 #c8c8c8,2px 2px 0 0 #c8c8c8,3px 3px 0 0 rgba(200,200,200,0.9),4px 4px 0 0 rgba(200,200,200,0.9),5px 5px 0 0 rgba(200,200,200,0.8),6px 6px 0 0 rgba(200,200,200,0.8),7px 7px 0 0 rgba(200,200,200,0.7),8px 8px 0 0 rgba(200,200,200,0.7),9px 9px 0 0 rgba(200,200,200,0.6),11px 11px 0 0 rgba(200,200,200,0.5),13px 13px 0 0 rgba(200,200,200,0.4),15px 15px 0 0 rgba(200,200,200,0.3),17px 17px 0 0 rgba(200,200,200,0.2),19px 19px 0 0 rgba(200,200,200,0.1),21px 21px 0 0 rgba(200,200,200,0.09),23px 23px 0 0 rgba(200,200,200,0.07),25px 25px 0 0 rgba(200,200,200,0.05),23px 23px 0 0 rgba(200,200,200,0.05),25px 25px 0 0 rgba(200,200,200,0.05),27px 27px 0 0 rgba(200,200,200,0.05),29px 29px 0 0 rgba(200,200,200,0.05),31px 31px 0 0 rgba(200,200,200,0.05),33px 33px 0 0 rgba(200,200,200,0.05),35px 35px 0 0 rgba(200,200,200,0.05),37px 37px 0 0 rgba(200,200,200,0.05),39px 39px 0 0 rgba(200,200,200,0.05),41px 41px 0 0 rgba(200,200,200,0.05),43px 43px 0 0 rgba(200,200,200,0.05),45px 45px 0 0 rgba(200,200,200,0.05),47px 47px 0 0 rgba(200,200,200,0.05),49px 49px 0 0 rgba(200,200,200,0.05),51px 51px 0 0 rgba(200,200,200,0.05),53px 53px 0 0 rgba(200,200,200,0.05),39px 39px 0 0 rgba(200,200,200,0.05);
  background-image: linear-gradient(-45deg,#cecece 0%,#fff 100%);
}

.thumbs figure .thumb-title {
  color: #222;
  opacity: 0;
}

.thumbs figure .thumb {
  width: 95%;
  height: 95%;
  transition: 150ms ease;
  background-color: rgba(0,0,0,0.7);
  background: #e3e3e3;
}

.thumbs figure .icon {
  opacity: .7;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.thumbs figure .shadow {
  width: 95%;
  height: 95%;
  transition: opacity 150ms ease;
  opacity: 0;
  background-image: radial-gradient(ellipse at center,rgba(0,0,0,0.1),rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.95) 110%);
  box-shadow: inset 0 0 0 0 rgba(0,0,0,0.3);
  text-align: center;
}

.thumbs figure .gold-filter {
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  width: 97%;
  height: 97%;
  opacity: .7;
  background-image: linear-gradient(45deg,#463c2c 0%,#fdd333 26%,#fffcaf 35%,#b67b03 55%,#341c02 80%,#160f07 100%);
}

.thumbs figure .inside-bevel {
  width: 97%;
  height: 97%;
  background-image: linear-gradient(-45deg,#fff 0%,rgba(206,206,206,0.5) 100%);
}

.thumbs figure .accent-border {
  transition: 150ms ease;
  width: 95%;
  height: 95%;
  opacity: 0;
}

.thumbs figure .highlight-border {
  opacity: 0;
  background-image: linear-gradient(-45deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%);
}

.thumbs figure .title {
  opacity: 0;
  transition: 150ms ease;
  -webkit-transform: translateX(50%) translateY(100%);
  transform: translateX(50%) translateY(100%);
}

.thumbs figure:hover .gloss {
  border-radius: 20%;
  transition: 150ms;
  box-shadow: inset 16em 18em 0 -13em rgba(255,255,255,0.1);
}

.thumbs figure:hover .thumb {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  width: 93%;
  height: 93%;
}

.thumbs figure:hover .shadow {
  transition: 150ms ease;
  box-shadow: inset 0 0 2em .1em rgba(0,0,0,0.3);
  opacity: .8;
  width: 97%;
  height: 97%;
  width: 93%;
  height: 93%;
}

.thumbs figure:hover .gold-filter {
  transition: opacity 150ms;
  opacity: 1;
}

.thumbs figure:hover .color-filter {
  opacity: 0;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
}

.thumbs figure:hover .fill-94 {
  width: 96%;
  height: 96%;
}

.thumbs figure:hover .fill-95 {
  transition: 150ms ease;
  width: 98%;
  height: 98%;
  width: 95%;
  height: 95%;
}

.thumbs figure:hover .accent-border,
.thumbs figure:hover .highlight-border {
  width: 95%;
  height: 95%;
  opacity: 1;
}

.thumbs figure:hover .title {
  opacity: 1;
  transition: 150ms ease;
  -webkit-transform: translateX(50%) translateY(0%);
  transform: translateX(50%) translateY(0%);
}

section {
  border-top: rgba(0,0,0,0.05) solid 1px !important;
  border-bottom: rgba(0,0,0,0.08) solid 1px !important;
  border: none !important;
  background: transparent;
}

section:after {
  opacity: .5;
  background-image: linear-gradient(45deg,#463c2c 0%,#fdd333 26%,#fffcaf 35%,#b67b03 55%,#341c02 80%,#160f07 100%);
  height: 1px;
  width: 100%;
}

section:before,
section:after {
  display: none;
}

section.clear:before,
section.clear:after {
  display: none !important;
}

.progress svg:nth-child(2) path {
  stroke: rgba(227,227,227,0.9);
}

.white-shadow {
  box-shadow: 0 1px 0 0 #d4cec8,0 2px 0 0 #d4cec8,0 3px 0 0 rgba(212,206,200,0.9),0 4px 0 0 rgba(212,206,200,0.9),0 5px 0 0 rgba(212,206,200,0.8),0 6px 0 0 rgba(212,206,200,0.8),0 7px 0 0 rgba(212,206,200,0.7),0 8px 0 0 rgba(212,206,200,0.7),0 9px 0 0 rgba(212,206,200,0.6),0 11px 0 0 rgba(212,206,200,0.5),0 13px 0 0 rgba(212,206,200,0.4),0 15px 0 0 rgba(212,206,200,0.3),0 17px 0 0 rgba(212,206,200,0.2),0 19px 0 0 rgba(212,206,200,0.1),0 21px 0 0 rgba(212,206,200,0.09),0 23px 0 0 rgba(212,206,200,0.07),0 25px 0 0 rgba(212,206,200,0.05),0 23px 0 0 rgba(212,206,200,0.05),0 25px 0 0 rgba(212,206,200,0.05),0 27px 0 0 rgba(212,206,200,0.05),0 29px 0 0 rgba(212,206,200,0.05),0 31px 0 0 rgba(212,206,200,0.05),0 33px 0 0 rgba(212,206,200,0.05),0 35px 0 0 rgba(212,206,200,0.05),0 37px 0 0 rgba(212,206,200,0.05),0 39px 0 0 rgba(212,206,200,0.05),0 41px 0 0 rgba(212,206,200,0.05),0 43px 0 0 rgba(212,206,200,0.05),0 45px 0 0 rgba(212,206,200,0.05),0 47px 0 0 rgba(212,206,200,0.05),0 49px 0 0 rgba(212,206,200,0.05),0 51px 0 0 rgba(212,206,200,0.05),0 53px 0 0 rgba(212,206,200,0.05),0 39px 0 0 rgba(212,206,200,0.05);
  box-shadow: 0 1px 0 0 #fff,0 2px 0 0 #fff,0 3px 0 0 rgba(255,255,255,0.9),0 4px 0 0 rgba(255,255,255,0.9),0 5px 0 0 rgba(255,255,255,0.8),0 6px 0 0 rgba(255,255,255,0.8),0 7px 0 0 rgba(255,255,255,0.7),0 8px 0 0 rgba(255,255,255,0.7),0 9px 0 0 rgba(255,255,255,0.6),0 11px 0 0 rgba(255,255,255,0.5),0 13px 0 0 rgba(255,255,255,0.4),0 15px 0 0 rgba(255,255,255,0.3),0 17px 0 0 rgba(255,255,255,0.2),0 19px 0 0 rgba(255,255,255,0.1),0 21px 0 0 rgba(255,255,255,0.09),0 23px 0 0 rgba(255,255,255,0.07),0 25px 0 0 rgba(255,255,255,0.05),0 23px 0 0 rgba(255,255,255,0.05),0 25px 0 0 rgba(255,255,255,0.05),0 27px 0 0 rgba(255,255,255,0.05),0 29px 0 0 rgba(255,255,255,0.05),0 31px 0 0 rgba(255,255,255,0.05),0 33px 0 0 rgba(255,255,255,0.05),0 35px 0 0 rgba(255,255,255,0.05),0 37px 0 0 rgba(255,255,255,0.05),0 39px 0 0 rgba(255,255,255,0.05),0 41px 0 0 rgba(255,255,255,0.05),0 43px 0 0 rgba(255,255,255,0.05),0 45px 0 0 rgba(255,255,255,0.05),0 47px 0 0 rgba(255,255,255,0.05),0 49px 0 0 rgba(255,255,255,0.05),0 51px 0 0 rgba(255,255,255,0.05),0 53px 0 0 rgba(255,255,255,0.05),0 39px 0 0 rgba(255,255,255,0.05);
  box-shadow: 1px 1px 0 0 #c8c8c8,0 2px 0 0 #c8c8c8,0 3px 0 0 rgba(200,200,200,0.9),0 4px 0 0 rgba(200,200,200,0.9),0 5px 0 0 rgba(200,200,200,0.8),0 6px 0 0 rgba(200,200,200,0.8),0 7px 0 0 rgba(200,200,200,0.7),0 8px 0 0 rgba(200,200,200,0.7),0 9px 0 0 rgba(200,200,200,0.6),0 11px 0 0 rgba(200,200,200,0.5),0 13px 0 0 rgba(200,200,200,0.4),0 15px 0 0 rgba(200,200,200,0.3),0 17px 0 0 rgba(200,200,200,0.2),0 19px 0 0 rgba(200,200,200,0.1),0 21px 0 0 rgba(200,200,200,0.09),0 23px 0 0 rgba(200,200,200,0.07),0 25px 0 0 rgba(200,200,200,0.05),0 23px 0 0 rgba(200,200,200,0.05),0 25px 0 0 rgba(200,200,200,0.05),0 27px 0 0 rgba(200,200,200,0.05),0 29px 0 0 rgba(200,200,200,0.05),0 31px 0 0 rgba(200,200,200,0.05),0 33px 0 0 rgba(200,200,200,0.05),0 35px 0 0 rgba(200,200,200,0.05),0 37px 0 0 rgba(200,200,200,0.05),0 39px 0 0 rgba(200,200,200,0.05),0 41px 0 0 rgba(200,200,200,0.05),0 43px 0 0 rgba(200,200,200,0.05),0 45px 0 0 rgba(200,200,200,0.05),0 47px 0 0 rgba(200,200,200,0.05),0 49px 0 0 rgba(200,200,200,0.05),0 51px 0 0 rgba(200,200,200,0.05),0 53px 0 0 rgba(200,200,200,0.05),0 39px 0 0 rgba(200,200,200,0.05);
}

.bar-gold {
  border-top: rgba(0,0,0,0.05) solid 1px !important;
  border-bottom: rgba(0,0,0,0.08) solid 1px !important;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(45deg,#463c2c 0%,#fdd333 26%,#fffcaf 35%,#b67b03 55%,#341c02 80%,#160f07 100%);
}