
<div class="parallax__layer parallax__layer__0">
  <div class="stars"></div>
  <section>
    <div class="sw">
      <div class="cw a_12b_23c_11 rel dark">
        <div class="circle oxy9 a18a_18b14b_14 z10 ml1"></div>
        <div class="oxy a11a_12 mt0">
          <div class="oxy tx-c">
            <div class="title tera mt1">WORK</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="parallax__layer parallax__layer__1 svg-grid">
  <div class="paxy fill shadow"></div>
</div>
<div class="parallax__layer parallax__layer__2">
  <section class="bg0">
    <div class="poxy ap11a_112bp11b_112 mb0"></div>
    <div class="sw">
      <div class="cw rel">
        <div class="paxya11a_118 bg10"></div>
        <div style="background-image: url('images/work/chimera-home.png')" class="paxy a11a_11b11b_21 bgct bgs100 mt1 box-shadow"></div>
      </div>
    </div>
  </section>
</div>
<div class="parallax__layer parallax__layer__5 bgcb">
</div>
<div class="parallax__layer parallax__layer__6">
  <section class="bfxy bg90">
    <div class="gold-bar"></div>
    <div class="sw">
      <div class="cw">
        <div class="poxya12a_13 poxyb12b_13">
          <h1 class="page-head"><span class="text mega">Chimera</span></h1>
          <div class="wrap mt1">
            <div class="poxya14 poxyb14">
              <p>location: Boulder CO</p>
              <p>STUDIO: Paul Wood Design</p>
              <p>CMS: Wordpress</p>
              <p class="mt0">PAGES: 1,200+ (excluding blog)</p>
              <p>#colors</p>
              <figure class="a127a_127 mr4"></figure>
              <figure class="a127a_127 mr4"></figure>
              <figure class="a127a_127 mr4"></figure>
              <figure class="a127a_127"></figure>
            </div>
          </div>
        </div>
        <div class="poxya12a_14 poxyb12b_13">
          <div class="demos">
            <div class="device laptop"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2361/laptop.svg" width="700"/>
              <div class="screen"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="parallax__cover">
  <div class="gold-bar"></div>
  <section>
    <div class="sw">
      <div class="cw">
        <div class="poxya12a_14 poxyb12b_13">
          <div class="demos">
            <div class="device laptop"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2361/laptop.svg" width="700"/>
              <div class="screen"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <div class="poxya12a_14 poxyb12b_14">
          <h2 class="alpha">Responsive</h2>
        </div>
        <div class="poxya12apoxyb12">
          <div class="wrap">
            <figure style="background-image: url(images/work/chimera-home.png);" class="bgct poxya14a_13poxyb14b_13 mb0"><span class="paxyap11ap_11 shadow ha hb"></span></figure>
            <figure style="background-image: url(images/work/chimera-home-tablet.png);" class="bgct poxya16a_13poxyb16b_13 mb0"><span class="paxyap11ap_11 shadow hc"></span></figure>
            <figure style="background-image: url(images/work/chimera-home-mobile.png);" class="bgct poxya112a_13poxyb112b_13 mb0"><span class="paxyap11ap_11 shadow he"></span></figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <figure style="background-image: url(images/work/chimera-speed-rings.png);" class="bgct poxya12a_13poxyb12b_13">
        </figure>
        <div class="poxya12a_14poxyb12b_14">
          <div class="wrap">
            <div class="poxya12poxyb12">
              <h3>Speed Ring Finder</h3>
            </div>
            <div class="poxya14poxyb14">
              <p class="mt0">Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos hymenaeos mauris tincidunt sem sed arcu etiam dictum tincidunt diam donec iaculis gravida nulla morbi imperdiet mauris ac auctor dictum nisl ligula egestas nulla et sollicitudin sem purus in lacus sed ac dolor sit amet purus malesuada congue 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="shadow">
    <div class="sw">
      <div class="cw">
        <figure style="background-image: url(images/work/chim-f1.png);" class="bgct poxya11a_15poxyb11b_15">
          
        </figure>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <div class="poxya12a_14">
          <div class="wrap">
            <div class="poxya12">
              <h3>Product-tax</h3>
            </div>
            <div class="poxya14">
              <p>Donec vitae arcu lorem ipsum dolor sit amet consectetuer adipiscing elit nunc auctor mauris pretium quam et urna vestibulum facilisis auctor urna cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus etiam neque maecenas ipsum velit consectetuer eu lobortis ut dictum at dui maecenas sollicitudin nam quis 
              </p>
            </div>
          </div>
        </div>
        <figure style="background-image: url(images/work/chim-product-tax.png);" class="bgct poxya38a_13">
        </figure>
        <figure style="background-image: url(images/work/chim-product-tax-e.png);" class="bgct poxya18a_13"><span class="paxyap11ap_11 shadow"></span></figure>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <figure style="background-image: url(images/work/chim-product-tax2-a.png);" class="bgct poxya12a_13">
        </figure>
        <div class="poxya12a_14">
          <div class="wrap">
            <div class="poxya12">
              <h3>Product Child Taxonomy</h3>
            </div>
            <div class="poxya14">
              <p>Mauris dolor felis sagittis at luctus sed aliquam non tellus nullam at arcu a est sollicitudin euismod donec quis nibh at felis congue commodo cras pede libero dapibus nec pretium sit amet tempor quis urna aliquam id dolor suspendisse sagittis ultrices augue nulla est etiam bibendum elit eget erat maecenas 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <div class="poxya14a_14">
          <div class="wrap">
            <div class="poxya14">
              <h3>Grid</h3>
              <p>STUDIO: Paul Wood Design</p>
              <p class="mt0">PAGES: 1,200+ (excluding blog)</p>
              <p>Mauris tincidunt sem sed arcu nullam lectus justo vulputate eget mollis sed tempor sed magna in laoreet magna id viverra tincidunt sem odio bibendum justo vel imperdiet sapien wisi sed libero aenean placerat nulla non arcu lacinia neque faucibus fringilla mauris metus nunc auctor duis bibendum lectus ut viverra rhoncus 
              </p>
            </div>
          </div>
        </div>
        <div class="poxa12">
          <div class="wrap">
            <figure class="a18a_116">
              <div class="oxy">Desktop</div>
            </figure>
            <figure class="a18a_116">
              <div class="oxy">Tablet</div>
            </figure>
            <figure class="a18a_116">
              <div class="oxy">Mobile</div>
            </figure>
            <figure class="a18a_116"></figure>
          </div>
          <div class="wrap">
            <figure class="a14a_14"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <div class="poxya12a_14">
          <h3>Madhava</h3>
          <p>Studio: Workhorse 45</p>
          <p>Heading 5</p>
        </div>
        <div class="poxa12">
          <div class="wrap">
            <figure class="a14a_14"></figure>
            <figure class="a14a_14"></figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <div class="poxya12a_14">
          <h3>Linhart PR</h3>
          <p>Studio: Workhorse 45</p>
          <p>Heading 5</p>
        </div>
        <div class="poxa12">
          <div class="wrap">
            <figure class="a14a_14"></figure>
            <figure class="a14a_14"></figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <figure class="a12 hide">
          <div class="wrap">
            <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12">1/16</figure>
            <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12">1/16</figure>
            <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12">1/16</figure>
            <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a12a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          </div>
        </figure>
        <figure class="a12a_12">
          <div class="wrap">
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
          </div>
        </figure>
        <figure class="a12a_12">
          <div class="wrap">
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
          </div>
        </figure>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <div class="poxa12b12b_18c12c_18d11d_18poxe11">
          <h1>Heading 1</h1>
          <h2>Heading 2</h2>
          <h3>Heading 3</h3>
          <h4>Heading 4</h4>
          <h5>Heading 5</h5>
          <h6>Heading 6</h6>
        </div>
        <div class="poxa12b12b_18c12c_18d11d_18poxe11">
          <h1 class="tera">Tera</h1>
          <h1 class="giga">Giga</h1>
          <h1 class="mega">Mega</h1>
          <h1 class="alpha">Alpha</h1>
          <h1 class="beta">Beta</h1>
          <h1 class="gamma">Gamma</h1>
          <h1 class="delta">Delta</h1>
          <h1 class="epsilon">Epsilon</h1>
          <h1 class="zeta">Zeta</h1>
          <div class="wrap">
            <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a14a_116"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
            <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
            <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
          </div>
        </div>
        <div class="poxa12poxb12poxc11poxd11poxe11">
          <p>Ut tempus purus at lorem nullam dapibus fermentum ipsum nulla non arcu lacinia neque faucibus fringilla nullam dapibus fermentum ipsum phasellus enim erat vestibulum vel aliquam a posuere eu velit nullam feugiat turpis at pulvinar vulputate erat libero tristique tellus nec bibendum odio risus sit amet ante nunc posuere vivamus luctus egestas leo curabitur bibendum justo non orci duis sapien nunc commodo et interdum suscipit sollicitudin et dolor suspendisse nisl cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus in laoreet magna id viverra tincidunt sem odio bibendum justo vel imperdiet sapien wisi sed libero fusce wisi 
          </p>
          <p>In sem justo commodo ut suscipit at pharetra vitae orci mauris dolor felis sagittis at luctus sed aliquam non tellus vivamus luctus egestas leo suspendisse sagittis ultrices augue aliquam erat volutpat vivamus luctus egestas leo cras elementum etiam quis quam maecenas fermentum sem in pharetra pellentesque velit turpis volutpat ante in pharetra metus odio a lectus integer vulputate sem a nibh rutrum consequat suspendisse nisl fusce consectetuer risus a nunc aliquam id dolor cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus integer lacinia curabitur vitae diam non enim vestibulum interdum etiam posuere quam ac quam sed 
          </p>
        </div>
        <div class="poxa12poxb12poxc11poxd11poxe11">
          <p>Sed elit dui pellentesque a faucibus vel interdum nec diam in in enim a arcu imperdiet malesuada integer tempor duis ante orci molestie vitae vehicula venenatis tincidunt ac pede sed ac dolor sit amet purus malesuada congue nullam sapien sem ornare ac nonummy non lobortis a enim nulla non lectus sed nisl molestie malesuada nam sed tellus id magna elementum tincidunt nullam lectus justo vulputate eget mollis sed tempor sed magna cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus morbi mattis felis at nunc in nisl aliquam erat volutpat etiam posuere lacus quis dolor aliquam erat 
          </p>
          <p>Aliquam id dolor cras pede libero dapibus nec pretium sit amet tempor quis urna maecenas libero nunc posuere duis risus aenean vel massa quis mauris vehicula lacinia nulla est aliquam erat volutpat integer imperdiet lectus quis justo aliquam id dolor nunc posuere aenean id metus id velit ullamcorper pulvinar mauris pretium quam et urna in convallis integer tempor in convallis etiam commodo dui eget wisi aenean id metus id velit ullamcorper pulvinar donec vitae arcu mauris metus nullam eget nisl in convallis in in enim a arcu imperdiet malesuada integer imperdiet lectus quis justo integer pellentesque quam vel velit nunc 
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="dark shadow">
    <div class="sw">
      <div class="cw">
        <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">
          <p>Nam quis nulla quisque porta etiam neque duis 
          </p><span class="paxyap11ap_11"></span>
        </figure>
        <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">1/2<span class="paxyap11ap_11"></span></figure>
        <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">1/2<span class="paxyap11ap_11"></span></figure>
        <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">1/2<span class="paxyap11ap_11"></span></figure>
      </div>
    </div>
  </section>
</div>