
<header class="pfxy z6">
  <section class="clear">
    <div class="sw">
      <div class="cw">
        <figure class="paxya18a_19 paxyb18b_110 paxyc18c_110 paxyd18d_110 paxye18e_110 mb0 bg60"></figure>
        <figure class="qoxya11a_117 poxyb11 mb0 bg0"></figure>
        <figure class="qoxya12a_114 qoxyb34b_110 qoxyc34c_18 qoxyd34d_18 qoxye34e_18 mb0"><a href="#" class="poxy ap14ap_11 bp14bp_11 cp14cp_11c dp14dp_11 ep14ep_11 bg20">button 1</a><a href="#" class="poxy ap14ap_11 bp14bp_11 cp14cp_11c dp14dp_11 ep14ep_11 bg20">button 2</a><a href="#" class="poxy ap14ap_11 bp14bp_11 cp14cp_11c dp14dp_11 ep14ep_11 bg20">button 3</a><a href="#" class="poxy ap14ap_11 bp14bp_11 cp14cp_11c dp14dp_11 ep14ep_11 bg20">button 4</a></figure>
      </div>
    </div>
  </section>
</header>
<section class="clear">
  <div class="sw">
    <div class="cw a_110"></div>
  </div>
</section>
<div id="meat">
  <section class="full">
    <div class="sw">
      <div class="cw0">
        <figure class="ap11a_12b_12c_12d_12e_12 bg100"></figure>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">1/2</figure>
        <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">1/2</figure>
        <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">1/2</figure>
        <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">1/2</figure>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <figure class="a14a_14b14b_14c14c_14d14d_14e12e_12">1/2</figure>
        <figure class="a14a_14b14b_14c14c_14d14d_14e12e_12">1/2</figure>
        <figure class="a14a_14b14b_14c14c_14d14d_14e12e_12">1/2</figure>
        <figure class="a14a_14b14b_14c14c_14d14d_14e12e_12">1/2</figure>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <figure class="a14a_118b14b_118c14c_118d14d_118e11e_18">1/2</figure>
        <figure class="a14a_118b14b_118c14c_118d14d_118e11e_18">1/2</figure>
        <figure class="a14a_118b14b_118c14c_118d14d_118e11e_18">1/2</figure>
        <figure class="a14a_118b14b_118c14c_118d14d_118e11e_18">1/2</figure>
      </div>
    </div>
  </section>
</div>
<footer>
  <section>
    <div class="sw">
      <div class="cw">
        <figure class="a14a_14b14b_14c14c_14d14d_14e14e_14">1/2</figure>
        <figure class="a14a_14b14b_14c14c_14d14d_14e14e_14">1/2</figure>
        <figure class="a14a_14b14b_14c14c_14d14d_14e14e_14">1/2</figure>
        <figure class="a14a_14b14b_14c14c_14d14d_14e14e_14">1/2</figure>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <figure class="a11b11c11d11e11e_18"></figure>
      </div>
    </div>
  </section>
</footer>