
<div class="clear-bar"></div>
<section class="clear ha">
  <div class="sw">
    <div class="cw a_112"></div>
  </div>
</section>
<section class="parallax bg0 a_58">
  <div class="parallax__layer parallax__layer__0 a_58">
    <div class="horizontal-guides paxy ap11ap_11">
      <section class="bg0">
        <div class="sw ap11a_18"></div>
      </section>
      <section class="bg0">
        <div class="sw ap11a_18"></div>
      </section>
      <section class="bg0">
        <div class="sw ap11a_18"></div>
      </section>
      <section class="bg0">
        <div class="sw ap11a_18"></div>
      </section>
      <section class="bg0">
        <div class="sw ap11a_18"></div>
      </section>
      <section class="bg0">
        <div class="sw ap11a_18"></div>
      </section>
      <section class="bg0">
        <div class="sw ap11a_18"></div>
      </section>
      <section class="bg0">
        <div class="sw ap11a_18"></div>
      </section>
      <section class="bg0">
        <div class="sw ap11a_18"></div>
      </section>
      <section class="bg0">
        <div class="sw ap11a_18"></div>
      </section>
      <section class="bg0">
        <div class="sw ap11a_18"></div>
      </section>
      <section class="bg0">
        <div class="sw ap11a_18"></div>
      </section>
      <section class="bg0">
        <div class="sw ap11a_18"></div>
      </section>
      <section class="bg0">
        <div class="sw ap11a_18"></div>
      </section>
      <section class="bg0">
        <div class="sw ap11a_18"></div>
      </section>
      <section class="bg0">
        <div class="sw ap11a_18"></div>
      </section>
      <section class="bg0">
        <div class="sw ap11a_18"></div>
      </section>
      <section class="bg0">
        <div class="sw ap11a_18"></div>
      </section>
      <section class="bg0">
        <div class="sw ap11a_18"></div>
      </section>
    </div>
    <div class="center-x-line"></div>
    <section class="clear vertical-guides bg0">
      <div class="sw">
        <div class="cw">
          <figure class="poxya14poxyb14poxyc14poxyd14poxye14 rel">
            <figure class="paxya14a_21paxyb14b_21paxyc14c_21paxyd14d_31paxye14e_31 bg0"></figure>
          </figure>
          <figure class="poxya14poxyb14poxyc14poxyd14poxye14 rel">
            <figure class="paxya14a_21paxyb14b_21paxyc14c_21paxyd14d_31paxye14e_31 bg0"></figure>
          </figure>
          <figure class="poxya14poxyb14poxyc14poxyd14poxye14 rel">
            <figure class="paxya14a_21paxyb14b_21paxyc14c_21paxyd14d_31paxye14e_31 bg0"></figure>
          </figure>
          <figure class="poxya14poxyb14poxyc14poxyd14poxye14 rel">
            <figure class="paxya14a_21paxyb14b_21paxyc14c_21paxyd14d_31paxye14e_31 bg0"></figure>
          </figure>
        </div>
      </div>
    </section>
  </div>
  <div class="parallax__layer parallax__layer__1 a_58 bg-contain bgprc">
    <section class="bg-fade a_58">
      <div class="sw">
        <div class="cw">
          <div class="poxy a11a_14"></div>
          <div class="poxy a11a_14">
            <div class="wrap">
              <div class="poxy a14a_14">
              </div>
              <div class="poxy a34a_18 rel">
                <div class="paxy">
                  <div style="line-height: 1; margin-left: -.05em" class="title text mega">PAUL WOOD</div>
                  <div class="gamma">Design + Code | Hybrid</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="parallax__layer parallax__layer__6 a_12"></div>
</section>
<section class="thumbs z10 ofh">
  <div class="sw">
    <div class="cw">
      <div class="poxy a34a_14b14b_14 rel">
        <div class="qaxya21a_14qaxyb11b_14 bg90 br2">
          <div class="oxy ap11ap_99 bp11bp_99 gold-filter br2"></div>
          <div class="oxy ap11ap_97 bp11bp_97 bg98 br2 mr4 bg-stars"></div>
        </div>
      </div>
      <figure class="rel poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 "><a href="chimera" class="tx-c">
          <figure style="background-image: url(images/#/chimera)" class="rel image poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 ">
            <div class="rel _oxap11a_p11 white bold _oxbp11b_p11 _oxcp11c_p11 _oxdp11d_p11 _oxep11e_p11 ">
              <h2 title="" class="txa-8 txb-7 txc-7 txd-6 txe-5 ">
              </h2>
            </div>
          </figure></a>
      </figure>
      <div class="poxy a118a_12b14b_14 rel">
        <div class="qaxya11a_12qaxyb11b_14 bg90 br2">
          <div class="oxy ap11ap_99 bp11bp_99 gold-filter br2"></div>
          <div class="oxy ap11ap_97 bp11bp_97 bg98 br2 mr4 bg-stars"></div>
        </div>
      </div>
      <figure class="rel poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 "><a href="chimera" class="tx-c">
          <figure style="background-image: url(images/#/chimera)" class="rel image poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 ">
            <div class="rel _oxap11a_p11 white bold _oxbp11b_p11 _oxcp11c_p11 _oxdp11d_p11 _oxep11e_p11 ">
              <h2 title="" class="txa-8 txb-7 txc-7 txd-6 txe-5 ">
              </h2>
            </div>
          </figure></a>
      </figure>
      <div class="poxy a12a_18 rel">
        <div class="paxy m1">
          <div style="line-height: 1; margin-left: -.05em" class="title text mega">PAUL WOOD</div>
          <div class="gamma">Design + Code | Hybrid</div>
        </div>
      </div>
      <div class="poxy a34a_14b14b_14 rel">
        <div class="paxya21a_14qaxyb11b_14 bg90 br2">
          <div class="oxy ap11ap_99 bp11bp_99 gold-filter br2"></div>
          <div class="oxy ap11ap_97 bp11bp_97 bg98 br2 ml0 bg-stars"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="clear inner-grad rel">
  <div class="gold-bar mt4"></div>
  <div class="sw">
    <div style="background-image: url('/images/about/about-magazines.jpg')" class="oxy fill shadow bg-cover bgpcc gray-scale"></div>
    <div class="oxy fill shadow"></div>
    <div class="cw">
      <div class="qoxy a34a_12 rel tx-v">
        <div class="text">
          <p class="z10 title beta tx-white">
            Paul Wood also runs his own freelance business, under
            Paul Wood Design, LLC. Through it, he has worked on the following
            things….
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="gold-bar mb4"></div>
</section>
<section class="thumbs z10 ofh">
  <div class="sw">
    <div class="cw">
      <div class="poxy a12a_18b14b_14 rel">
        <div class="qaxya11a_18qaxyb11b_14 bg10 br2">
          <div class="oxy ap11ap_97 bp11bp_97 bg98 br2 mr0 bg-10">
            <div class="oxy3 mega mr1">DESIGN</div>
          </div>
        </div>
      </div>
      <div class="poxy a12a_18b14b_14 rel">
        <div class="paxya11a_18qaxyb11b_14 bg80 br2">
          <div class="oxy ap11ap_97 bp11bp_97 bg98 br2 ml0 bg-50">
            <div class="oxy9 mega ml1 tx-white">CODE</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="gold-bar"></div>
<section class="thumbs z10 ofh">
  <div class="sw">
    <div class="cw">
      <div class="poxy a12a_12b14b_14 rel">
        <div class="qaxya11a_12qaxyb11b_14 bg90 br2">
          <div class="oxy ap11ap_99 bp11bp_99 gold-filter br2"></div>
          <div class="oxy ap11ap_97 bp11bp_97 bg98 br2 mr4 bg-stars"></div>
        </div>
      </div>
      <figure class="rel poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 "><a href="chimera" class="tx-c">
          <figure style="background-image: url(images/#/chimera)" class="rel image poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 ">
            <div class="rel _oxap11a_p11 white bold _oxbp11b_p11 _oxcp11c_p11 _oxdp11d_p11 _oxep11e_p11 ">
              <h2 title="" class="txa-8 txb-7 txc-7 txd-6 txe-5 ">
              </h2>
            </div>
          </figure></a>
      </figure>
      <figure class="rel poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 "><a href="chimera" class="tx-c">
          <figure style="background-image: url(images/#/chimera)" class="rel image poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 ">
            <div class="rel _oxap11a_p11 white bold _oxbp11b_p11 _oxcp11c_p11 _oxdp11d_p11 _oxep11e_p11 ">
              <h2 title="" class="txa-8 txb-7 txc-7 txd-6 txe-5 ">
              </h2>
            </div>
          </figure></a>
      </figure>
      <figure class="rel poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 "><a href="chimera" class="tx-c">
          <figure style="background-image: url(images/#/chimera)" class="rel image poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 ">
            <div class="rel _oxap11a_p11 white bold _oxbp11b_p11 _oxcp11c_p11 _oxdp11d_p11 _oxep11e_p11 ">
              <h2 title="" class="txa-8 txb-7 txc-7 txd-6 txe-5 ">
              </h2>
            </div>
          </figure></a>
      </figure>
      <figure class="rel poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 "><a href="chimera" class="tx-c">
          <figure style="background-image: url(images/#/chimera)" class="rel image poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 ">
            <div class="rel _oxap11a_p11 white bold _oxbp11b_p11 _oxcp11c_p11 _oxdp11d_p11 _oxep11e_p11 ">
              <h2 title="" class="txa-8 txb-7 txc-7 txd-6 txe-5 ">
              </h2>
            </div>
          </figure></a>
      </figure>
      <figure class="rel poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 "><a href="chimera" class="tx-c">
          <figure style="background-image: url(images/#/chimera)" class="rel image poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 ">
            <div class="rel _oxap11a_p11 white bold _oxbp11b_p11 _oxcp11c_p11 _oxdp11d_p11 _oxep11e_p11 ">
              <h2 title="" class="txa-8 txb-7 txc-7 txd-6 txe-5 ">
              </h2>
            </div>
          </figure></a>
      </figure>
      <div class="poxy a12a_14b14b_14 rel">
        <div class="paxya11a_14qaxyb11b_14 bg90 br2">
          <div class="oxy ap11ap_99 bp11bp_99 gold-filter br2"></div>
          <div class="oxy ap11ap_97 bp11bp_97 bg98 br2 ml0 bg-stars"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="gold-bar"></div>
<section class="thumbs z10">
  <div class="sw">
    <div class="cw">
      <div class="poxy a14a_12 rel">
        <div class="poxy a14a_14b11b_14c_12d_12e_12">
          <div class="poxy a14a_14b11b_14c_12d_12e_12">
            <div class="page-head">
              <h2 class="text beta title">Web Sites</h2>
            </div><em class="mt4 text gamma title">Sub Title</em>
            <p class="mt4">
              Paul Wood also runs his own freelance business, under
              Paul Wood Design, LLC. Through it, he has worked on the following
              things….
              
              
            </p>
          </div>
        </div>
      </div>
      <div class="qoxy mb0 a34">
        <div class="wrap">
          <figure class="rel poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 "><a href="chimera" class="tx-c">
              <figure style="background-image: url(images/#/chimera)" class="rel image poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 ">
                <div class="rel _oxap11a_p11 white bold _oxbp11b_p11 _oxcp11c_p11 _oxdp11d_p11 _oxep11e_p11 ">
                  <h2 title="" class="txa-8 txb-7 txc-7 txd-6 txe-5 ">
                  </h2>
                </div>
              </figure></a>
          </figure>
          <figure class="rel poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 "><a href="Linhart PR" class="tx-c">
              <figure style="background-image: url(images/#/linhart-pr)" class="rel image poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 ">
                <div class="rel _oxap11a_p11 white bold _oxbp11b_p11 _oxcp11c_p11 _oxdp11d_p11 _oxep11e_p11 ">
                  <h2 title="" class="txa-8 txb-7 txc-7 txd-6 txe-5 ">
                  </h2>
                </div>
              </figure></a>
          </figure>
          <figure class="rel poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 "><a href="Way Better Snacks" class="tx-c">
              <figure style="background-image: url(images/#/way-better-snacks)" class="rel image poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 ">
                <div class="rel _oxap11a_p11 white bold _oxbp11b_p11 _oxcp11c_p11 _oxdp11d_p11 _oxep11e_p11 ">
                  <h2 title="" class="txa-8 txb-7 txc-7 txd-6 txe-5 ">
                  </h2>
                </div>
              </figure></a>
          </figure>
          <figure class="a18a_18b14b_14c14c_14d14d_14e12e_12 br2"><a href="#/angelic-bakehouse"><span class="oxy gold-filter br2"></span><span style="background-image: url(images/work/angelic-home-a-thumb.jpg);" class="thumb oxy bgct ofh br2"></span><span class="oxy shadow ofh br2"></span></a></figure>
          <figure class="a18a_18b14b_14c14c_14d14d_14e12e_12 br2"><a href="#/biotta-juices"><span class="oxy gold-filter br2"></span><span style="background-image: url(images/work/biotta-home-a-thumb.jpg);" class="thumb oxy bgct ofh br2"></span><span class="oxy shadow ofh br2"></span></a></figure>
          <figure class="a18a_18b14b_14c14c_14d14d_14e12e_12 br2"><a href="#/petchup"><span class="oxy gold-filter br2"></span><span style="background-image: url(images/work/petchup-home-a-thumb.jpg);" class="thumb oxy bgct ofh br2"></span><span class="oxy shadow ofh br2"></span></a></figure>
          <figure class="a18a_18b14b_14c14c_14d14d_14e12e_12 br2"><a href="#/madhava"><span class="oxy gold-filter br2"></span><span style="background-image: url(images/work/madhava-home-a-thumb.jpg);" class="thumb oxy bgct ofh br2"></span><span class="oxy shadow ofh br2"></span></a></figure>
          <figure class="a18a_18b14b_14c14c_14d14d_14e12e_12 br2"><a href="#/snack-out-loud"><span class="oxy gold-filter br2"></span><span style="background-image: url(images/work/sol-home-a-thumb.jpg);" class="thumb oxy bgct ofh br2"></span><span class="oxy shadow ofh br2"></span></a></figure>
          <figure class="a18a_18b14b_14c14c_14d14d_14e12e_12 br2"><a href="#/rocky-mountain-table"><span class="oxy gold-filter br2"></span><span style="background-image: url(images/work/rmtc-home-a-thumb.jpg);" class="thumb oxy bgct ofh br2"></span><span class="oxy shadow ofh br2"></span></a></figure>
          <figure class="a18a_18b14b_14c14c_14d14d_14e12e_12 br2"><a href="#/workhorse45"><span class="oxy gold-filter br2"></span><span style="background-image: url(images/work/w45-home-a-thumb.jpg);" class="thumb oxy bgct ofh br2"></span><span class="oxy shadow ofh br2"></span></a></figure>
          <figure class="a18a_18b14b_14c14c_14d14d_14e12e_12 br2"><a href="#/prefare"><span class="oxy gold-filter br2"></span><span style="background-image: url(images/work/prefare-home-a-thumb.jpg);" class="thumb oxy bgct ofh br2"></span><span class="oxy shadow ofh br2"></span></a></figure>
          <figure class="a18a_18b14b_14c14c_14d14d_14e12e_12 br2"><a href="#/shena-razmi"><span class="oxy gold-filter br2"></span><span style="background-image: url(images/work/sr-home-a.png);" class="thumb oxy bgct ofh br2"></span><span class="oxy shadow ofh br2"></span></a></figure>
          <figure class="a18a_18b14b_14c14c_14d14d_14e12e_12 br2"><a href="#/anchor-bay-steel"><span class="oxy gold-filter br2"></span><span style="background-image: url(images/work/abs-home-a-thumb.jpg);" class="thumb oxy bgct ofh br2"></span><span class="oxy shadow ofh br2"></span></a></figure>
          <figure class="a18a_18b14b_14c14c_14d14d_14e12e_12 br2"><a href="#/zinga-yogurt"><span class="oxy gold-filter br2"></span><span style="background-image: url(images/work/zinga-home-a-thumb.jpg);" class="thumb oxy bgct ofh br2"></span><span class="oxy shadow ofh br2"></span></a></figure>
          <figure class="a18a_18b14b_14c14c_14d14d_14e12e_12 br2"><a href="#/snomass-club"><span class="oxy gold-filter br2"></span><span style="background-image: url(images/work/smc-home-a.png);" class="thumb oxy bgct ofh br2"></span><span class="oxy shadow ofh br2"></span></a></figure>
        </div>
      </div>
      
    </div>
  </div>
</section>
<div class="clear-bar"></div>
<section class="clear inner-grad rel">
  <div class="gold-bar mt4"></div>
  <div class="sw">
    <div style="background-image: url('/images/about/about-magazines.jpg')" class="oxy fill shadow bg-cover bgpcc gray-scale"></div>
    <div class="oxy fill shadow"></div>
    <div class="cw">
      <div class="qoxy a34a_12 rel tx-v">
        <div class="text">
          <p class="z10 title beta tx-white">
            Paul Wood also runs his own freelance business, under
            Paul Wood Design, LLC. Through it, he has worked on the following
            things….
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="gold-bar mb4"></div>
</section>
<div class="gold-bar"></div>
<section class="thumbs z10">
  <div class="sw">
    <div class="cw">
      <figure class="rel poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 "><a href="chimera" class="tx-c">
          <figure style="background-image: url(images/#/chimera)" class="rel image poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 ">
            <div class="rel _oxap11a_p11 white bold _oxbp11b_p11 _oxcp11c_p11 _oxdp11d_p11 _oxep11e_p11 ">
              <h2 title="" class="txa-8 txb-7 txc-7 txd-6 txe-5 ">
              </h2>
            </div>
          </figure></a>
      </figure>
      <figure class="rel poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 "><a href="chimera" class="tx-c">
          <figure style="background-image: url(images/#/chimera)" class="rel image poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 ">
            <div class="rel _oxap11a_p11 white bold _oxbp11b_p11 _oxcp11c_p11 _oxdp11d_p11 _oxep11e_p11 ">
              <h2 title="" class="txa-8 txb-7 txc-7 txd-6 txe-5 ">
              </h2>
            </div>
          </figure></a>
      </figure>
      <figure class="rel poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 "><a href="chimera" class="tx-c">
          <figure style="background-image: url(images/#/chimera)" class="rel image poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 ">
            <div class="rel _oxap11a_p11 white bold _oxbp11b_p11 _oxcp11c_p11 _oxdp11d_p11 _oxep11e_p11 ">
              <h2 title="" class="txa-8 txb-7 txc-7 txd-6 txe-5 ">
              </h2>
            </div>
          </figure></a>
      </figure>
      <figure class="rel poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 "><a href="chimera" class="tx-c">
          <figure style="background-image: url(images/#/chimera)" class="rel image poxya14a_18 poxyb14b_18 poxyc12c_14 poxyd12d_14 poxye12e_14 ">
            <div class="rel _oxap11a_p11 white bold _oxbp11b_p11 _oxcp11c_p11 _oxdp11d_p11 _oxep11e_p11 ">
              <h2 title="" class="txa-8 txb-7 txc-7 txd-6 txe-5 ">
              </h2>
            </div>
          </figure></a>
      </figure>
    </div>
  </div>
</section>
<section class="clear inner-grad rel">
  <div class="gold-bar mt4"></div>
  <div class="sw">
    <div style="background-image: url('/images/about/about-magazines.jpg')" class="oxy fill shadow bg-cover bgpcc gray-scale"></div>
    <div class="oxy fill shadow"></div>
    <div class="cw">
      <div class="qoxy a34a_12 rel tx-v">
        <div class="text">
          <p class="z10 title beta tx-white">
            Paul Wood also runs his own freelance business, under
            Paul Wood Design, LLC. Through it, he has worked on the following
            things….
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="gold-bar mb4"></div>
</section>