
<div class="gold-bar"></div>
<section class="clear full">
  <div class="sw">
    <div class="cw"><a href="#/motion">
        <button class="poxyap13a_18 m0">
          <div class="oxy">motion</div>
        </button></a><a href="#/work">
        <button class="poxyap13a_18 m0">
          <div class="oxy">interactive</div>
        </button></a><a href="#/resume">
        <button class="poxyap13a_18 m0">
          <div class="oxy">static</div>
        </button></a></div>
  </div>
</section>
<div class="gold-bar"></div>
<section>
  <div class="sw">
    <div class="cw a_14 rel">
      <div class="poxy a11a_14b_12c_12d_12e_12 tx-v">
        <div>
          <div class="title tera">Motion</div>
          <div class="subtitle delta">web + video + motion + 3D</div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="gold-bar"></div>
<section class="thumbs">
  <div class="sw">
    <div class="cw">
      <figure class="a12a_18b14b_14c14c_14d14d_14e12e_12 mr1 bg90"><a href="#/chimera">
          <div style="background-image: url(images/work/chimera-home.png);" class="poxya14a_18 bg-contain"></div>
          <div class="poxya14a_18 ml2 rel"><strong class="tx-light tx-c oxy">chimera</strong></div></a></figure>
      <figure class="a12a_18b14b_14c14c_14d14d_14e12e_12 mr1 bg90"><a href="#/linhart-pr">
          <div style="background-image: url(images/work/linhartpr-home-a.png);" class="poxya14a_18 bg-contain"></div>
          <div class="poxya14a_18 ml2 rel"><strong class="tx-light tx-c oxy">Linhart PR</strong></div></a></figure>
      <figure class="a12a_18b14b_14c14c_14d14d_14e12e_12 mr1 bg90"><a href="#/way-better-snacks">
          <div style="background-image: url(images/work/wbs-home-a.png);" class="poxya14a_18 bg-contain"></div>
          <div class="poxya14a_18 ml2 rel"><strong class="tx-light tx-c oxy">Way Better Snacks</strong></div></a></figure>
      <figure class="a12a_18b14b_14c14c_14d14d_14e12e_12 mr1 bg90"><a href="#/angelic-bakehouse">
          <div style="background-image: url(images/work/angelic-home-a.png);" class="poxya14a_18 bg-contain"></div>
          <div class="poxya14a_18 ml2 rel"><strong class="tx-light tx-c oxy">Angelic Bakehouse</strong></div></a></figure>
      <figure class="a12a_18b14b_14c14c_14d14d_14e12e_12 mr1 bg90"><a href="#/biotta-juices">
          <div style="background-image: url(images/work/biotta-home-a.png);" class="poxya14a_18 bg-contain"></div>
          <div class="poxya14a_18 ml2 rel"><strong class="tx-light tx-c oxy">Biotta</strong></div></a></figure>
      <figure class="a12a_18b14b_14c14c_14d14d_14e12e_12 mr1 bg90"><a href="#/petchup">
          <div style="background-image: url(images/work/petchup-home-a.png);" class="poxya14a_18 bg-contain"></div>
          <div class="poxya14a_18 ml2 rel"><strong class="tx-light tx-c oxy">Petchup</strong></div></a></figure>
      <figure class="a12a_18b14b_14c14c_14d14d_14e12e_12 mr1 bg90"><a href="#/madhava">
          <div style="background-image: url(images/work/madhava-home-a.png);" class="poxya14a_18 bg-contain"></div>
          <div class="poxya14a_18 ml2 rel"><strong class="tx-light tx-c oxy">Madhava</strong></div></a></figure>
      <figure class="a12a_18b14b_14c14c_14d14d_14e12e_12 mr1 bg90"><a href="#/snack-out-loud">
          <div style="background-image: url(images/work/sol-home-a.png);" class="poxya14a_18 bg-contain"></div>
          <div class="poxya14a_18 ml2 rel"><strong class="tx-light tx-c oxy">Snack Out Loud</strong></div></a></figure>
      <figure class="a12a_18b14b_14c14c_14d14d_14e12e_12 mr1 bg90"><a href="#/rocky-mountain-table">
          <div style="background-image: url(images/work/rmtc-home-a.png);" class="poxya14a_18 bg-contain"></div>
          <div class="poxya14a_18 ml2 rel"><strong class="tx-light tx-c oxy">Rocky Mountain Table</strong></div></a></figure>
      <figure class="a12a_18b14b_14c14c_14d14d_14e12e_12 mr1 bg90"><a href="#/workhorse45">
          <div style="background-image: url(images/work/w45-home-a.png);" class="poxya14a_18 bg-contain"></div>
          <div class="poxya14a_18 ml2 rel"><strong class="tx-light tx-c oxy">Workhorse 45</strong></div></a></figure>
      <figure class="a12a_18b14b_14c14c_14d14d_14e12e_12 mr1 bg90"><a href="#/prefare">
          <div style="background-image: url(images/work/prefare-home-a.png);" class="poxya14a_18 bg-contain"></div>
          <div class="poxya14a_18 ml2 rel"><strong class="tx-light tx-c oxy">Prefare</strong></div></a></figure>
      <figure class="a12a_18b14b_14c14c_14d14d_14e12e_12 mr1 bg90"><a href="#/cmi-associates">
          <div style="background-image: url(images/work/cmi-home-a.png);" class="poxya14a_18 bg-contain"></div>
          <div class="poxya14a_18 ml2 rel"><strong class="tx-light tx-c oxy">CMI Associates</strong></div></a></figure>
      <figure class="a12a_18b14b_14c14c_14d14d_14e12e_12 mr1 bg90"><a href="#/auburn-moon-agency">
          <div style="background-image: url(images/work/ama-home-a.png);" class="poxya14a_18 bg-contain"></div>
          <div class="poxya14a_18 ml2 rel"><strong class="tx-light tx-c oxy">Auburn Moon Agency</strong></div></a></figure>
      <figure class="a12a_18b14b_14c14c_14d14d_14e12e_12 mr1 bg90"><a href="#/shena-razmi">
          <div style="background-image: url(images/work/sr-home-a.png);" class="poxya14a_18 bg-contain"></div>
          <div class="poxya14a_18 ml2 rel"><strong class="tx-light tx-c oxy">Shena Razmi</strong></div></a></figure>
      <figure class="a12a_18b14b_14c14c_14d14d_14e12e_12 mr1 bg90"><a href="#/anchor-bay-steel">
          <div style="background-image: url(images/work/abs-home-a.png);" class="poxya14a_18 bg-contain"></div>
          <div class="poxya14a_18 ml2 rel"><strong class="tx-light tx-c oxy">Anchor Bay Steel</strong></div></a></figure>
      <figure class="a12a_18b14b_14c14c_14d14d_14e12e_12 mr1 bg90"><a href="#/michigan-bulldogs">
          <div style="background-image: url(images/work/mdogs-home-a.png);" class="poxya14a_18 bg-contain"></div>
          <div class="poxya14a_18 ml2 rel"><strong class="tx-light tx-c oxy">Michigan Bulldogs</strong></div></a></figure>
      <figure class="a12a_18b14b_14c14c_14d14d_14e12e_12 mr1 bg90"><a href="#/zinga-yogurt">
          <div style="background-image: url(images/work/zinga-home-a.png);" class="poxya14a_18 bg-contain"></div>
          <div class="poxya14a_18 ml2 rel"><strong class="tx-light tx-c oxy">Zinga Froyo</strong></div></a></figure>
      <figure class="a12a_18b14b_14c14c_14d14d_14e12e_12 mr1 bg90"><a href="#/snomass-club">
          <div style="background-image: url(images/work/smc-home-a.png);" class="poxya14a_18 bg-contain"></div>
          <div class="poxya14a_18 ml2 rel"><strong class="tx-light tx-c oxy">Snowmass Club</strong></div></a></figure>
    </div>
  </div>
</section>