
<div class="parallax__layer parallax__layer__0">
  <div class="stars"></div>
  <section>
    <div class="sw">
      <div class="cw a_12b_23c_11 rel dark">
        <div class="circle oxy9 a18a_18b14b_14 z10 ml1"></div>
        <div class="oxy a11a_12 mt0">
          <div class="oxy tx-c">
            <div class="title tera mt1">WORK</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="petchup parallax__layer parallax__layer__1 svg-grid">
  <div class="paxy fill shadow"></div>
</div>
<div class="parallax__layer parallax__layer__2">
  <section class="bg0">
    <div class="poxy ap11a_112 mb0"></div>
    <div class="sw">
      <div class="cw rel">
        <div class="paxya11a_118 bg10"></div>
        <div style="background-image: url('images/work/petchup-home-a.png')" class="paxy a11a_11 bgct bgs100 mt1 box-shadow"></div>
      </div>
    </div>
  </section>
</div>
<div class="parallax__layer parallax__layer__5 bgcb">
</div>



<div class="parallax__cover">
  <div class="gold-bar"></div>
  <section>
    <div class="sw">
      <div class="cw">
        <div class="poxya12a_13">
          <div class="page-head"><span class="text">Petchup</span></div>
        </div>
        <div class="poxya12a_13">
          <div class="wrap mt1">
            <div class="poxya14">
              <p>location: Boulder CO</p>
              <p>STUDIO: Workhorse 45</p>
              <p>Tech: Wordpress, SCSS,</p>
              <p class="mt0">PAGES: 1,200+ (excluding blog)</p>
              <p>#colors</p>
              <figure class="a127a_127 mr4"></figure>
              <figure class="a127a_127 mr4"></figure>
              <figure class="a127a_127 mr4"></figure>
              <figure class="a127a_127"></figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <div class="poxya12a_13">
          <div class="demos">
            <div class="device laptop"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2361/laptop.svg" width="700"/>
              <div class="screen"></div>
            </div>
          </div>
        </div>
        <div class="poxya12a_13">
          <h2 class="alpha">Responsive</h2>
          <div class="wrap mt1">
            <div class="poxya14">
              <p>Nunc dapibus tortor vel mi dapibus sollicitudin morbi gravida libero nec velit suspendisse sagittis ultrices augue in dapibus augue non sapien maecenas aliquet accumsan leo nam sed tellus id magna 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <div class="poxya12a_14">
          <h2 class="alpha">Responsive</h2>
          <div class="wrap mt1">
            <div class="poxya14">
              <p>Quisque tincidunt scelerisque libero proin mattis lacinia justo pellentesque sapien mauris metus suspendisse sagittis ultrices augue fusce wisi aliquam erat volutpat duis pulvinar duis condimentum augue id magna semper rutrum 
              </p>
            </div>
            
          </div>
        </div>
        <div class="poxa12a_14">
          <div class="wrap">
            <figure style="background-image: url(images/work/chimera-home.png);" class="bgct poxya14a_13 mb0"><span class="paxyap11ap_11 shadow ha hb"></span></figure>
            <figure style="background-image: url(images/work/chimera-home-tablet.png);" class="bgct poxya16a_13 mb0"><span class="paxyap11ap_11 shadow hc"></span></figure>
            <figure style="background-image: url(images/work/chimera-home-mobile.png);" class="bgct poxya112a_13 mb0"><span class="paxyap11ap_11 shadow he"></span></figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <figure style="background-image: url(images/work/chimera-speed-rings.png);" class="bgct poxya12a_13">
        </figure>
        <div class="poxya12a_14">
          <div class="wrap">
            <div class="poxya12">
              <h3>Speed Ring Finder</h3>
            </div>
            <div class="poxya14">
              <p class="mt0">Mauris tincidunt sem sed arcu class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos hymenaeos in in enim a arcu imperdiet malesuada nullam eget nisl class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos hymenaeos aliquam erat volutpat fusce dui leo imperdiet in aliquam 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>