
<div class="clear-bar"></div>
<section class="clear m1 paxy z4">
  <div class="sw">
    <div class="cw">
      <div class="poxy a112a_118"></div>
      <div class="title text beta mt2">RESUME</div>
    </div>
  </div>
</section>
<section class="clear ha">
  <div class="sw">
    <div class="cw a_112"></div>
  </div>
</section>
<section class="parallax bg0 mb1 a_58">
  <div class="parallax__layer parallax__layer__0 a_58"></div>
  <div class="parallax__layer parallax__layer__1 a_58">
    <section class="bg-fade a_58">
      <div class="sw">
        <div class="cw">
          <div class="poxy a11a_14"></div>
          <div class="poxy a11a_14">
            <div class="wrap">
              <div class="poxy a14a_14">
              </div>
              <div class="poxy a34a_18 rel">
                <div class="paxy"><strong style="line-height: 1; margin-left: -.05em" class="title text giga">RESUME</strong>
                  <div class="title text beta mt1">PAUL  WOOD</div>
                  <p class="mt1">4546 E Kentucky CIR Denver CO 80246</p>
                  <p>paulwood.me</p>
                  <p>paulwooddesign@gmail.com</p>
                  <p>616 566 2778</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="parallax__layer parallax__layer__6 a_12"></div>
</section>
<section class="clear ha">
  <div class="sw">
    <div class="cw a_112"></div>
  </div>
</section>
<section class="parallax a_21 bg0">
  <div class="parallax__layer parallax__layer__0 a_21"></div>
  <div class="parallax__layer parallax__layer__1 a_21">
    <section class="a_21 bg-fade">
      <div class="sw">
        <div class="cw">
          <div class="poxy a11a_18"></div>
          <div class="poxy a11">
            <div class="wrap">
              <div class="poxy a14"></div>
              <div class="poxy a34b34">
                <div class="title beta tx-l mb2">EDUCATION</div>
                <div class="wrap">
                  <div class="poxy a34b34">
                    <div class="delta mb4">BFA, Digital Media</div>
                    <p>Kendall College of Art and Design<br/>Grand Rapids, MI<br/>2006 – 2008<br/></p>
                  </div>
                  <div class="poxy a34b34">
                    <div class="delta mb4">AAS, Visual Design & Web Media</div>
                    <p>Ferris State University<br/>Big Rapids, MI<br/>2004 – 2006<br/></p>
                  </div>
                </div>
              </div>
              <div class="poxy a34b34">
                <div class="title beta tx-l mb2">SKILLS</div>
                <div class="wrap">
                  <div class="poxy a14b14">
                    <p><strong class="mb2">Code</strong></p>
                    <p class="mt4">CSS3 / STYLUS / SASS / SCSS</p>
                    <p class="mt4">HTML5 / JADE</p>
                    <p class="mt4">PHP / JADE-PHP (Wordpress)</p>
                    <p class="mt4">JAVASCRIPT / JQUERY / COFFEESCRIPT / ANGULAR</p>
                    <p class="mt4">NODE.JS / GRUNT / YEAMAN /</p>
                    <p class="mt4">
                      GITHUB / BOWER / NPM
                      
                      
                    </p>
                  </div>
                  <div class="poxy a14b14">
                    <p><strong>Software</strong>
                      <p class="mt4">PHOTOSHOP</p>
                      <p class="mt4">AFTER EFFECTS</p>
                      <p class="mt4">PREMIERE</p>
                      <p class="mt4">CINEMA 4D</p>
                      <p class="mt4">ILLUSTRAITOR</p>
                      <p class="mt4">
                        ATOM / SUBLIME TEXT / TEXTMATE
                        
                      </p>
                    </p>
                  </div>
                  <div class="poxy a14b14 hide">
                    <p><strong class="mb2">Design</strong><br/>www.tjohne.com<br/>Designed and developed multiple websites, produce event trailers, film live shows, motion-graphics, design posters and other marketing materials, Design Stage Dressing</p>
                  </div>
                </div>
              </div>
              <div class="poxy a14a_14b14b_14 rel"></div>
              
              <div class="poxy a34b34">
                <div class="title beta tx-l mb2">EXPERIENCE</div>
                <div class="wrap">
                  <div class="poxy a12b14">
                    <div class="delta mb4">June 2012 – December 2014</div>
                    <p>Web Designer & Developer<br/>Workhorse 45<br/>Primary responsibilities: edit video, composite graphic elements, author DVD’s, animate graphic elements, ENG location audio tasks (including, lighting, set dressing etc.), design, develop and maintain websites, webcast technician, answer phones, and meet with clients.</p>
                  </div>
                  <div class="poxy a12b14">
                    <div class="delta mb4">April 2009 – May 2010</div>
                    <p>Web Designer & Developer, Motion-Graphic Artist, Video Editor<br/>Versatile Productions, Inc<br/>Primary responsibilities: edit video, composite graphic elements, author DVD’s, animate graphic elements, ENG location audio tasks (including, lighting, set dressing etc.), design, develop and maintain websites, webcast technician, answer phones, and meet with clients.</p>
                  </div>
                </div>
              </div>
              <div class="poxy a14a_14b14b_14 rel"></div>
              <div class="poxya34">
                <div class="wrap">
                  <div class="poxy a34b34">
                    <p class="title beta">
                      Paul Wood also runs his own freelance business, under
                      Paul Wood Design, LLC. Through it, he has worked on the following
                      things….
                      
                      
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="parallax__layer parallax__layer__6 a_12"></div>
</section>
<div class="gold-bar"></div>


<section>
  <div class="sw">
    <div class="cw">
      <div class="qoxy a34b34">
        <div class="title beta tx-l">EDUCATION</div>
      </div>
    </div>
  </div>
</section>
<div class="gold-bar"></div>
<section>
  <div class="sw">
    <div class="cw">
      
      <div class="qoxy a34b34">
        <div class="wrap">
          <div class="poxy a14b34">
            <div class="delta mb4">BFA, Digital Media</div>
            <p>Kendall College of Art and Design<br/>Grand Rapids, MI<br/>2006 – 2008<br/></p>
          </div>
          <div class="poxy a14b34">
            <div class="delta mb4">AAS, Visual Design & Web Media</div>
            <p>Ferris State University<br/>Big Rapids, MI<br/>2004 – 2006<br/></p>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
</section>
<div class="gold-bar"></div>
<section>
  <div class="sw">
    <div class="cw">
      <div class="qoxy a34b34">
        <div class="title beta tx-l">SKILLS</div>
      </div>
    </div>
  </div>
</section>
<div class="gold-bar"></div>
<section>
  <div class="sw">
    <div class="cw">
      <div class="qoxy a34b34">
        <div class="wrap">
          <div class="poxy a14b14">
            <p><strong class="mb2">Code</strong></p>
            <p class="mt4">CSS3 / STYLUS / SASS / SCSS</p>
            <p class="mt4">HTML5 / JADE</p>
            <p class="mt4">PHP / JADE-PHP (Wordpress)</p>
            <p class="mt4">JAVASCRIPT / JQUERY / COFFEESCRIPT / ANGULAR</p>
            <p class="mt4">NODE.JS / GRUNT / YEAMAN /</p>
            <p class="mt4">
              GITHUB / BOWER / NPM
              
              
            </p>
          </div>
          <div class="poxy a14b14">
            <p><strong>Software</strong>
              <p class="mt4">PHOTOSHOP</p>
              <p class="mt4">AFTER EFFECTS</p>
              <p class="mt4">PREMIERE</p>
              <p class="mt4">CINEMA 4D</p>
              <p class="mt4">ILLUSTRAITOR</p>
              <p class="mt4">
                ATOM / SUBLIME TEXT / TEXTMATE
                
              </p>
            </p>
          </div>
          <div class="poxy a14b14 hide">
            <p><strong class="mb2">Design</strong><br/>www.tjohne.com<br/>Designed and developed multiple websites, produce event trailers, film live shows, motion-graphics, design posters and other marketing materials, Design Stage Dressing</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="gold-bar"></div>
<section>
  <div class="sw">
    <div class="cw">
      <div class="poxy a14a_120 rel mb0">
      </div>
      <div class="qoxy a34b34">
        <div class="title beta tx-l">EXPERIENCE</div>
      </div>
    </div>
  </div>
</section>
<div class="gold-bar"></div>
<section>
  <div class="sw">
    <div class="cw">
      
      <div class="qoxy a34b34">
        <div class="wrap">
          <div class="poxy a12b14">
            <div class="delta mb4">June 2012 – December 2014</div>
            <p>Web Designer & Developer<br/>Workhorse 45<br/>Primary responsibilities: edit video, composite graphic elements, author DVD’s, animate graphic elements, ENG location audio tasks (including, lighting, set dressing etc.), design, develop and maintain websites, webcast technician, answer phones, and meet with clients.</p>
          </div>
          <div class="poxy a12b14">
            <div class="delta mb4">April 2009 – May 2010</div>
            <p>Web Designer & Developer, Motion-Graphic Artist, Video Editor<br/>Versatile Productions, Inc<br/>Primary responsibilities: edit video, composite graphic elements, author DVD’s, animate graphic elements, ENG location audio tasks (including, lighting, set dressing etc.), design, develop and maintain websites, webcast technician, answer phones, and meet with clients.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <div class="qoxya34">
        <div class="wrap">
          <div class="poxya18a_18poxyb14b_112 rel"><a href="#/" style="background-image: url(images/logo-white.png);" class="logo poxya18a_18poxyb112b_112 m0 rel bg-contain"></a></div>
          <div class="poxy a12b34">
            <p class="title beta">
              Paul Wood also runs his own freelance business, under
              Paul Wood Design, LLC. Through it, he has worked on the following
              things….
              
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <div class="qoxy a34b34">
        <div class="wrap">
          <div class="poxy a14b14">
            <p><strong>Chimera - (2014-ongoing)</strong><br/>www.chimeralighting.com<br/>Manufacturer of high quality professional creative lighting solutions for the motion picture and still photography industries.
              Int 1200+ page entertainment lighting
            </p>
          </div>
          <div class="poxy a14b14">
            <p><strong>POXY - (2014-ongoing)</strong><br/><a href="#">www.poxy.io</a><br/>Developed an open source responsive frontend grid framework.</p>
          </div>
          <div class="poxy a14b14">
            <p><strong>TjohnE(2008-ongoing)</strong><br/>www.tjohne.com<br/>Designed and developed multiple websites, produce event trailers, film live shows, motion-graphics, design posters and other marketing materials, Design Stage Dressing</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="gold-bar"></div>
<section>
  <div class="sw">
    <div class="cw">
      <div class="poxy a14a_124 rel">
        <div class="qaxya11ap_11 bg90"></div>
      </div>
      <div class="qoxy a34b34">
        <div class="title gamma tx-l">INTERESTS</div>
      </div>
    </div>
  </div>
</section>
<div class="gold-bar"></div>
<section>
  <div class="sw">
    <div class="cw">
      <div class="qoxy a34b34">
        <p class="gamma">
          Snowboarding, Cooking, Techology, The Interent of Things, Video Games
          
        </p>
      </div>
    </div>
  </div>
</section>
<div class="gold-bar"></div>