

<section class="svg-grid">
  <div class="sw">
    <div class="cw">
      <figure style="background-image: url(images/work/sol-home-a.png);" class="bgct poxya11a_23 mb0">
        
      </figure>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <div class="poxya12a_14">
        <div class="wrap">
          <div class="poxya14">
            <h3>Chimera</h3>
            <p>location: Boulder CO</p>
            <p>STUDIO: Paul Wood Design</p>
            <p>CMS: Wordpress</p>
            <p class="mt0">PAGES: 1,200+ (excluding blog)</p>
            <p>#colors</p>
            <figure class="a127a_127 mr4"></figure>
            <figure class="a127a_127 mr4"></figure>
            <figure class="a127a_127 mr4"></figure>
            <figure class="a127a_127"></figure>
          </div>
          <div class="poxya12">
            <p>Nullam sit amet magna in magna gravida vehicula vestibulum erat nulla ullamcorper nec rutrum non nonummy ac erat fusce eget urna donec iaculis gravida nulla proin pede metus vulputate nec fermentum fringilla vehicula vitae justo proin mattis lacinia justo cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus 
            </p>
          </div>
        </div>
      </div>
      <div class="poxa12a_14">
        <div class="wrap">
          <figure style="background-image: url(images/work/sol-home-a.png);" class="bgct poxya14a_13 mb0"><span class="paxyap11ap_11 shadow ha hb"></span></figure>
          <figure style="background-image: url(images/work/sol-home-c.png);" class="bgct poxya16a_13 mb0"><span class="paxyap11ap_11 shadow hc"></span></figure>
          <figure style="background-image: url(images/work/sol-home-e.png);" class="bgct poxya112a_13 mb0"><span class="paxyap11ap_11 shadow he"></span></figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="shadow">
  <div class="sw">
    <div class="cw">
      <figure style="background-image: url(images/work/chim-f1.png);" class="bgct poxya11a_15">
        
      </figure>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <figure style="background-image: url(images/work/chimera-speed-rings.png);" class="bgct poxya12a_13">
      </figure>
      <div class="poxya12a_14">
        <div class="wrap">
          <div class="poxya12">
            <h3>Speed Ring Finder</h3>
          </div>
          <div class="poxya14">
            <p class="mt0">Pellentesque pretium lectus id turpis nullam justo enim consectetuer nec ullamcorper ac vestibulum in elit integer imperdiet lectus quis justo morbi mattis felis at nunc etiam bibendum elit eget erat nullam eget nisl morbi gravida libero nec velit fusce dui leo imperdiet in aliquam sit amet feugiat eu orci cras 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <div class="poxya12a_14">
        <div class="wrap">
          <div class="poxya12">
            <h3>Product-tax</h3>
          </div>
          <div class="poxya14">
            <p>In vulputate urna eu arcu aliquam id dolor mauris tincidunt sem sed arcu etiam egestas wisi a erat proin in tellus sit amet nibh dignissim sagittis fusce consectetuer risus a nunc nullam at arcu a est sollicitudin euismod in dapibus augue non sapien etiam quis quam vivamus luctus egestas leo 
            </p>
          </div>
        </div>
      </div>
      <figure style="background-image: url(images/work/chim-product-tax.png);" class="bgct poxya38a_13">
      </figure>
      <figure style="background-image: url(images/work/chim-product-tax-e.png);" class="bgct poxya18a_13"><span class="paxyap11ap_11 shadow"></span></figure>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <figure style="background-image: url(images/work/chim-product-tax2-a.png);" class="bgct poxya12a_13">
      </figure>
      <div class="poxya12a_14">
        <div class="wrap">
          <div class="poxya12">
            <h3>Product Child Taxonomy</h3>
          </div>
          <div class="poxya14">
            <p>Fusce aliquam vestibulum ipsum vestibulum erat nulla ullamcorper nec rutrum non nonummy ac erat suspendisse nisl maecenas libero pellentesque sapien proin pede metus vulputate nec fermentum fringilla vehicula vitae justo aliquam id dolor mauris dictum facilisis augue integer tempor proin pede metus vulputate nec fermentum fringilla vehicula vitae justo cras 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <div class="poxya14a_14">
        <div class="wrap">
          <div class="poxya14">
            <h3>Grid</h3>
            <p>STUDIO: Paul Wood Design</p>
            <p class="mt0">PAGES: 1,200+ (excluding blog)</p>
            <p>In in enim a arcu imperdiet malesuada pellentesque ipsum nulla non arcu lacinia neque faucibus fringilla fusce suscipit libero eget elit aliquam id dolor aliquam ante etiam posuere quam ac quam pellentesque pretium lectus id turpis cras elementum quisque porta nullam lectus justo vulputate eget mollis sed tempor sed magna 
            </p>
          </div>
        </div>
      </div>
      <div class="poxa12">
        <div class="wrap">
          <figure class="a18a_116">
            <div class="oxy">Desktop</div>
          </figure>
          <figure class="a18a_116">
            <div class="oxy">Tablet</div>
          </figure>
          <figure class="a18a_116">
            <div class="oxy">Mobile</div>
          </figure>
          <figure class="a18a_116"></figure>
        </div>
        <div class="wrap">
          <figure class="a14a_14"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <div class="poxya12a_14">
        <h3>Madhava</h3>
        <p>Studio: Workhorse 45</p>
        <p>Heading 5</p>
      </div>
      <div class="poxa12">
        <div class="wrap">
          <figure class="a14a_14"></figure>
          <figure class="a14a_14"></figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <div class="poxya12a_14">
        <h3>Linhart PR</h3>
        <p>Studio: Workhorse 45</p>
        <p>Heading 5</p>
      </div>
      <div class="poxa12">
        <div class="wrap">
          <figure class="a14a_14"></figure>
          <figure class="a14a_14"></figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <figure class="a12 hide">
        <div class="wrap">
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12">1/16</figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12">1/16</figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12">1/16</figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a12a_18b14b_18c14c_18d14d_18e12e_12"></figure>
        </div>
      </figure>
      <figure class="a12a_12">
        <div class="wrap">
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
        </div>
      </figure>
      <figure class="a12a_12">
        <div class="wrap">
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
        </div>
      </figure>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <div class="poxa12b12b_18c12c_18d11d_18poxe11">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
      </div>
      <div class="poxa12b12b_18c12c_18d11d_18poxe11">
        <h1 class="tera">Tera</h1>
        <h1 class="giga">Giga</h1>
        <h1 class="mega">Mega</h1>
        <h1 class="alpha">Alpha</h1>
        <h1 class="beta">Beta</h1>
        <h1 class="gamma">Gamma</h1>
        <h1 class="delta">Delta</h1>
        <h1 class="epsilon">Epsilon</h1>
        <h1 class="zeta">Zeta</h1>
        <div class="wrap">
          <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_116"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
        </div>
      </div>
      <div class="poxa12poxb12poxc11poxd11poxe11">
        <p>Aenean id metus id velit ullamcorper pulvinar pellentesque ipsum fusce aliquam vestibulum ipsum phasellus faucibus molestie nisl maecenas lorem sed elit dui pellentesque a faucibus vel interdum nec diam donec ipsum massa ullamcorper in auctor et scelerisque sed est vivamus porttitor turpis ac leo cras elementum class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos hymenaeos mauris suscipit ligula sit amet pharetra semper nibh ante cursus purus vel sagittis velit mauris vel metus nam sed tellus id magna elementum tincidunt cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus aliquam in lorem sit amet 
        </p>
        <p>Donec ipsum massa ullamcorper in auctor et scelerisque sed est fusce tellus fusce tellus suspendisse potenti nullam rhoncus aliquam metus duis sapien nunc commodo et interdum suscipit sollicitudin et dolor nam quis nulla aenean fermentum risus id tortor proin mattis lacinia justo duis viverra diam non justo curabitur bibendum justo non orci maecenas aliquet accumsan leo etiam commodo dui eget wisi curabitur vitae diam non enim vestibulum interdum lorem ipsum dolor sit amet consectetuer adipiscing elit fusce tellus odio dapibus id fermentum quis suscipit id erat aliquam id dolor duis bibendum lectus ut viverra rhoncus dolor nunc faucibus libero eget 
        </p>
      </div>
      <div class="poxa12poxb12poxc11poxd11poxe11">
        <p>Duis sapien nunc commodo et interdum suscipit sollicitudin et dolor pellentesque arcu pellentesque sapien nullam lectus justo vulputate eget mollis sed tempor sed magna fusce wisi nulla pulvinar eleifend sem vestibulum fermentum tortor id mi vestibulum erat nulla ullamcorper nec rutrum non nonummy ac erat aenean placerat sed convallis magna eu sem pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas cras pede libero dapibus nec pretium sit amet tempor quis urna phasellus faucibus molestie nisl morbi scelerisque luctus velit phasellus rhoncus proin mattis lacinia justo nunc posuere fusce nibh cum sociis natoque penatibus et magnis 
        </p>
        <p>Pellentesque ipsum nulla accumsan elit sit amet varius semper nulla mauris mollis quam tempor suscipit diam nulla vel leo nulla turpis magna cursus sit amet suscipit a interdum id felis cras pede libero dapibus nec pretium sit amet tempor quis urna cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus nullam eget nisl curabitur sagittis hendrerit ante in laoreet magna id viverra tincidunt sem odio bibendum justo vel imperdiet sapien wisi sed libero etiam egestas wisi a erat proin in tellus sit amet nibh dignissim 
        </p>
      </div>
    </div>
  </div>
</section>
<section class="dark shadow">
  <div class="sw">
    <div class="cw">
      <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">
        <p>Pellentesque arcu phasellus et lorem id felis nonummy 
        </p><span class="paxyap11ap_11"></span>
      </figure>
      <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">1/2<span class="paxyap11ap_11"></span></figure>
      <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">1/2<span class="paxyap11ap_11"></span></figure>
      <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">1/2<span class="paxyap11ap_11"></span></figure>
    </div>
  </div>
</section>