

<section class="svg-grid">
  <div class="sw">
    <div class="cw">
      <figure style="background-image: url(images/work/chimera-home.png);" class="bgct poxya11a_12 mb0">
        <figure style="background-image: url(images/logo-chimera.png);" class="oxy bg-contain a18a_18"></figure>
      </figure>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <div class="poxya12a_14">
        <div class="wrap">
          <div class="poxya14">
            <h3>Chimera</h3>
            <p>location: Boulder CO</p>
            <p>STUDIO: Paul Wood Design</p>
            <p>CMS: Wordpress</p>
            <p class="mt0">PAGES: 1,200+ (excluding blog)</p>
            <p>#colors</p>
            <figure class="a127a_127 mr4"></figure>
            <figure class="a127a_127 mr4"></figure>
            <figure class="a127a_127 mr4"></figure>
            <figure class="a127a_127"></figure>
          </div>
          <div class="poxya12">
            <p>Morbi imperdiet mauris ac auctor dictum nisl ligula egestas nulla et sollicitudin sem purus in lacus duis viverra diam non justo donec ipsum massa ullamcorper in auctor et scelerisque sed est nullam at arcu a est sollicitudin euismod proin in tellus sit amet nibh dignissim sagittis nunc auctor in nisl 
            </p>
          </div>
        </div>
      </div>
      <div class="poxa12a_14">
        <div class="wrap">
          <figure style="background-image: url(images/work/chimera-home.png);" class="bgct poxya14a_13 mb0"><span class="paxyap11ap_11 shadow ha hb"></span></figure>
          <figure style="background-image: url(images/work/chimera-home-tablet.png);" class="bgct poxya16a_13 mb0"><span class="paxyap11ap_11 shadow hc"></span></figure>
          <figure style="background-image: url(images/work/chimera-home-mobile.png);" class="bgct poxya112a_13 mb0"><span class="paxyap11ap_11 shadow he"></span></figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="shadow">
  <div class="sw">
    <div class="cw">
      <figure style="background-image: url(images/work/chim-f1.png);" class="bgct poxya11a_15">
        
      </figure>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <figure style="background-image: url(images/work/chimera-speed-rings.png);" class="bgct poxya12a_13">
      </figure>
      <div class="poxya12a_14">
        <div class="wrap">
          <div class="poxya12">
            <h3>Speed Ring Finder</h3>
          </div>
          <div class="poxya14">
            <p class="mt0">Integer malesuada donec vitae arcu maecenas lorem vivamus ac urna vel leo pretium faucibus in in enim a arcu imperdiet malesuada phasellus rhoncus aliquam ante maecenas fermentum sem in pharetra pellentesque velit turpis volutpat ante in pharetra metus odio a lectus duis sapien nunc commodo et interdum suscipit sollicitudin et 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <div class="poxya12a_14">
        <div class="wrap">
          <div class="poxya12">
            <h3>Product-tax</h3>
          </div>
          <div class="poxya14">
            <p>Nullam at arcu a est sollicitudin euismod maecenas aliquet accumsan leo phasellus faucibus molestie nisl integer imperdiet lectus quis justo donec odio urna tempus molestie porttitor ut iaculis quis sem sed elit dui pellentesque a faucibus vel interdum nec diam donec quis nibh at felis congue commodo morbi a metus 
            </p>
          </div>
        </div>
      </div>
      <figure style="background-image: url(images/work/chim-product-tax.png);" class="bgct poxya38a_13">
      </figure>
      <figure style="background-image: url(images/work/chim-product-tax-e.png);" class="bgct poxya18a_13"><span class="paxyap11ap_11 shadow"></span></figure>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <figure style="background-image: url(images/work/chim-product-tax2-a.png);" class="bgct poxya12a_13">
      </figure>
      <div class="poxya12a_14">
        <div class="wrap">
          <div class="poxya12">
            <h3>Product Child Taxonomy</h3>
          </div>
          <div class="poxya14">
            <p>Aenean vel massa quis mauris vehicula lacinia phasellus rhoncus aenean id metus id velit ullamcorper pulvinar mauris suscipit ligula sit amet pharetra semper nibh ante cursus purus vel sagittis velit mauris vel metus sed convallis magna eu sem maecenas sollicitudin donec ipsum massa ullamcorper in auctor et scelerisque sed est 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <div class="poxya14a_14">
        <div class="wrap">
          <div class="poxya14">
            <h3>Grid</h3>
            <p>STUDIO: Paul Wood Design</p>
            <p class="mt0">PAGES: 1,200+ (excluding blog)</p>
            <p>Curabitur ligula sapien pulvinar a vestibulum quis facilisis vel sapien aliquam id dolor morbi scelerisque luctus velit pellentesque ipsum etiam ligula pede sagittis quis interdum ultricies scelerisque eu urna in convallis fusce consectetuer risus a nunc vestibulum fermentum tortor id mi aliquam in lorem sit amet leo accumsan lacinia nunc 
            </p>
          </div>
        </div>
      </div>
      <div class="poxa12">
        <div class="wrap">
          <figure class="a18a_116">
            <div class="oxy">Desktop</div>
          </figure>
          <figure class="a18a_116">
            <div class="oxy">Tablet</div>
          </figure>
          <figure class="a18a_116">
            <div class="oxy">Mobile</div>
          </figure>
          <figure class="a18a_116"></figure>
        </div>
        <div class="wrap">
          <figure class="a14a_14"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <div class="poxya12a_14">
        <h3>Madhava</h3>
        <p>Studio: Workhorse 45</p>
        <p>Heading 5</p>
      </div>
      <div class="poxa12">
        <div class="wrap">
          <figure class="a14a_14"></figure>
          <figure class="a14a_14"></figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <div class="poxya12a_14">
        <h3>Linhart PR</h3>
        <p>Studio: Workhorse 45</p>
        <p>Heading 5</p>
      </div>
      <div class="poxa12">
        <div class="wrap">
          <figure class="a14a_14"></figure>
          <figure class="a14a_14"></figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <figure class="a12 hide">
        <div class="wrap">
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12">1/16</figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12">1/16</figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12">1/16</figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a12a_18b14b_18c14c_18d14d_18e12e_12"></figure>
        </div>
      </figure>
      <figure class="a12a_12">
        <div class="wrap">
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
        </div>
      </figure>
      <figure class="a12a_12">
        <div class="wrap">
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
        </div>
      </figure>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <div class="poxa12b12b_18c12c_18d11d_18poxe11">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
      </div>
      <div class="poxa12b12b_18c12c_18d11d_18poxe11">
        <h1 class="tera">Tera</h1>
        <h1 class="giga">Giga</h1>
        <h1 class="mega">Mega</h1>
        <h1 class="alpha">Alpha</h1>
        <h1 class="beta">Beta</h1>
        <h1 class="gamma">Gamma</h1>
        <h1 class="delta">Delta</h1>
        <h1 class="epsilon">Epsilon</h1>
        <h1 class="zeta">Zeta</h1>
        <div class="wrap">
          <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_116"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
        </div>
      </div>
      <div class="poxa12poxb12poxc11poxd11poxe11">
        <p>Integer pellentesque quam vel velit donec iaculis gravida nulla donec odio urna tempus molestie porttitor ut iaculis quis sem donec quis nibh at felis congue commodo curabitur vitae diam non enim vestibulum interdum etiam posuere lacus quis dolor fusce eget urna mauris dolor felis sagittis at luctus sed aliquam non tellus etiam posuere quam ac quam nulla pulvinar eleifend sem curabitur ligula sapien pulvinar a vestibulum quis facilisis vel sapien ut tempus purus at lorem integer tempor vestibulum erat nulla ullamcorper nec rutrum non nonummy ac erat praesent dapibus suspendisse potenti nunc tincidunt ante vitae massa fusce nibh cum sociis 
        </p>
        <p>Aliquam ante sed vel lectus maecenas ipsum velit consectetuer eu lobortis ut dictum at dui fusce eget urna phasellus faucibus molestie nisl pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas donec iaculis gravida nulla nulla est vivamus luctus egestas leo nullam eget nisl cras elementum nam sed tellus id magna elementum tincidunt suspendisse sagittis ultrices augue nulla turpis magna cursus sit amet suscipit a interdum id felis pellentesque sapien nam sed tellus id magna elementum tincidunt nullam feugiat turpis at pulvinar vulputate erat libero tristique tellus nec bibendum odio risus sit amet ante nunc dapibus 
        </p>
      </div>
      <div class="poxa12poxb12poxc11poxd11poxe11">
        <p>Integer vulputate sem a nibh rutrum consequat curabitur bibendum justo non orci nulla non arcu lacinia neque faucibus fringilla integer rutrum orci vestibulum ullamcorper ultricies lacus quam ultricies odio vitae placerat pede sem sit amet enim donec odio urna tempus molestie porttitor ut iaculis quis sem in laoreet magna id viverra tincidunt sem odio bibendum justo vel imperdiet sapien wisi sed libero proin pede metus vulputate nec fermentum fringilla vehicula vitae justo integer imperdiet lectus quis justo fusce dui leo imperdiet in aliquam sit amet feugiat eu orci integer rutrum orci vestibulum ullamcorper ultricies lacus quam ultricies odio vitae placerat 
        </p>
        <p>Phasellus et lorem id felis nonummy placerat class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos hymenaeos aenean id metus id velit ullamcorper pulvinar duis viverra diam non justo fusce suscipit libero eget elit donec odio urna tempus molestie porttitor ut iaculis quis sem mauris metus suspendisse sagittis ultrices augue fusce tellus duis sapien nunc commodo et interdum suscipit sollicitudin et dolor curabitur sagittis hendrerit ante duis risus nullam justo enim consectetuer nec ullamcorper ac vestibulum in elit nullam at arcu a est sollicitudin euismod integer imperdiet lectus quis justo vivamus ac urna vel leo pretium faucibus 
        </p>
      </div>
    </div>
  </div>
</section>
<section class="dark shadow">
  <div class="sw">
    <div class="cw">
      <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">
        <p>Vestibulum facilisis auctor urna sed elit dui pellentesque 
        </p><span class="paxyap11ap_11"></span>
      </figure>
      <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">1/2<span class="paxyap11ap_11"></span></figure>
      <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">1/2<span class="paxyap11ap_11"></span></figure>
      <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">1/2<span class="paxyap11ap_11"></span></figure>
    </div>
  </div>
</section>