
<div class="parallax__layer parallax__layer__0">
  <div class="stars"></div>
  <section>
    <div class="sw">
      <div class="cw a_12b_23c_11 rel dark">
        <div class="circle oxy9 a18a_18b14b_14 z10 ml1"></div>
        <div class="oxy a11a_12 mt0">
          <div class="oxy tx-c">
            <div class="title tera mt1">WORK</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="wbs parallax__layer parallax__layer__1 svg-grid">
  <div class="paxy fill shadow"></div>
</div>
<div class="parallax__layer parallax__layer__2">
  <section class="bg0">
    <div class="poxy ap11a_112bp11b_112 mb0"></div>
    <div class="sw">
      <div class="cw rel">
        <div class="paxya11a_118 bg10"></div>
        <div style="background-image: url('images/work/wbs-home-a.png')" class="paxy a11a_11b11b_21 bgct bgs100 mt1 box-shadow"></div>
      </div>
    </div>
  </section>
</div>
<div class="parallax__layer parallax__layer__5 bgcb">
</div>
<div class="parallax__layer parallax__layer__6">
  <section class="bfxy bg90">
    <div class="gold-bar"></div>
    <div class="sw">
      <div class="cw">
        <div class="poxya12a_13 poxyb12b_13">
          <h1 class="page-head"><span class="text mega">Way Better Snacks</span></h1>
          <div class="wrap mt1">
            <div class="poxya14 poxyb14">
              <p>location: Boulder CO</p>
              <p>STUDIO: Paul Wood Design</p>
              <p>CMS: Wordpress</p>
              <p class="mt0">PAGES: 1,200+ (excluding blog)</p>
              <p>#colors</p>
              <figure class="a127a_127 mr4"></figure>
              <figure class="a127a_127 mr4"></figure>
              <figure class="a127a_127 mr4"></figure>
              <figure class="a127a_127"></figure>
            </div>
          </div>
        </div>
        <div class="poxya12a_14 poxyb12b_13">
          <div class="demos">
            <div class="device laptop"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2361/laptop.svg" width="700"/>
              <div class="screen"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="parallax__cover">
  <div class="gold-bar"></div>
  <section>
    <div class="sw">
      <div class="cw">
        <div class="poxya12a_14 poxyb12b_13">
          <div class="demos">
            <div class="device laptop"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2361/laptop.svg" width="700"/>
              <div class="screen"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <div class="poxya12a_14 poxyb12b_14">
          <h2 class="alpha">Responsive</h2>
        </div>
        <div class="poxya12apoxyb12">
          <div class="wrap">
            <figure style="background-image: url(images/work/chimera-home.png);" class="bgct poxya14a_13poxyb14b_13 mb0"><span class="paxyap11ap_11 shadow ha hb"></span></figure>
            <figure style="background-image: url(images/work/chimera-home-tablet.png);" class="bgct poxya16a_13poxyb16b_13 mb0"><span class="paxyap11ap_11 shadow hc"></span></figure>
            <figure style="background-image: url(images/work/chimera-home-mobile.png);" class="bgct poxya112a_13poxyb112b_13 mb0"><span class="paxyap11ap_11 shadow he"></span></figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <figure style="background-image: url(images/work/chimera-speed-rings.png);" class="bgct poxya12a_13poxyb12b_13">
        </figure>
        <div class="poxya12a_14poxyb12b_14">
          <div class="wrap">
            <div class="poxya12poxyb12">
              <h3>Speed Ring Finder</h3>
            </div>
            <div class="poxya14poxyb14">
              <p class="mt0">Proin in tellus sit amet nibh dignissim sagittis donec ipsum massa ullamcorper in auctor et scelerisque sed est morbi a metus fusce dui leo imperdiet in aliquam sit amet feugiat eu orci nunc tincidunt ante vitae massa phasellus et lorem id felis nonummy placerat nulla est etiam quis quam mauris 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="shadow">
    <div class="sw">
      <div class="cw">
        <figure style="background-image: url(images/work/chim-f1.png);" class="bgct poxya11a_15poxyb11b_15">
          
        </figure>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <div class="poxya12a_14">
          <div class="wrap">
            <div class="poxya12">
              <h3>Product-tax</h3>
            </div>
            <div class="poxya14">
              <p>Ut tempus purus at lorem sed convallis magna eu sem cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus vivamus porttitor turpis ac leo aliquam erat volutpat nulla est mauris tincidunt sem sed arcu phasellus enim erat vestibulum vel aliquam a posuere eu velit cum sociis natoque 
              </p>
            </div>
          </div>
        </div>
        <figure style="background-image: url(images/work/chim-product-tax.png);" class="bgct poxya38a_13">
        </figure>
        <figure style="background-image: url(images/work/chim-product-tax-e.png);" class="bgct poxya18a_13"><span class="paxyap11ap_11 shadow"></span></figure>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <figure style="background-image: url(images/work/chim-product-tax2-a.png);" class="bgct poxya12a_13">
        </figure>
        <div class="poxya12a_14">
          <div class="wrap">
            <div class="poxya12">
              <h3>Product Child Taxonomy</h3>
            </div>
            <div class="poxya14">
              <p>Nullam rhoncus aliquam metus duis ante orci molestie vitae vehicula venenatis tincidunt ac pede aliquam erat volutpat fusce aliquam vestibulum ipsum nam quis nulla fusce tellus donec ipsum massa ullamcorper in auctor et scelerisque sed est nulla est duis pulvinar pellentesque ipsum etiam quis quam cras pede libero dapibus nec 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <div class="poxya14a_14">
          <div class="wrap">
            <div class="poxya14">
              <h3>Grid</h3>
              <p>STUDIO: Paul Wood Design</p>
              <p class="mt0">PAGES: 1,200+ (excluding blog)</p>
              <p>Ut tempus purus at lorem mauris elementum mauris vitae tortor proin mattis lacinia justo quisque porta fusce aliquam vestibulum ipsum duis pulvinar integer vulputate sem a nibh rutrum consequat nulla accumsan elit sit amet varius semper nulla mauris mollis quam tempor suscipit diam nulla vel leo aenean vel massa quis 
              </p>
            </div>
          </div>
        </div>
        <div class="poxa12">
          <div class="wrap">
            <figure class="a18a_116">
              <div class="oxy">Desktop</div>
            </figure>
            <figure class="a18a_116">
              <div class="oxy">Tablet</div>
            </figure>
            <figure class="a18a_116">
              <div class="oxy">Mobile</div>
            </figure>
            <figure class="a18a_116"></figure>
          </div>
          <div class="wrap">
            <figure class="a14a_14"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <div class="poxya12a_14">
          <h3>Madhava</h3>
          <p>Studio: Workhorse 45</p>
          <p>Heading 5</p>
        </div>
        <div class="poxa12">
          <div class="wrap">
            <figure class="a14a_14"></figure>
            <figure class="a14a_14"></figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <div class="poxya12a_14">
          <h3>Linhart PR</h3>
          <p>Studio: Workhorse 45</p>
          <p>Heading 5</p>
        </div>
        <div class="poxa12">
          <div class="wrap">
            <figure class="a14a_14"></figure>
            <figure class="a14a_14"></figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <figure class="a12 hide">
          <div class="wrap">
            <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12">1/16</figure>
            <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12">1/16</figure>
            <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12">1/16</figure>
            <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a12a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          </div>
        </figure>
        <figure class="a12a_12">
          <div class="wrap">
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
          </div>
        </figure>
        <figure class="a12a_12">
          <div class="wrap">
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a120a_116"></figure>
            <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
          </div>
        </figure>
      </div>
    </div>
  </section>
  <section>
    <div class="sw">
      <div class="cw">
        <div class="poxa12b12b_18c12c_18d11d_18poxe11">
          <h1>Heading 1</h1>
          <h2>Heading 2</h2>
          <h3>Heading 3</h3>
          <h4>Heading 4</h4>
          <h5>Heading 5</h5>
          <h6>Heading 6</h6>
        </div>
        <div class="poxa12b12b_18c12c_18d11d_18poxe11">
          <h1 class="tera">Tera</h1>
          <h1 class="giga">Giga</h1>
          <h1 class="mega">Mega</h1>
          <h1 class="alpha">Alpha</h1>
          <h1 class="beta">Beta</h1>
          <h1 class="gamma">Gamma</h1>
          <h1 class="delta">Delta</h1>
          <h1 class="epsilon">Epsilon</h1>
          <h1 class="zeta">Zeta</h1>
          <div class="wrap">
            <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a14a_116"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
            <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
            <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
            <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
          </div>
        </div>
        <div class="poxa12poxb12poxc11poxd11poxe11">
          <p>Mauris pretium quam et urna aliquam erat volutpat mauris tincidunt sem sed arcu praesent in mauris eu tortor porttitor accumsan etiam neque nunc auctor duis ante orci molestie vitae vehicula venenatis tincidunt ac pede sed vel lectus phasellus et lorem id felis nonummy placerat praesent id justo in neque elementum ultrices pellentesque arcu in vulputate urna eu arcu fusce eget urna donec ipsum massa ullamcorper in auctor et scelerisque sed est pellentesque arcu mauris pretium quam et urna duis sapien nunc commodo et interdum suscipit sollicitudin et dolor nullam eget nisl nulla est in laoreet magna id viverra tincidunt sem 
          </p>
          <p>Nullam lectus justo vulputate eget mollis sed tempor sed magna morbi a metus nulla est nulla quis diam fusce dui leo imperdiet in aliquam sit amet feugiat eu orci integer in sapien quisque tincidunt scelerisque libero phasellus rhoncus mauris suscipit ligula sit amet pharetra semper nibh ante cursus purus vel sagittis velit mauris vel metus in in enim a arcu imperdiet malesuada duis ante orci molestie vitae vehicula venenatis tincidunt ac pede vestibulum facilisis auctor urna aliquam ante nullam sit amet magna in magna gravida vehicula vivamus porttitor turpis ac leo in sem justo commodo ut suscipit at pharetra vitae 
          </p>
        </div>
        <div class="poxa12poxb12poxc11poxd11poxe11">
          <p>Donec ipsum massa ullamcorper in auctor et scelerisque sed est nunc auctor proin pede metus vulputate nec fermentum fringilla vehicula vitae justo donec quis nibh at felis congue commodo integer vulputate sem a nibh rutrum consequat in dapibus augue non sapien mauris dolor felis sagittis at luctus sed aliquam non tellus cras elementum nulla pulvinar eleifend sem nunc dapibus tortor vel mi dapibus sollicitudin cras pede libero dapibus nec pretium sit amet tempor quis urna sed ac dolor sit amet purus malesuada congue integer lacinia in nisl mauris dolor felis sagittis at luctus sed aliquam non tellus integer imperdiet lectus 
          </p>
          <p>Donec quis nibh at felis congue commodo morbi gravida libero nec velit nullam at arcu a est sollicitudin euismod sed convallis magna eu sem curabitur sagittis hendrerit ante nunc posuere donec ipsum massa ullamcorper in auctor et scelerisque sed est praesent dapibus cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus suspendisse potenti vivamus porttitor turpis ac leo aenean vel massa quis mauris vehicula lacinia integer rutrum orci vestibulum ullamcorper ultricies lacus quam ultricies odio vitae placerat pede sem sit amet enim in sem justo commodo ut suscipit at pharetra vitae orci in laoreet magna id viverra 
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="dark shadow">
    <div class="sw">
      <div class="cw">
        <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">
          <p>Aliquam erat volutpat morbi scelerisque luctus velit mauris 
          </p><span class="paxyap11ap_11"></span>
        </figure>
        <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">1/2<span class="paxyap11ap_11"></span></figure>
        <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">1/2<span class="paxyap11ap_11"></span></figure>
        <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">1/2<span class="paxyap11ap_11"></span></figure>
      </div>
    </div>
  </section>
</div>