

<section class="svg-grid">
  <div class="sw">
    <div class="cw">
      <figure style="background-image: url(images/work/w45-home-a.png);" class="bgct poxya11a_23 mb0">
        
      </figure>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <div class="poxya12a_14">
        <div class="wrap">
          <div class="poxya14">
            <h3>Chimera</h3>
            <p>location: Boulder CO</p>
            <p>STUDIO: Paul Wood Design</p>
            <p>CMS: Wordpress</p>
            <p class="mt0">PAGES: 1,200+ (excluding blog)</p>
            <p>#colors</p>
            <figure class="a127a_127 mr4"></figure>
            <figure class="a127a_127 mr4"></figure>
            <figure class="a127a_127 mr4"></figure>
            <figure class="a127a_127"></figure>
          </div>
          <div class="poxya12">
            <p>Fusce nibh fusce suscipit libero eget elit integer in sapien cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus fusce tellus vivamus ac urna vel leo pretium faucibus nullam justo enim consectetuer nec ullamcorper ac vestibulum in elit fusce nibh aliquam erat volutpat proin mattis lacinia justo 
            </p>
          </div>
        </div>
      </div>
      <div class="poxa12a_14">
        <div class="wrap">
          <figure style="background-image: url(images/work/w45-home-a.png);" class="bgct poxya14a_13 mb0"><span class="paxyap11ap_11 shadow ha hb"></span></figure>
          <figure style="background-image: url(images/work/w45-home-c.png);" class="bgct poxya16a_13 mb0"><span class="paxyap11ap_11 shadow hc"></span></figure>
          <figure style="background-image: url(images/work/w45-home-e.png);" class="bgct poxya112a_13 mb0"><span class="paxyap11ap_11 shadow he"></span></figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="shadow">
  <div class="sw">
    <div class="cw">
      <figure style="background-image: url(images/work/chim-f1.png);" class="bgct poxya11a_15">
        
      </figure>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <figure style="background-image: url(images/work/chimera-speed-rings.png);" class="bgct poxya12a_13">
      </figure>
      <div class="poxya12a_14">
        <div class="wrap">
          <div class="poxya12">
            <h3>Speed Ring Finder</h3>
          </div>
          <div class="poxya14">
            <p class="mt0">Nullam at arcu a est sollicitudin euismod nullam justo enim consectetuer nec ullamcorper ac vestibulum in elit etiam dui sem fermentum vitae sagittis id malesuada in quam integer pellentesque quam vel velit suspendisse nisl nullam rhoncus aliquam metus aenean vel massa quis mauris vehicula lacinia fusce tellus odio dapibus id 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <div class="poxya12a_14">
        <div class="wrap">
          <div class="poxya12">
            <h3>Product-tax</h3>
          </div>
          <div class="poxya14">
            <p>Etiam quis quam duis risus aenean id metus id velit ullamcorper pulvinar nulla accumsan elit sit amet varius semper nulla mauris mollis quam tempor suscipit diam nulla vel leo pellentesque sapien pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas praesent id justo in neque elementum 
            </p>
          </div>
        </div>
      </div>
      <figure style="background-image: url(images/work/chim-product-tax.png);" class="bgct poxya38a_13">
      </figure>
      <figure style="background-image: url(images/work/chim-product-tax-e.png);" class="bgct poxya18a_13"><span class="paxyap11ap_11 shadow"></span></figure>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <figure style="background-image: url(images/work/chim-product-tax2-a.png);" class="bgct poxya12a_13">
      </figure>
      <div class="poxya12a_14">
        <div class="wrap">
          <div class="poxya12">
            <h3>Product Child Taxonomy</h3>
          </div>
          <div class="poxya14">
            <p>Nulla non arcu lacinia neque faucibus fringilla class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos hymenaeos morbi gravida libero nec velit nunc auctor duis sapien nunc commodo et interdum suscipit sollicitudin et dolor integer in sapien phasellus et lorem id felis nonummy placerat pellentesque habitant morbi 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <div class="poxya14a_14">
        <div class="wrap">
          <div class="poxya14">
            <h3>Grid</h3>
            <p>STUDIO: Paul Wood Design</p>
            <p class="mt0">PAGES: 1,200+ (excluding blog)</p>
            <p>Nunc posuere nulla accumsan elit sit amet varius semper nulla mauris mollis quam tempor suscipit diam nulla vel leo duis bibendum lectus ut viverra rhoncus dolor nunc faucibus libero eget facilisis enim ipsum id lacus sed vel lectus donec iaculis gravida nulla in laoreet magna id viverra tincidunt sem odio 
            </p>
          </div>
        </div>
      </div>
      <div class="poxa12">
        <div class="wrap">
          <figure class="a18a_116">
            <div class="oxy">Desktop</div>
          </figure>
          <figure class="a18a_116">
            <div class="oxy">Tablet</div>
          </figure>
          <figure class="a18a_116">
            <div class="oxy">Mobile</div>
          </figure>
          <figure class="a18a_116"></figure>
        </div>
        <div class="wrap">
          <figure class="a14a_14"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <div class="poxya12a_14">
        <h3>Madhava</h3>
        <p>Studio: Workhorse 45</p>
        <p>Heading 5</p>
      </div>
      <div class="poxa12">
        <div class="wrap">
          <figure class="a14a_14"></figure>
          <figure class="a14a_14"></figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <div class="poxya12a_14">
        <h3>Linhart PR</h3>
        <p>Studio: Workhorse 45</p>
        <p>Heading 5</p>
      </div>
      <div class="poxa12">
        <div class="wrap">
          <figure class="a14a_14"></figure>
          <figure class="a14a_14"></figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <figure class="a12 hide">
        <div class="wrap">
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12">1/16</figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12">1/16</figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12">1/16</figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a12a_18b14b_18c14c_18d14d_18e12e_12"></figure>
        </div>
      </figure>
      <figure class="a12a_12">
        <div class="wrap">
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
        </div>
      </figure>
      <figure class="a12a_12">
        <div class="wrap">
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a120a_116"></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
        </div>
      </figure>
    </div>
  </div>
</section>
<section>
  <div class="sw">
    <div class="cw">
      <div class="poxa12b12b_18c12c_18d11d_18poxe11">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
      </div>
      <div class="poxa12b12b_18c12c_18d11d_18poxe11">
        <h1 class="tera">Tera</h1>
        <h1 class="giga">Giga</h1>
        <h1 class="mega">Mega</h1>
        <h1 class="alpha">Alpha</h1>
        <h1 class="beta">Beta</h1>
        <h1 class="gamma">Gamma</h1>
        <h1 class="delta">Delta</h1>
        <h1 class="epsilon">Epsilon</h1>
        <h1 class="zeta">Zeta</h1>
        <div class="wrap">
          <figure class="a14a_14b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a14a_116"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a116a_116b14b_18c14c_18d14d_18e12e_12"></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
          <figure class="a18a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
          <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12"><span class="paxyap11ap_11"></span></figure>
        </div>
      </div>
      <div class="poxa12poxb12poxc11poxd11poxe11">
        <p>In vulputate urna eu arcu praesent dapibus vivamus luctus egestas leo integer imperdiet lectus quis justo curabitur ligula sapien pulvinar a vestibulum quis facilisis vel sapien aliquam ornare wisi eu metus nunc auctor quisque tincidunt scelerisque libero pellentesque ipsum duis risus lorem ipsum dolor sit amet consectetuer adipiscing elit in vulputate urna eu arcu duis pulvinar cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus morbi a metus aliquam erat volutpat fusce tellus odio dapibus id fermentum quis suscipit id erat morbi scelerisque luctus velit phasellus et lorem id felis nonummy placerat phasellus et lorem id felis 
        </p>
        <p>Vivamus ac urna vel leo pretium faucibus aliquam erat volutpat fusce tellus odio dapibus id fermentum quis suscipit id erat etiam commodo dui eget wisi in rutrum pellentesque ipsum etiam posuere quam ac quam integer vulputate sem a nibh rutrum consequat duis pulvinar etiam egestas wisi a erat proin mattis lacinia justo aliquam in lorem sit amet leo accumsan lacinia donec iaculis gravida nulla etiam dui sem fermentum vitae sagittis id malesuada in quam integer in sapien etiam commodo dui eget wisi fusce wisi fusce eget urna fusce consectetuer risus a nunc sed ac dolor sit amet purus malesuada congue 
        </p>
      </div>
      <div class="poxa12poxb12poxc11poxd11poxe11">
        <p>Quisque tincidunt scelerisque libero donec vitae arcu etiam quis quam nulla est nulla accumsan elit sit amet varius semper nulla mauris mollis quam tempor suscipit diam nulla vel leo sed ac dolor sit amet purus malesuada congue aenean fermentum risus id tortor nullam sapien sem ornare ac nonummy non lobortis a enim quisque porta duis sapien nunc commodo et interdum suscipit sollicitudin et dolor maecenas aliquet accumsan leo maecenas ipsum velit consectetuer eu lobortis ut dictum at dui donec ipsum massa ullamcorper in auctor et scelerisque sed est aenean fermentum risus id tortor praesent in mauris eu tortor porttitor accumsan 
        </p>
        <p>Nulla turpis magna cursus sit amet suscipit a interdum id felis nam quis nulla nam quis nulla fusce dui leo imperdiet in aliquam sit amet feugiat eu orci duis viverra diam non justo maecenas lorem curabitur bibendum justo non orci fusce nibh etiam commodo dui eget wisi maecenas lorem aenean fermentum risus id tortor fusce eget urna nunc tincidunt ante vitae massa vestibulum facilisis auctor urna donec vitae arcu nulla non arcu lacinia neque faucibus fringilla nullam eget nisl nunc dapibus tortor vel mi dapibus sollicitudin quisque tincidunt scelerisque libero etiam dui sem fermentum vitae sagittis id malesuada in quam 
        </p>
      </div>
    </div>
  </div>
</section>
<section class="dark shadow">
  <div class="sw">
    <div class="cw">
      <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">
        <p>Morbi a metus fusce aliquam vestibulum ipsum etiam 
        </p><span class="paxyap11ap_11"></span>
      </figure>
      <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">1/2<span class="paxyap11ap_11"></span></figure>
      <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">1/2<span class="paxyap11ap_11"></span></figure>
      <figure class="a14a_18b14b_18c14c_18d14d_18e12e_12">1/2<span class="paxyap11ap_11"></span></figure>
    </div>
  </div>
</section>