.poxydp100d_18poxyep100e_15

nav#mainNav.header.z7.pfxya15a_p100.pfxyb16b_p100.pfxyc14c_p100.pfxydp100d_18.pfxyep100e_15.bg-dark2.shadow-right
  .poxy.p100.white
    .poxy.z10
      .rel.poxya15a_15.poxyb16b_16.poxyc14c_14.poxyd18d_18.poxye15e_15.mb0
        //- .paxy.a15a_18.b18b_18.c25c_14.d18d_18.e14e_15
        //- .bg___gold.paxy.fill
        //- .logo-color.paxy.fill
        .show___loading.bg-color-changing.paxy.fill.a15a_15.b16b_16.c14c_14.d18d_18.e15e_15
        .shadow__radial-black.paxy.a15a_15.b16b_16.c15c_15.d18d_18.e18e_18
        a#logo.bgp-cc.bgs-contain.paxy.fill.z9(href!='<?php bloginfo("url"); ?>')
        a.bgp-cc.bgs-contain.paxy.fill.z10(ng-click='changeClass()', ng-class="activeMenuShow", href!='<?php bloginfo("url"); ?>')

  .white.z10.qaxy.ha.hb.hc
    button(ng-click='changeClass()').qoxy.a114a_114b111b_111c111c_111d18d_18e15e_15
      svg-icon.oxy.a118a_118b116b_116c116c_116d111d_111e16e_16(p='grid', ng-class="activeMenuHide")
      svg-icon.oxy.a118a_118b116b_116c116c_116d111d_111e16e_16(p='close', ng-class="activeMenuShow")

  .poxy.fill.rel.fsa__4.fsb__3.fsc__3.fsd__4.fse__4
    .paxy.tran___1.z10.p100.bg-dark.hole2(ng-class="class")
      .poxy.p100.rel.z10
        ._poxya15a_111poxyb16b_111poxyc14c_16poxydp100d_15poxyep100e_14
          //- a(ng-click='changeClass()', href!='<?php bloginfo("url"); ?>/about').button.tx-v
          //-   span
          //-     span.ml2
          //-       | About
          a(ng-click='changeClass()', href!='<?php bloginfo("url"); ?>/resume').button.tx-v
            span
              span.ml2
                | Resume
          a(ng-click='changeClass()', href!='<?php bloginfo("url"); ?>/clients').button.poxy.tx-v
            span
              span.ml2
                | Work
          a(ng-click='changeClass()', href!='<?php bloginfo("url"); ?>/web').button.tx-v
            span
              span.ml2
                | Web
          a(ng-click='changeClass()', href!='<?php bloginfo("url"); ?>/static').button.tx-v
            span
              span.ml2
                | Static
          a(ng-click='changeClass()', href!='<?php bloginfo("url"); ?>/motion').button.tx-v
            span
              span.ml2
                | Motion
          a(ng-click='changeClass()', href!='<?php bloginfo("url"); ?>/video').button.tx-v
            span
              span.ml2
                | Video
          //- a(ng-click='changeClass()', href!='<?php bloginfo("url"); ?>/contact').button.tx-v
          //-   span
          //-     span.ml2
          //-       | Contact
