.z10.qaxy
  button.qoxy.a114a_114b111b_111
    svg-icon.oxy.a118a_118b116b_116(p='cog')
  button.qoxy.a114a_114b111b_111
    svg-icon.oxy.a118a_118b116b_116(p='grid')
  //- button.qoxy.b111b_111
  //-   svg-icon.oxy.b116b_116(p='twitter')
  //- button.qoxy.b111b_111
  //-   svg-icon.oxy.b116b_116(p='facebook')
  //- button.qoxy.b111b_111
  //-   svg-icon.oxy.b116b_116(p='github')
  //- button.qoxy.b111b_111
  //-   svg-icon.oxy.b116b_116(p='user')
  //- button.qoxy.b111b_111
  //-   svg-icon.oxy.b116b_116(p='skull')
  //- button.qoxy.b111b_111
  //-   svg-icon.oxy.b116b_116(p='picture')
  //- button.qoxy.b111b_111
  //-   svg-icon.oxy.b116b_116(p='video')
  //- button.qoxy.b111b_111
  //-   svg-icon.oxy.b116b_116(p='link')
  //- button.qoxy.b111b_111
  //-   svg-icon.oxy.b116b_116(p='external')
  //- button.qoxy.b111b_111
  //-   svg-icon.oxy.b116b_116(p='compose')
  //- button.qoxy.b111b_111
  //-   svg-icon.oxy.b116b_116(p='check')
  //- button.qoxy.b111b_111
  //-   svg-icon.oxy.b116b_116(p='chevronright')
.header.z10.pfxya15ap_11.pfxyb16bp_11.pfxyc14cp_11.poxydp100d_18.poxyep100e_15.mainNav--highlight2.shadow-right.fsa__4.fsb__2.fsc__3
  .content-box.mta__15.mtb__16.mtc__15.paxy.fill(style='background-color: rgba(255,255,255,.2)')
  //- .rel.poxya118a_118.poxyb116b_116.poxyc110c_110.poxyd110d_110.poxye18e_18.mb0.m3
  //-   a(href!='<?php bloginfo("url"); ?>')
  //-     .main-logo.fill.bg-contain
  #mainNav.poxy.p100
    //- .paxy.bgp-cc.bg-contain.poxya124a_124poxyb124b_124poxyc118c_118.m4
    //-   svg-icon.fill(p='cog')
    //-
    //- nav.qaxy.mb0
    //-   .rel.poxya116a_116.mb0.qoxyb116b_116.qoxyc110c_110.qoxyd18d_18.qoxye16e_16
    //-     a(ng-click='showModal=!showModal')
    //-       .rel._oxya124a_124.mb0.z5._oxyb124b_124._oxyc118c_118._oxyd112d_112._oxye18e_18
    //-         svg-icon(p='list')
    //- .oxy.ap98ap_11.bp98bp_11(style='background-color: rgba(0,0,0,.05)')
    //- .sw
    .poxy.z10
      .rel.poxya15a_15.poxyb16b_16.poxyc14c_14.poxyd18d_18.poxye15e_15.mb0
        .show___loading.bg-color-changing.paxy.fill.a15a_15.b16b_16.c14c_14.d18d_18.e15e_15
        .bg-black.paxy.a15a_15.b16b_16.c15c_15.d18d_18.e18e_18
        //- .bg___gold.logo-color.paxy.a15a_15.b16b_16.c15c_15.d18d_18.e16e_16
        .bg___gold.paxy.a15a_15.b16b_16.c15c_15.d18d_18.e16e_16
        //- .shadow__radial-black.paxy.a15a_15.b16b_16.c15c_15.d18d_18.e18e_18
        a#logo.bgp-cc.bgs-contain.paxy.fill.z10(href!='<?php bloginfo("url"); ?>')

    .__poxya15a_111poxyb16b_111poxyc14c_18.poxy.fill.rel.hd.he
      .__a111a_111b111b_111c18c_18
        a(href!='<?php bloginfo("url"); ?>/about').rel.button.poxy
          .rel
            svg-icon.oxy.a118a_118b116b_116c116c_116(p='user')
          .paxy.mla__111.mlb__111.mlc__18.tx-v
            span
              span(style='margin-top: .3rem')
                | About
        a(href!='<?php bloginfo("url"); ?>/resume').rel.button.poxy
          .rel
            svg-icon.oxy.a118a_118b116b_116c116c_116(p='compose')
          .paxy.mla__111.mlb__111.mlc__18.tx-v
            span
              span(style='margin-top: .3rem')
                | Resume
        a(href!='<?php bloginfo("url"); ?>/clients').rel.button.poxy
          .rel
            svg-icon.oxy.a118a_118b116b_116c116c_116(p='user')
          .paxy.mla__111.mlb__111.mlc__18.tx-v
            span
              span(style='margin-top: .3rem')
                | Work



        //- li.button.bfxy.b16
        //-   button.poxy.b111b_111
        //-     svg-icon.oxy.b116b_116(p='chevronleft')
        //-   button.qoxy.b111b_111
        //-     svg-icon.oxy.b116b_116(p='chevronright')
        //-   a.rel.poxyb16b_111(href!='<?php bloginfo("url"); ?>/web')
        //-     .poxy.rel.b111b_111
        //-       svg-icon.oxy.b116b_116(p='twitter')
        //-
        //-   a.rel.poxyb16b_111(href!='<?php bloginfo("url"); ?>/web')
        //-     .poxy.rel.b111b_111
        //-       svg-icon.oxy.b116b_116(p='github')
        //-
        //-   a.rel.poxyb16b_111(href!='<?php bloginfo("url"); ?>/web')
        //-     .poxy.rel.b111b_111
        //-       svg-icon.oxy.b116b_116(p='facebook')
        //-     .poxyb_111.mlb___111.tx-v
        //-       .oxy.p100
        //-         .ml1
        //-   a.rel.poxy.b16b_111(href!='<?php bloginfo("url"); ?>/web')
        //-     .poxy.rel.b111b_111
        //-       svg-icon.oxy.b116b_116(p='user')
        //-     .poxyb_111.mlb___111.tx-v
        //-       .oxy.p100
        //-         .ml1
        //-           | Contact





        //- li.button.poxy.p100
        //-   a.poxy.fill.p2.tx-l(href!='<?php bloginfo("url"); ?>/static') Static
        //- li.button.poxy.p100
        //-   a.poxy.fill.p2.tx-l(href!='<?php bloginfo("url"); ?>/motion') Motion
        //- li.button.poxy.p100
        //-   a.poxy.fill.p2.tx-l(href!='<?php bloginfo("url"); ?>/video') Video
        //- li.button.poxy.p100
        //-   a.poxy.fill.p2.tx-l(href!='<?php bloginfo("url"); ?>/clients') Work


    //- .poxy
    //-   .loading
    //-     .ip-loader


    //- - get_template_part( 'nav-client-scroller' );
    //- - get_template_part( 'nav-work-scroller' );
    //- - get_template_part( 'nav-tab-work' );


    //- .baxy.ap100.bp100.cp100.tx-1
    //-   figure.poxya118a_118.poxyb118b_118.poxyc118c_118
    //-     svg-icon.fill(p='cog')
    //-   figure.ml4.poxya118a_118.poxyb118b_118.poxyc118c_118
    //-     svg-icon.fill(p='cog')
    //-   figure.ml4.poxya118a_118.poxyb118b_118.poxyc118c_118
    //-     svg-icon.fill(p='cog')
    //-   figure.ml4.poxya118a_118.poxyb118b_118.poxyc118c_118
    //-     svg-icon.fill(p='cog')


  //- .poxy.fill.rel
  //-   #workScroller.paxy.bp100b_14(style="overflow-y:hide;")
  //-     div
  //-       ul.tx-l.txa-2.txb-2.txc-2.txd-2.tx-u
  //-         li.poxy.bp100
  //-           button.fill.p1.tx-l(onclick='loadProject("web")') WEB
  //-         li.poxy.bp100
  //-           button.fill.p1.tx-l(onclick='loadProject("static")') Static
  //-         li.poxy.bp100
  //-           button.fill.p1.tx-l(onclick='loadProject("motion")') Motion
  //-         li.poxy.bp100
  //-           button.fill.p1.tx-l(onclick='loadProject("motion")') Video

      //- .rel.poxap11a_16.poxybp11b_16.poxycp11c_16.poxyd16d_18.poxye16e_16.tx-v.pl1
      //-   a(href!='<?php bloginfo("url"); ?>/clients')
      //-     span
      //-       | Clients





      //- select.a18.form-control.mb4(ng-model='workgrid', ng-options='workgrid.size as workgrid.name for workgrid in workgrids')
      //- .rel.poxya18a_116.mb0.he.poxybp11b_112.poxyc18c_110.poxyd16d_18.poxye16e_16.tx-v
      //-   a(href!='<?php bloginfo("url"); ?>/blog')
      //-     span
      //-       | Blog




    //- .baxy.tx-u.txa-1.txb-1.txc-1.txd-1.txe-1
    //-   .m4
    //-     #logo.rel.poxya124a_124.poxyb118b_118.poxyc110c_110.poxyd110d_110.poxye18e_18.mb0.mt4
    //-       a(href!='<?php bloginfo("url"); ?>')
    //-         .main-logo.fill.bg-contain.oxy
    //-     .rel.poxya14a_118.mb0.poxyb14b_112.poxyc12c_110.poxyd12d_18.poxye12e_16
    //-       .rel._oxap11a_p11.tx-l._oxbp11b_p11._oxcp11c_p11._oxdp11d_p11._oxep11e_p11
    //-         span 2015
    //-         a(href!='<?php bloginfo("url"); ?>') &copy;  Paul Wood
          //- span All Rights Reserved.
      //- .rel.qoxya14a_118.mb0.qoxyb14b_112.qoxyc12c_110.poxyd12d_18.poxye12e_16
      //-   .rel._oxap11a_p11.tx-r._oxbp11b_p11._oxcp11c_p11._oxdp11d_p11._oxep11e_p11
      //-     span.txa-r.txb-r.txc-l.txe-c
      //-       a.ml1(href='/links') Link&apos;s
      //-       a.ml1(href='/support') Hire Me





  //- - get_template_part( 'nav-tab-static' );
