section.clear.header.pfxy.z10.clear.mt0.bg-white
  .sw.rel
    .cw.ap11.bp11
      #logo.rel.poxya14a_116.poxyb14b_116.poxyc14c_110.poxyd12d_110.poxye12e_18.mb0.tx-v
        a(href!='<?php bloginfo("url"); ?>')
          h3.ml4.bold Paul Wood
      //- #logo.rel.poxya118a_118.poxyb116b_116.poxyc110c_110.poxyd110d_110.poxye18e_18.mb0.m3
      //-   a(href!='<?php bloginfo("url"); ?>')
      //-     .main-logo.fill.bg-contain.oxy

      nav.qoxy.mb0
        .rel.poxya116a_116.mb0.qoxyb116b_116.qoxyc110c_110.qoxyd18d_18.qoxye16e_16
          a(ng-click='showModal=!showModal')
            .rel._oxya124a_124.mb0.z5._oxyb124b_124._oxyc118c_118._oxyd112d_112._oxye18e_18
              svg-icon(p='list')

      //- nav.qoxy.hd.he.mb0.ml0
      //-
      //-   .rel.poxya18a_116.mb0.poxyb18b_116.poxyc16c_110.poxyd16d_18.poxye16e_16.tx-v
      //-     a(href!='<?php bloginfo("url"); ?>/work')
      //-       span
      //-         | Work
      //-   .rel.poxya18a_116.mb0.poxyb18b_116.poxyc16c_110.poxyd16d_18.poxye16e_16.tx-v
      //-     a(href!='<?php bloginfo("url"); ?>/about')
      //-       span
      //-         | About
      //-   .rel.poxya18a_116.mb0.poxyb18b_116.poxyc16c_110.poxyd16d_18.poxye16e_16.tx-v
      //-     a(href!='<?php bloginfo("url"); ?>/resume')
      //-       span
      //-         | Resume
      //-   .rel.poxya18a_116.mb0.poxyb18b_116.poxyc16c_110.poxyd16d_18.poxye16e_16.tx-v
      //-     a(href!='<?php bloginfo("url"); ?>/clients')
      //-       span
      //-         | Clients
        //- .rel.poxya18a_116.mb0.he.poxyb18b_112.poxyc18c_110.poxyd16d_18.poxye16e_16.tx-v
        //-   a(href!='<?php bloginfo("url"); ?>/blog')
        //-     span
        //-       | Blog





//- section.clear
//-   .sw
//-     .cw
//-       .rel.poya_116.m0.poyb_112.poyc_110.poyd_110.poye_18
