- $i = 1;

- if (have_posts()):
- while (have_posts()):
  - the_post();

  :php
    //- $image_url = get_poxy_thumb();
    $image_url = get_poxy_thumb_650();
    if ($image_url) {
      $image = 'background-image: url('. $image_url. ')';
    } else {
      $image_ph = get_bloginfo('template_url') . '/images/logo-blue.svg';
      $image = 'background-image: url('.$image_ph.')';
    }


  - $title = get_the_title();
  - $slug = poxy_slug();
  - $description = poxy_meta('_poxy_product_description');
  - $size = poxy_meta('_poxy_product_size');
  - $size = poxy_meta('_poxy_product_size');
  - $height_in = poxy_meta('_poxy_product_height_in');
  - $height_cm = poxy_meta('_poxy_product_height_cm');
  - $diameter_in = poxy_meta('_poxy_product_diameter_in');
  - $diameter_cm = poxy_meta('_poxy_product_diameter_cm');
  - $depth_in = poxy_meta('_poxy_product_depth_in');
  - $depth_cm = poxy_meta('_poxy_product_depth_cm');
  - $length_in = poxy_meta('_poxy_product_length_in');
  - $length_cm = poxy_meta('_poxy_product_length_cm');
  - $width_in = poxy_meta('_poxy_product_width_in');
  - $width_cm = poxy_meta('_poxy_product_width_cm');
  - $weight = poxy_meta('_poxy_product_weight');
  - $pole_length_in = poxy_meta('_poxy_product_pole_length_in');
  - $pole_length_cm = poxy_meta('_poxy_product_pole_length_cm');
  - $fits = poxy_meta('_poxy_product_fits');
  - $voltage = poxy_meta('_poxy_product_voltage');
  - $max_wattage = poxy_meta('_poxy_product_max_wattage');
  - $lights_mounts = poxy_meta('_poxy_product_lights_mounts');
  - $rating = poxy_meta('_poxy_product_rating');
  - $max_wattage = poxy_meta('_poxy_product_max_wattage');

  - if($i == 1) :
      section.hc.hd.he
        .sw
          .cw
            .pox.mb0
              .wrap
                .poxya112a_118.poxyb112b_118.poxyc112c_118
                  .delta Model
                .poxya12a_118.poxyb38b_118.poxyc38c_118
                  .delta Description
                .qoxy
                  .wrap
                    - if ($size) :
                      .poxya112a_118.poxyb112b_118.poxyc112c_118
                        .delta Size
                    - endif;
                    - if ($width_in) :
                      .poxya112a_118.poxyb112b_118.poxyc112c_118
                        .delta Width
                        .zeta in/cm
                    - endif;
                    - if ($height_in) :
                      .poxya112a_118.poxyb112b_118.poxyc112c_118
                        .delta Height
                        .zeta in/cm
                    - endif;
                    - if ($diameter_in) :
                      .poxya112a_118.poxyb112b_118.poxyc112c_118
                        .delta Diameter
                        .zeta (in/cm)
                    - endif;
                    - if ($depth_in) :
                      .poxya112a_118.poxyb112b_118.poxyc112c_118
                        .delta Depth
                        .zeta in/cm
                    - endif;
                    - if ($weight) :
                      .poxya112a_118.poxyb112b_118.poxyc112c_118
                        .delta Weight
                        .zeta lbs
                    - endif;
                    - if ($lights_mounts) :
                      .poxya112a_118.poxyb112b_118.poxyc112c_118
                        .delta Light Mounts
                    - endif;
                    - if ($voltage) :
                      .poxya112a_118.poxyb112b_118.poxyc112c_118
                        .delta Voltage
                        .zeta
                    - endif;
                    - if ($rating) :
                      .poxya112a_118.poxyb112b_118.poxyc112c_118
                        .delta Rating
                        .zeta (wattage)
                    - endif;
                    - if ($max_wattage) :
                      .poxya112a_118.poxyb112b_118.poxyc112c_118
                        .delta Wattage
                        .zeta (MAX)
                    - endif;
                    - if ($pole_length_in) :
                      .poxya112a_118.poxyb112b_118.poxyc112c_118
                        .delta Pole Length
                        .zeta (in/cm)
                    - endif;
  - endif;
  - $i = 2;

  section.clear.txa-2.txb-1
    .sw
      .cw
        .pox.mb0
          - poxy_edit();
          .wrap
            .poxa112a_112.poxb112b_112.poxc14c_14.poxd12d_12.poxe12e_12.mt4.mb4.tx-c
              figure.poxya112a_112.poxyb112b_112.poxyc14c_14.poxyd12d_12.poxye12e_12.bg-contain(style!='<?php echo $image; ?>')
                //- a.paxy.fill(href!='<?php bloginfo("url"); ?>/product/<?php echo $slug; ?>')
                img.paxy.fill(src!='<?php echo $image_url; ?>')


            .mb4.poxa38.poxb38.poxyc12c_p11.poxyd12d_p11.poxye12e_p12
              a(href!='<?php bloginfo("url"); ?>/product/<?php echo $slug; ?>')
                h3.mt4
                  span.mr2 sku:
                  - echo $title;

              p.he
                - if ($description) :
                  - echo $description;
                - else :
                  - echo get_the_excerpt();
                - endif;

              a.poxy.mt1(href!="<?php //echo $button_url; ?>", rel="bookmark")
                button.p2 Add to Cart

            .qoxya.qoxyb.poxyc14.qoxyd12.qoxye12
              .wrap
                - if ($size) :
                    .mb4.poxya112a_118.poxyb112b_118.poxyc14c_116
                      p.fill
                        strong.mr2.ha.hb Size:
                        - echo $size;

                - endif;
                - if ($width_in) :
                    .mb4.poxya112a_118.poxyb112b_118.poxyc14c_116
                      p
                        strong.mr2.ha.hb Width:
                        - echo $width_in . ' / ' . $width_cm;
                - endif;
                - if ($height_in) :
                    .mb4.poxya112a_118.poxyb112b_118.poxyc14c_116
                      p
                        strong.mr2.ha.hb Height:
                        - echo $height_in . ' / ' . $height_cm;
                - endif;
                - if ($diameter_in) :
                  .mb4.poxya112a_118.poxyb112b_118.poxyc14c_116
                      p
                        strong.mr2.ha.hb Diameter:
                        - echo $diameter_in . ' / ' . $diameter_cm;
                - endif;
                - if ($depth_in) :
                    .mb4.poxya112a_118.poxyb112b_118.poxyc14c_116
                      p
                        strong.mr2.ha.hb Depth:
                        - echo $depth_in . ' / ' . $depth_cm;
                - endif;
                - if ($weight) :
                    .mb4.poxya112a_118.poxyb112b_118.poxyc14c_116
                        p
                          strong.mr2.ha.hb Weight:
                          - echo $weight;
                - endif;
                - if ($lights_mounts) :
                  .mb4.poxya112a_118.poxyb112b_118.poxyc14c_116
                        p
                          strong.mr2.ha.hb Light Mounts:
                          - echo $lights_mounts;
                - endif;
                - if ($voltage) :
                  .mb4.poxya112a_118.poxyb112b_118.poxyc14c_116
                      p
                        strong.mr2.ha.hb Voltage:
                        - echo $voltage;
                - endif;
                - if ($rating) :
                      .mb4.poxya112a_118.poxyb112b_118.poxyc14c_116
                        p
                          strong.mr2.ha.hb Rating:
                          - echo $rating;
                - endif;
                - if ($max_wattage) :
                      .mb4.poxya112a_118.poxyb112b_118.poxyc14c_116
                        p
                          strong.mr2.ha.hb Max Wattage:
                          - echo $max_wattage;
                - endif;
                - if ($pole_length_in) :
                  .mb4.poxya112a_118.poxyb112b_118.poxyc14c_116
                      p
                        strong.mr2.ha.hb Pole Length:
                        - echo $pole_length_in . ' / ' . $pole_length_cm;
                - endif;

            p.poxy.mt0.ha.hb.hc.hd
              - if ($description) :
                - echo $description;
              - else :
                - echo get_the_excerpt();
              - endif;

- endwhile;
- wp_reset_query();
- endif;
