section.clear.bg-black.hole
  .sw
    .cw
      figure.mb0.poxy.b14b_112

footer.bg-black
  section.clear.tx-u.txa-1.txb-1.txc-1.txd-1.txe-1
    .sw
      .cw
        figure.mb0.poxy.b14b_112
        #logo.rel.poxya124a_124.poxyb118b_118.poxyc110c_110.poxyd110d_110.poxye18e_18.mb0.mt4
          a(href!='<?php bloginfo("url"); ?>')
            .main-logo.fill.bg-contain.oxy
        .rel.poxya14a_118.mb0.poxyb14b_112.poxyc12c_110.poxyd12d_18.poxye12e_16
          .rel._oxap11a_p11.tx-l._oxbp11b_p11._oxcp11c_p11._oxdp11d_p11._oxep11e_p11
            span 2015
            a(href!='<?php bloginfo("url"); ?>') &copy;  Paul Wood
            //- span All Rights Reserved.
        .rel.qoxya14a_118.mb0.qoxyb14b_112.qoxyc12c_110.poxyd12d_18.poxye12e_16
          .rel._oxap11a_p11.tx-r._oxbp11b_p11._oxcp11c_p11._oxdp11d_p11._oxep11e_p11
            span.txa-r.txb-r.txc-l.txe-c
              a.ml1(href='/links') Link&apos;s
              a.ml1(href='/support') Hire Me
              //- a.ml1(href='/contact') Contact
