:php
  $taxonomy = 'category';
  $queried_term = get_query_var($taxonomy);

  $args = array(
    'orderby'       => 'name',
    'order'         => 'ASC',
    'hierarchical'  => true,
    'child_of'      => 0
  );

  $cats = get_terms($taxonomy, $args);


section.featured-pages
  .sw
    .cw
      :php

      - foreach ($cats as $cat) :
      - $link = get_term_link( $cat->slug, 'category' );
      - $title = $cat->name;
      - $slug = $cat->slug;
      - $image = poxy_get_cat_thumb($slug);


        figure.rel.poxya14a_18.poxyb14b_18.poxyc14c_18.poxyd12d_14.poxye12e_14
          a.tx-c(href!="<?php echo $link; ?>")
            figure.rel.image.poxya14a_18.poxyb14b_18.poxyc14c_18.poxyd12d_14.poxye12e_14.bgp-lc.bgs-100(style!='<?php echo $image; ?>')
              .rel._oxap11a_p11.white.bold._oxbp11b_p11._oxcp11c_p11._oxdp11d_p11._oxep11e_p11
                h2.txa-8.txb-7.txc-4.txd-6.txe-5(title!='<?php echo $title; ?>')
                  - echo $title;
      - endforeach;
