- $author_id = get_post_meta($post->ID, "_poxy_client_name", true);

- if($author_id) :
  :php
    $args = array(
      'ignore_sticky_posts' => 1,
      'posts_per_page' => 3,
      'author__in' => $author_id,
      'post_type' => array('project')
    );
    $member_posts = new WP_Query( $args );

  - if ($member_posts->have_posts()) :
    section
      .sw
        .cw
          h3 Projects

    - while ($member_posts->have_posts()) : $member_posts->the_post();
      - get_template_part('part-blog-section');
    - endwhile;
    - wp_reset_query();
  - endif;
- endif;
