section.instagram-feed.pb1.mt0.rel.ofh
  .sw.pr2
    .cw
      slick.slick-carousel.mb0.z6(infinite='infinite', slides-to-show='1', slides-to-scroll='1')
        div
          section#instafeed.clear.a11a_110b11b_110c11c_18d11d_18e11e_16.white.tx-c.tx-light
            .rel.mb0.mr1.poxya110a_110.poxyb110b_110.poxyc18c_18.poxyd18d_18.poxye16e_16
              a(target='_blank', href='http://instagram.com/chimeralighting')
                h3.txa-3.txb-3.txc-1.txd-1.txe-1
                  | Follow Us
                .oxy.a118a_118b118b_118(style!='background-image: url(<?php bloginfo("url"); ?>/images/instagram-icon.png);')
                .rel.baxap11a_p11.baxbp11b_p11.baxcp11c_p11.baxdp11d_p11.baxep11e_p11
                  h3.txa-3.txb-3.txc-1.txd-1.txe-1
                    | Intagram
