#search-bar.rel.poxya116a_116.mb0.qoxyb112b_112.qoxyc110c_110.qoxyd18d_18.qoxye16e_16
  div(ng-click="search_box = !search_box" ng-class="{ active: search_box }")
    .rel._oxya124a_124.z5._oxyb124b_124._oxyc118c_118._oxyd116d_116._oxye18e_18
      svg-icon(p='search')

  div(ng-show="search_box").google-search.z10.qaxya12.qaxyb12
    div(ng-click="search_box = !search_box" ng-class="{ active: search_box }")
      .bg-white.rel.qoxya124a_124.z5.qoxyb124b_124.qoxyc118c_118.qoxyd116d_116.qoxye18e_18.p2
        svg-icon(p='close')


    .rel.bg-white.qoxyap11a_124.z5.qoxyb12b_118.qoxyc12c_112.qoxyd116d_116.qoxye18e_18.p2.tx-l.txt-0
      script.
          (function() {
            var cx = '001525071247814937692:7pno0do6nxw';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
            })();

      gcse:search
