:php
  /**
   *
   * Chimera template for displaying Featured Pages
   *
   * @package WordPress
   * @subpackage Chimera
   * @since Chimera 1.0
   */

section.featured-pages
  .sw
    .cw
      figure.rel.poxya14a_18.poxyb14b_18.poxyc12c_14.poxyd12d_14.poxye12e_14
        a.tx-c(href='#')
          figure.rel.image.poxya14a_18.poxyb14b_18.poxyc12c_14.poxyd12d_14.poxye12e_14.bgp-lc.bgs-100(style='background-image: url(images/home/visionaries-thumb.jpg)')
            .rel._oxap11a_p11.white.bold._oxbp11b_p11._oxcp11c_p11._oxdp11d_p11._oxep11e_p11
              h2.txa-8.txb-7.txc-7.txd-6.txe-5(title='Gallery')
                | Gallery
      figure.rel.poxya14a_18.poxyb14b_18.poxyc12c_14.poxyd12d_14.poxye12e_14
        a.tx-c(href='#')
          figure.rel.image.poxya14a_18.poxyb14b_18.poxyc12c_14.poxyd12d_14.poxye12e_14.bgp-cc.bgs-100(style='background-image: url(images/home/events-thumb.jpg)')
            .rel._oxap11a_p11.white.bold._oxbp11b_p11._oxcp11c_p11._oxdp11d_p11._oxep11e_p11
              h2.txa-8.txb-7.txc-7.txd-6.txe-5(title='Events')
                | Events
      figure.rel.poxya14a_18.poxyb14b_18.poxyc12c_14.poxyd12d_14.poxye12e_14
        a.tx-c(href='#')
          figure.rel.image.poxya14a_18.poxyb14b_18.poxyc12c_14.poxyd12d_14.poxye12e_14.bgp-cc.bgs-100(style='background-image: url(images/home/about-thumb.jpg)')
            .rel._oxap11a_p11.white.bold._oxbp11b_p11._oxcp11c_p11._oxdp11d_p11._oxep11e_p11
              h2.txa-8.txb-7.txc-7.txd-6.txe-5(title='Videos')
                | Videos
      figure.rel.poxya14a_18.poxyb14b_18.poxyc12c_14.poxyd12d_14.poxye12e_14
        a.tx-c(href='#')
          figure.rel.image.poxya14a_18.poxyb14b_18.poxyc12c_14.poxyd12d_14.poxye12e_14.bgp-cc.bgs-100(style='background-image: url(images/home/blog-thumb.jpg)')
            .rel._oxap11a_p11.white.bold._oxbp11b_p11._oxcp11c_p11._oxdp11d_p11._oxep11e_p11
              h2.txa-8.txb-7.txc-7.txd-6.txe-5(title='Product Reviews')
                | Product Reviews
