section.bg10.newsletter
  .sw
    form#mc-embedded-subscribe-form.cw.validate(action='//chimeralighting.us3.list-manage.com/subscribe/post?u=e1a26e9ae23b6819a04c83a99&id=3ff3642418', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
      .poxya14a_116poxyb14b_116poxyc14c_110.d11d_110.e11e_16.tx-r.txd-c.txe-c
        h4 Subscribe To Our
        h4.color-accent Newsletter
      figure.a14a_116b12b_116c12c_110.d11d_110.e11e_16
        input#mce-EMAIL.ap11a_116bp11b_116cp11c_110.d11d_110.e11e_16.required.email(type='email', value='', name='EMAIL')
      figure.hide
        #mce-error-response.response(style='display:none')
        #mce-success-response.response(style='display:none')
        //- real people should not fill this in and expect good things - do not remove this or risk form bot signups
        div(style='position: absolute; left: -5000px;')
        input(type='text', name='b_e1a26e9ae23b6819a04c83a99_3ff3642418', tabindex='-1', value='')
      figure.a16a_116b14b_116c14c_110.d11d_110.e11e_16
        input.button.fill.m0(type='submit', value='Subscribe', name='subscribe')



  //- form#mc-embedded-subscribe-form.validate(action='//chimeralighting.us3.list-manage.com/subscribe/post?u=e1a26e9ae23b6819a04c83a99&id=3ff3642418', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
  //-   #mc_embed_signup_scroll
  //-     .indicates-required
  //-       span.asterisk *
  //-       |  indicates required
  //-     .mc-field-group
  //-       label(for='mce-EMAIL')
  //-         | Email Address
  //-         span.asterisk *
  //-       input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
  //-     #mce-responses.clear
  //-       #mce-error-response.response(style='display:none')
  //-       #mce-success-response.response(style='display:none')
  //-     // real people should not fill this in and expect good things - do not remove this or risk form bot signups
  //-     div(style='position: absolute; left: -5000px;')
  //-       input(type='text', name='b_e1a26e9ae23b6819a04c83a99_3ff3642418', tabindex='-1', value='')
  //-     .clear
  //-       input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')


//- section
//-   .sw
//-     .cw
//-       figure
//-         a(ng-click='showModal=!showModal') show modal
