include mixins/thumbs.jade
.clear-bar

section.clear.ha
  div.sw
    div.cw.a_112


section.parallax.bg0.a_58
  .parallax__layer.parallax__layer__0.a_58
    .horizontal-guides.paxy.ap11ap_11
      //- section.bg0
      //-   .sw.ap11a_14
      section.bg0
        .sw.ap11a_18
      section.bg0
        .sw.ap11a_18
      section.bg0
        .sw.ap11a_18
      section.bg0
        .sw.ap11a_18
      section.bg0
        .sw.ap11a_18
      section.bg0
        .sw.ap11a_18
      section.bg0
        .sw.ap11a_18
      section.bg0
        .sw.ap11a_18
      section.bg0
        .sw.ap11a_18
      section.bg0
        .sw.ap11a_18
      section.bg0
        .sw.ap11a_18
      section.bg0
        .sw.ap11a_18
      section.bg0
        .sw.ap11a_18
      section.bg0
        .sw.ap11a_18
      section.bg0
        .sw.ap11a_18
      section.bg0
        .sw.ap11a_18
      section.bg0
        .sw.ap11a_18
      section.bg0
        .sw.ap11a_18
      section.bg0
        .sw.ap11a_18




    .center-x-line
    section.clear.vertical-guides.bg0
      .sw
        .cw
          figure.poxya14poxyb14poxyc14poxyd14poxye14.rel
            figure.paxya14a_21paxyb14b_21paxyc14c_21paxyd14d_31paxye14e_31.bg0

          figure.poxya14poxyb14poxyc14poxyd14poxye14.rel
            figure.paxya14a_21paxyb14b_21paxyc14c_21paxyd14d_31paxye14e_31.bg0

          figure.poxya14poxyb14poxyc14poxyd14poxye14.rel
            figure.paxya14a_21paxyb14b_21paxyc14c_21paxyd14d_31paxye14e_31.bg0

          figure.poxya14poxyb14poxyc14poxyd14poxye14.rel
            figure.paxya14a_21paxyb14b_21paxyc14c_21paxyd14d_31paxye14e_31.bg0





  .parallax__layer.parallax__layer__1.a_58.bg-contain.bgprc(style="background-image: url('/images/about/about-me.jpg')")

    section.bg-fade.a_58
      .sw
        .cw
          .poxy.a11a_14
          .poxy.a11a_14
            .wrap
              //- .poxy.a14a_14
                //- .subtitle.zeta.tx-r.mt1 Video Editing

              .poxy.a34a_18.rel
                .paxy
                  //- strong.title.text.giga PAUL WOOD
                  strong(style="line-height: 1; margin-left: -.05em").title.text.giga About
                  .title.text.beta Design + Code


                //- .paxy
                //-   strong.text.giga.title WORK

  //- .parallax__layer.parallax__layer__2.bgcb(style="background-image: url('/images/home/parallax2.png')")
  //- .parallax__layer.parallax__layer__3.bgcb(style="background-image: url('/images/home/parallax3.png')")
  //- .parallax__layer.parallax__layer__4.bgcb(style="background-image: url('/images/home/parallax4.png')")
  //- .parallax__layer.parallax__layer__5.bgcb(style="background-image: url('/images/home/parallax5.png')")

  .parallax__layer.parallax__layer__6.a_12


.gold-bar
section.thumbs.z10
  div.sw
    div.cw
      .poxy.a14a_14.rel
        .poxy.a14a_14b11b_14c_12d_12e_12
          .page-head
            span.text.beta Bio
          p.mt1.
            I want to build the best websites in the world.


      .qoxy.a34
        p.epsilon.mt1.
          I want to build the best websites in the world.








.gold-bar
section.thumbs.z10
  div.sw
    div.cw
      .poxy.a14a_12.rel
        .poxy.a14a_14b11b_14c_12d_12e_12
          .page-head
            span.text.beta Older Portfolios
          p.mt1.
            Paul Wood also runs his own freelance business, under
            Paul Wood Design, LLC. Through it, he has worked on the following
            things….


      .qoxy.a34
        .wrap
          //- +thumb_3()
          +thumb_1('#/chimera', 'chimera')(style='background-image: url(images/about/about-portfolio-v3.jpg);')
          +thumb_1('#/chimera', 'chimera')(style='background-image: url(images/about/about-portfolio-v2.jpg);')
          +thumb_1('#/chimera', 'chimera')(style='background-image: url(images/about/about-portfolio-v1.jpg);')

          +thumb_18('#/angelic-bakehouse', 'Angelic Bakehouse')(style='background-image: url(images/work/angelic-home-a-thumb.jpg);')
          +thumb_18('#/biotta-juices', 'Biotta')(style='background-image: url(images/work/biotta-home-a-thumb.jpg);')
          +thumb_18('#/petchup', 'Petchup')(style='background-image: url(images/work/petchup-home-a-thumb.jpg);')
          +thumb_18('#/madhava', 'Madhava')(style='background-image: url(images/work/madhava-home-a-thumb.jpg);')
          +thumb_18('#/snack-out-loud', 'Snack Out Loud')(style='background-image: url(images/work/sol-home-a-thumb.jpg);')
          +thumb_18('#/rocky-mountain-table', 'Rocky Mountain Table')(style='background-image: url(images/work/rmtc-home-a-thumb.jpg);')



          +thumb_118('#/angelic-bakehouse', 'Angelic Bakehouse')(style='background-image: url(images/ph.png);')
          +thumb_118('#/angelic-bakehouse', 'Angelic Bakehouse')(style='background-image: url(images/ph.png);')
          +thumb_118('#/angelic-bakehouse', 'Angelic Bakehouse')(style='background-image: url(images/ph.png);')
          +thumb_118('#/angelic-bakehouse', 'Angelic Bakehouse')(style='background-image: url(images/ph.png);')
          +thumb_118('#/angelic-bakehouse', 'Angelic Bakehouse')(style='background-image: url(images/ph.png);')
          +thumb_118('#/angelic-bakehouse', 'Angelic Bakehouse')(style='background-image: url(images/ph.png);')

.gold-bar

section.clear.inner-grad.rel
  .gold-bar.mt4
  .sw
    .oxy.fill.bg-cover.bgpcc.gray-scale(style="background-size: cover; background-image: url('/images/about/about-bio-group-snowboard.jpg')")
    .oxy.fill.shadow
    .cw
      .qoxy.a34a_12.rel.tx-v
        .text
          p.z10.title.alpha.tx-white.
            Paul Wood also runs his own freelance business, under
            Paul Wood Design, LLC. Through it, he has worked on the following

  .gold-bar.mb4



.gold-bar
section.thumbs.z10
  div.sw
    div.cw
      .poxy.a14a_12.rel
        .poxy.a14a_14b11b_14c_12d_12e_12
          .page-head
            span.text.beta Random Work
          p.mt1.
            Paul Wood also runs his own freelance business, under
            Paul Wood Design, LLC. Through it, he has worked on the following
            things….


      .qoxy.a34
        .wrap
          //- +thumb_3()
          +thumb_1('#/chimera', 'chimera')(style='background-image: url(images/about/painting-bg.jpg);')
          +thumb_1('#/linhart-pr', 'Linhart PR')(style='background-image: url(images/about/ms-paint-boarder.jpg);')
          +thumb_1('#/way-better-snacks', 'Way Better Snacks')(style='background-image: url(images/work/wbs-home-a-thumb.jpg);')

          +thumb_18('#/angelic-bakehouse', 'Angelic Bakehouse')(style='background-image: url(images/work/angelic-home-a-thumb.jpg);')
          +thumb_18('#/biotta-juices', 'Biotta')(style='background-image: url(images/work/biotta-home-a-thumb.jpg);')
          +thumb_18('#/petchup', 'Petchup')(style='background-image: url(images/work/petchup-home-a-thumb.jpg);')
          +thumb_18('#/madhava', 'Madhava')(style='background-image: url(images/work/madhava-home-a-thumb.jpg);')
          +thumb_18('#/snack-out-loud', 'Snack Out Loud')(style='background-image: url(images/work/sol-home-a-thumb.jpg);')
          +thumb_18('#/rocky-mountain-table', 'Rocky Mountain Table')(style='background-image: url(images/work/rmtc-home-a-thumb.jpg);')
          +thumb_18('#/workhorse45', 'Workhorse 45')(style='background-image: url(images/work/w45-home-a-thumb.jpg);')
          +thumb_18('#/prefare', 'Prefare')(style='background-image: url(images/work/prefare-home-a-thumb.jpg);')
          //- +thumb_18('#/cmi-associates', 'CMI Associates')(style='background-image: url(images/work/cmi-home-a-thumb.jpg);')
          //- +thumb_18('#/auburn-moon-agency', 'Auburn Moon Agency')(style='background-image: url(images/work/ama-home-a-thumb.jpg);')
          +thumb_18('#/shena-razmi', 'Shena Razmi')(style='background-image: url(images/work/sr-home-a.png);')
          +thumb_18('#/anchor-bay-steel', 'Anchor Bay Steel')(style='background-image: url(images/work/abs-home-a-thumb.jpg);')
          //- +thumb_18('#/michigan-bulldogs', 'Michigan Bulldogs')(style='background-image: url(images/work/mdogs-home-a-thumb.jpg);')
          +thumb_18('#/zinga-yogurt', 'Zinga Froyo')(style='background-image: url(images/work/zinga-home-a-thumb.jpg);')
          +thumb_18('#/snomass-club', 'Snowmass Club')(style='background-image: url(images/work/smc-home-a.png);')



.gold-bar
section.thumbs.z10
  div.sw
    div.cw
      .poxy.a14a_12.rel
        .poxy.a14a_14b11b_14c_12d_12e_12
          .page-head
            span.text.beta Websites
          p.mt1.
            Paul Wood also runs his own freelance business, under
            Paul Wood Design, LLC. Through it, he has worked on the following
            things….


      .qoxy.a34
        .wrap
          //- +thumb_3()
          +thumb_1('#/chimera', 'chimera')(style='background-image: url(images/work/chimera-home-a-thumb.jpg);')
          +thumb_1('#/linhart-pr', 'Linhart PR')(style='background-image: url(images/work/linhartpr-home-a-thumb.jpg);')
          +thumb_1('#/way-better-snacks', 'Way Better Snacks')(style='background-image: url(images/work/wbs-home-a-thumb.jpg);')

          +thumb_18('#/angelic-bakehouse', 'Angelic Bakehouse')(style='background-image: url(images/work/angelic-home-a-thumb.jpg);')
          +thumb_18('#/biotta-juices', 'Biotta')(style='background-image: url(images/work/biotta-home-a-thumb.jpg);')
          +thumb_18('#/petchup', 'Petchup')(style='background-image: url(images/work/petchup-home-a-thumb.jpg);')
          +thumb_18('#/madhava', 'Madhava')(style='background-image: url(images/work/madhava-home-a-thumb.jpg);')
          +thumb_18('#/snack-out-loud', 'Snack Out Loud')(style='background-image: url(images/work/sol-home-a-thumb.jpg);')
          +thumb_18('#/rocky-mountain-table', 'Rocky Mountain Table')(style='background-image: url(images/work/rmtc-home-a-thumb.jpg);')
          +thumb_18('#/workhorse45', 'Workhorse 45')(style='background-image: url(images/work/w45-home-a-thumb.jpg);')
          +thumb_18('#/prefare', 'Prefare')(style='background-image: url(images/work/prefare-home-a-thumb.jpg);')
          //- +thumb_18('#/cmi-associates', 'CMI Associates')(style='background-image: url(images/work/cmi-home-a-thumb.jpg);')
          //- +thumb_18('#/auburn-moon-agency', 'Auburn Moon Agency')(style='background-image: url(images/work/ama-home-a-thumb.jpg);')
          +thumb_18('#/shena-razmi', 'Shena Razmi')(style='background-image: url(images/work/sr-home-a.png);')
          +thumb_18('#/anchor-bay-steel', 'Anchor Bay Steel')(style='background-image: url(images/work/abs-home-a-thumb.jpg);')
          //- +thumb_18('#/michigan-bulldogs', 'Michigan Bulldogs')(style='background-image: url(images/work/mdogs-home-a-thumb.jpg);')
          +thumb_18('#/zinga-yogurt', 'Zinga Froyo')(style='background-image: url(images/work/zinga-home-a-thumb.jpg);')
          +thumb_18('#/snomass-club', 'Snowmass Club')(style='background-image: url(images/work/smc-home-a.png);')
.gold-bar


section
  .sw
    .cw
      .poxy.a14a_124.rel
        .qaxya11ap_11.bg90
      .qoxy.a34b34
        .title.gamma.tx-l INTERESTS

.gold-bar

section.clear.inner-grad.rel
  .gold-bar.mt4
  .sw
    .oxy.fill.shadow.bg-cover.bgpcc.gray-scale(style="background-image: url('/images/about/about-magazines.jpg')")
    .oxy.fill.shadow
    .cw
      .qoxy.a34a_12.rel.tx-v
        .text
          p.z10.title.beta.tx-white.
            Paul Wood also runs his own freelance business, under
            Paul Wood Design, LLC. Through it, he has worked on the following
            things….
  .gold-bar.mb4


.gold-bar

section.thumbs.z10
  div.sw
    div.cw
      .poxy.a14a_12.rel
        .poxy.a14a_14b11b_14c_12d_12e_12
          .page-head
            span.text.beta.title Chimera
          p.mt1.
            Paul Wood also runs his own freelance business, under
            Paul Wood Design, LLC. Through it, he has worked on the following
            things….


      .qoxy.a34
        .wrap
          //- +thumb_3()
          +thumb_1('#/chimera', 'chimera')(style='background-image: url(images/work/chimera-home-a-thumb.jpg);')
          +thumb_1('#/linhart-pr', 'Linhart PR')(style='background-image: url(images/work/linhartpr-home-a-thumb.jpg);')
          +thumb_1('#/way-better-snacks', 'Way Better Snacks')(style='background-image: url(images/work/wbs-home-a-thumb.jpg);')

          +thumb_18('#/linhart-pr', 'Linhart PR')(style='background-image: url(images/work/linhartpr-home-a-thumb.jpg);')
          +thumb_18('#/way-better-snacks', 'Way Better Snacks')(style='background-image: url(images/work/wbs-home-a-thumb.jpg);')
          +thumb_18('#/angelic-bakehouse', 'Angelic Bakehouse')(style='background-image: url(images/work/angelic-home-a-thumb.jpg);')
          +thumb_18('#/biotta-juices', 'Biotta')(style='background-image: url(images/work/biotta-home-a-thumb.jpg);')
          +thumb_18('#/petchup', 'Petchup')(style='background-image: url(images/work/petchup-home-a-thumb.jpg);')
          +thumb_18('#/madhava', 'Madhava')(style='background-image: url(images/work/madhava-home-a-thumb.jpg);')
          +thumb_18('#/snack-out-loud', 'Snack Out Loud')(style='background-image: url(images/work/sol-home-a-thumb.jpg);')
          +thumb_18('#/rocky-mountain-table', 'Rocky Mountain Table')(style='background-image: url(images/work/rmtc-home-a-thumb.jpg);')
          +thumb_18('#/workhorse45', 'Workhorse 45')(style='background-image: url(images/work/w45-home-a-thumb.jpg);')
          +thumb_18('#/prefare', 'Prefare')(style='background-image: url(images/work/prefare-home-a-thumb.jpg);')
          +thumb_18('#/cmi-associates', 'CMI Associates')(style='background-image: url(images/work/cmi-home-a-thumb.jpg);')
