//- section.pfxy.red.a14b14c14d14.hide
//-   div.sw
//-     div.a14b14
//-       figure.a118a_118
header.pfxy.z6
  section.clear
    div.sw
      div.cw
        figure.paxya18a_19.paxyb18b_110.paxyc18c_110.paxyd18d_110.paxye18e_110.mb0.bg60
        figure.qoxya11a_117.poxyb11.mb0.bg0
        figure.qoxya12a_114.qoxyb34b_110.qoxyc34c_18.qoxyd34d_18.qoxye34e_18.mb0
          a(href="#").poxy.ap14ap_11.bp14bp_11.cp14cp_11c.dp14dp_11.ep14ep_11.bg20 button 1
          a(href="#").poxy.ap14ap_11.bp14bp_11.cp14cp_11c.dp14dp_11.ep14ep_11.bg20 button 2
          a(href="#").poxy.ap14ap_11.bp14bp_11.cp14cp_11c.dp14dp_11.ep14ep_11.bg20 button 3
          a(href="#").poxy.ap14ap_11.bp14bp_11.cp14cp_11c.dp14dp_11.ep14ep_11.bg20 button 4
          
section.clear
  div.sw
    div.cw.a_110
        
#meat
  section.full
    div.sw
      div.cw0
        figure.ap11a_12b_12c_12d_12e_12.bg100
          
  section
    div.sw
      div.cw
        figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
        figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
        figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
        figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2

  section
    div.sw
      div.cw
        figure.a14a_14b14b_14c14c_14d14d_14e12e_12 1/2
        figure.a14a_14b14b_14c14c_14d14d_14e12e_12 1/2
        figure.a14a_14b14b_14c14c_14d14d_14e12e_12 1/2
        figure.a14a_14b14b_14c14c_14d14d_14e12e_12 1/2


  section
    div.sw
      div.cw
        figure.a14a_118b14b_118c14c_118d14d_118e11e_18 1/2
        figure.a14a_118b14b_118c14c_118d14d_118e11e_18 1/2
        figure.a14a_118b14b_118c14c_118d14d_118e11e_18 1/2
        figure.a14a_118b14b_118c14c_118d14d_118e11e_18 1/2


footer
  section
    div.sw
      div.cw
        figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
        figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
        figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
        figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2

  section
    div.sw
      div.cw
        figure.a11b11c11d11e11e_18
