include mixins/thumbs.jade
.gold-bar

section.clear.full
  div.sw
    div.cw
      a(href="#/motion")
        button.poxyap13a_18.m0
          .oxy motion
      a(href="#/work")
        button.poxyap13a_18.m0
          .oxy interactive
      a(href="#/resume")
        button.poxyap13a_18.m0
          .oxy static


.gold-bar

section
  .sw
    .cw.a_14.rel
      .poxy.a11a_14b_12c_12d_12e_12.tx-v
        div
          .title.tera Motion
          //- .title.giga D E S I G N  +  C O D E
          .subtitle.delta web + video + motion + 3D


.gold-bar

section.thumbs
  div.sw
    div.cw
      +thumb_3('#/chimera', 'chimera')(style='background-image: url(images/work/chimera-home.png);')
      +thumb_3('#/linhart-pr', 'Linhart PR')(style='background-image: url(images/work/linhartpr-home-a.png);')
      +thumb_3('#/way-better-snacks', 'Way Better Snacks')(style='background-image: url(images/work/wbs-home-a.png);')
      +thumb_3('#/angelic-bakehouse', 'Angelic Bakehouse')(style='background-image: url(images/work/angelic-home-a.png);')
      +thumb_3('#/biotta-juices', 'Biotta')(style='background-image: url(images/work/biotta-home-a.png);')
      +thumb_3('#/petchup', 'Petchup')(style='background-image: url(images/work/petchup-home-a.png);')
      +thumb_3('#/madhava', 'Madhava')(style='background-image: url(images/work/madhava-home-a.png);')
      +thumb_3('#/snack-out-loud', 'Snack Out Loud')(style='background-image: url(images/work/sol-home-a.png);')
      +thumb_3('#/rocky-mountain-table', 'Rocky Mountain Table')(style='background-image: url(images/work/rmtc-home-a.png);')
      +thumb_3('#/workhorse45', 'Workhorse 45')(style='background-image: url(images/work/w45-home-a.png);')
      +thumb_3('#/prefare', 'Prefare')(style='background-image: url(images/work/prefare-home-a.png);')
      +thumb_3('#/cmi-associates', 'CMI Associates')(style='background-image: url(images/work/cmi-home-a.png);')
      +thumb_3('#/auburn-moon-agency', 'Auburn Moon Agency')(style='background-image: url(images/work/ama-home-a.png);')
      +thumb_3('#/shena-razmi', 'Shena Razmi')(style='background-image: url(images/work/sr-home-a.png);')
      +thumb_3('#/anchor-bay-steel', 'Anchor Bay Steel')(style='background-image: url(images/work/abs-home-a.png);')
      +thumb_3('#/michigan-bulldogs', 'Michigan Bulldogs')(style='background-image: url(images/work/mdogs-home-a.png);')
      +thumb_3('#/zinga-yogurt', 'Zinga Froyo')(style='background-image: url(images/work/zinga-home-a.png);')
      +thumb_3('#/snomass-club', 'Snowmass Club')(style='background-image: url(images/work/smc-home-a.png);')




//- - var n = 0
//- - var i = 24
//- section
//-   div.sw
//-     div.cw
//-       while n < i
//-         figure(style='background-image: url(http://placehold.it/350x350/333333&text=THUMB);').grad1.a14a_14b14b_14c14c_14d14d_14e12e_12
//-           a(href="#")
//-             span.paxyap11ap_11
//-             span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313.bg-wood
//-             span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313.shadow
//-             span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313.grad2
//-             span(style='background-image: url(images/work/chimera-home.png);').oxy.bgct.a313a_313b313b_313c313c_313d313d_313e313e_313
//-             span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313.shadow
//-               h4.oxy6.mb1= n++
