include mixins/mixin-lorem-ipsum.jade
include mixins/placeholder-image.jade
include mixins/page-head.jade

.parallax__layer.parallax__layer__0
  .stars
  //- .twinkling
  //- .clouds

  section
    .sw
      .cw.a_12b_23c_11.rel.dark
        .circle.oxy9.a18a_18b14b_14.z10.ml1


        .oxy.a11a_12.mt0
          .oxy.tx-c
            .title.tera.mt1 WORK


.petchup.parallax__layer.parallax__layer__1.svg-grid
  .paxy.fill.shadow

.parallax__layer.parallax__layer__2
  section.bg0
    .poxy.ap11a_112.mb0
    .sw
      .cw.rel
        .paxya11a_118.bg10

        .paxy.a11a_11.bgct.bgs100.mt1.box-shadow(style="background-image: url('images/work/petchup-home-a.png')")

//- .parallax__layer.parallax__layer__3.bgcb(style="background-image: url('/images/home/parallax3.png')")
//- .parallax__layer.parallax__layer__4.bgcb(style="background-image: url('/images/home/parallax4.png')")
.parallax__layer.parallax__layer__5.bgcb
  //- section.bg0
  //-   .poxy.ap11a_112.mb0
  //-   .sw
  //-     .cw.rel
  //-       .paxya11a_118.bg10
  //-
  //-       .paxy.a12a_11.bgct.bgs100.mt1.box-shadow(style="background-image: url('images/work/chimera-home.png')")

//- .parallax__layer.parallax__layer__6.bgcb(style="background-image: url('/images/home/parallax6.png')")




.parallax__cover
  //- .gold-bar
  .gold-bar

  +page-head('Petchup')
    p location: Boulder CO
    p STUDIO: Workhorse 45
    p Tech: Wordpress, SCSS,
    p.mt0 PAGES: 1,200+ (excluding blog)
    p #colors
    figure.a127a_127.mr4
    figure.a127a_127.mr4
    figure.a127a_127.mr4
    figure.a127a_127


  section
    div.sw
      div.cw
        .poxya12a_13
          .demos
            .device.laptop
              img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2361/laptop.svg" width="700")
              .screen

        .poxya12a_13
          h2.alpha Responsive

          .wrap.mt1

            .poxya14
              p
                +lipsum(30, "words")





  section
    div.sw
      div.cw
        .poxya12a_14
          h2.alpha Responsive

          .wrap.mt1

            .poxya14
              p
                +lipsum(30, "words")

            //- .poxya12
            //-
            //-   p
            //-     +lipsum(50, "words")


        .poxa12a_14
          .wrap
            figure(style='background-image: url(images/work/chimera-home.png);').bgct.poxya14a_13.mb0
              span.paxyap11ap_11.shadow.ha.hb
            figure(style='background-image: url(images/work/chimera-home-tablet.png);').bgct.poxya16a_13.mb0
              span.paxyap11ap_11.shadow.hc
            figure(style='background-image: url(images/work/chimera-home-mobile.png);').bgct.poxya112a_13.mb0
              span.paxyap11ap_11.shadow.he





  section
    div.sw
      div.cw
        figure(style='background-image: url(images/work/chimera-speed-rings.png);').bgct.poxya12a_13
          //-span.paxyap11ap_11.shadow

        .poxya12a_14
          .wrap
            //-figure(style='background-image: url(images/logo-chimera.png);').bg-contain.a18a_18
            .poxya12
              h3 Speed Ring Finder


            .poxya14

              p.mt0
                +lipsum(50, "words")
