include mixins/mixin-lorem-ipsum.jade
include mixins/thumbs.jade
.clear-bar

section.clear.m1.paxy.z4
  .sw
    .cw
      .poxy.a112a_118
      .title.text.beta.mt2 RESUME

section.clear.ha
  div.sw
    div.cw.a_112


section.parallax.bg0.mb1.a_58
  .parallax__layer.parallax__layer__0.a_58




  .parallax__layer.parallax__layer__1.a_58

    section.bg-fade.a_58
      .sw
        .cw
          .poxy.a11a_14
          .poxy.a11a_14
            .wrap
              .poxy.a14a_14
                //- .subtitle.zeta.tx-r.mt1 Video Editing

              .poxy.a34a_18.rel
                .paxy
                  //- strong.title.text.giga PAUL WOOD
                  strong(style="line-height: 1; margin-left: -.05em").title.text.giga RESUME
                  .title.text.beta.mt1 PAUL  WOOD
                  p.mt1 4546 E Kentucky CIR Denver CO 80246
                  p paulwood.me
                  p paulwooddesign@gmail.com
                  p 616 566 2778


  //- .parallax__layer.parallax__layer__2.bgcb(style="background-image: url('/images/home/parallax2.png')")
  //- .parallax__layer.parallax__layer__3.bgcb(style="background-image: url('/images/home/parallax3.png')")
  //- .parallax__layer.parallax__layer__4.bgcb(style="background-image: url('/images/home/parallax4.png')")
  //- .parallax__layer.parallax__layer__5.bgcb(style="background-image: url('/images/home/parallax5.png')")

  .parallax__layer.parallax__layer__6.a_12



section.clear.ha
  div.sw
    div.cw.a_112


section.parallax.a_21.bg0
  .parallax__layer.parallax__layer__0.a_21




  .parallax__layer.parallax__layer__1.a_21

    section.a_21.bg-fade
      .sw
        .cw
          .poxy.a11a_18
          .poxy.a11
            .wrap

              .poxy.a14
              .poxy.a34b34
                .title.beta.tx-l.mb2 EDUCATION

                .wrap
                  .poxy.a34b34
                    .delta.mb4 BFA, Digital Media
                    p
                      | Kendall College of Art and Design
                      br
                      | Grand Rapids, MI
                      br
                      | 2006 – 2008
                      br


                  .poxy.a34b34
                    .delta.mb4 AAS, Visual Design & Web Media
                    p
                      | Ferris State University
                      br
                      | Big Rapids, MI
                      br
                      | 2004 – 2006
                      br



              .poxy.a34b34
                .title.beta.tx-l.mb2 SKILLS
                .wrap
                  .poxy.a14b14
                    p
                      strong.mb2 Code
                    p.mt4.
                      CSS3 / STYLUS / SASS / SCSS
                    p.mt4.
                      HTML5 / JADE
                    p.mt4.
                      PHP / JADE-PHP (Wordpress)
                    p.mt4.
                      JAVASCRIPT / JQUERY / COFFEESCRIPT / ANGULAR
                    p.mt4.
                      NODE.JS / GRUNT / YEAMAN /
                    p.mt4.
                      GITHUB / BOWER / NPM


                  .poxy.a14b14
                    p
                      strong Software
                      p.mt4.
                        PHOTOSHOP
                      p.mt4.
                        AFTER EFFECTS
                      p.mt4.
                        PREMIERE
                      p.mt4.
                        CINEMA 4D
                      p.mt4.
                        ILLUSTRAITOR
                      p.mt4.
                        ATOM / SUBLIME TEXT / TEXTMATE

                  .poxy.a14b14.hide
                    p
                      strong.mb2 Design
                      br
                      | www.tjohne.com
                      br
                      | Designed and developed multiple websites, produce event trailers, film live shows, motion-graphics, design posters and other marketing materials, Design Stage Dressing



              .poxy.a14a_14b14b_14.rel
              //-   .qaxya11a_14qaxyb11b_14.bg90.br2
              //-     .oxy.ap11ap_99.bp11bp_99.gold-filter.br2
              //-     .oxy.ap11ap_97.bp11bp_97.bg98.br2.mr4.bg-stars
              //-     //- .stars.br2.ap_98


              .poxy.a34b34
                .title.beta.tx-l.mb2 EXPERIENCE
                .wrap

                  .poxy.a12b14
                    .delta.mb4 June 2012 – December 2014
                    p
                      | Web Designer & Developer
                      br
                      | Workhorse 45
                      br
                      | Primary responsibilities: edit video, composite graphic elements, author DVD’s, animate graphic elements, ENG location audio tasks (including, lighting, set dressing etc.), design, develop and maintain websites, webcast technician, answer phones, and meet with clients.


                  .poxy.a12b14
                    .delta.mb4 April 2009 – May 2010
                    p
                      | Web Designer & Developer, Motion-Graphic Artist, Video Editor
                      br
                      | Versatile Productions, Inc
                      br
                      | Primary responsibilities: edit video, composite graphic elements, author DVD’s, animate graphic elements, ENG location audio tasks (including, lighting, set dressing etc.), design, develop and maintain websites, webcast technician, answer phones, and meet with clients.





              .poxy.a14a_14b14b_14.rel
              //-   .qaxya11a_14qaxyb11b_14.bg90.br2
              //-     .oxy.ap11ap_99.bp11bp_99.gold-filter.br2
              //-     .oxy.ap11ap_97.bp11bp_97.bg98.br2.mr4.bg-stars
              //-     //- .stars.br2.ap_98

              .poxya34
                .wrap
                  //- .poxya18a_18poxyb14b_112.rel
                  //-   a(href="#/" style='background-image: url(images/logo-dark.png);').logo.poxya18a_18poxyb112b_112.m0.rel.bg-contain
                  .poxy.a34b34
                    p.title.beta.
                      Paul Wood also runs his own freelance business, under
                      Paul Wood Design, LLC. Through it, he has worked on the following
                      things….


  //- .parallax__layer.parallax__layer__2.bgcb(style="background-image: url('/images/home/parallax2.png')")
  //- .parallax__layer.parallax__layer__3.bgcb(style="background-image: url('/images/home/parallax3.png')")
  //- .parallax__layer.parallax__layer__4.bgcb(style="background-image: url('/images/home/parallax4.png')")
  //- .parallax__layer.parallax__layer__5.bgcb(style="background-image: url('/images/home/parallax5.png')")

  .parallax__layer.parallax__layer__6.a_12



.gold-bar


//- section.clear.full
//-   div.sw
//-     div.cw
//-       a(href="#/work")
//-         button.poxyap13a_112.m0
//-           .oxy Work
//-       a(href="#/about")
//-         button.poxyap13a_112.m0
//-           .oxy About
//-       a(href="#/resume")
//-         button.poxyap13a_112.m0
//-           .oxy Resume
//- .gold-bar



section
  .sw
    .cw
      //- .poxy.a14a_124.rel
      //-   .qaxya11ap_11.bg90
      .qoxy.a34b34
        .title.beta.tx-l EDUCATION

.gold-bar

section
  .sw
    .cw
      //- .poxy.a14a_14b14b_14.rel
      //-   a(href="#/work")
      //-     button.poxyap13a_112.m0
      //-       .oxy Work
      //-   a(href="#/about")
      //-     button.poxyap13a_112.m0
      //-       .oxy About
      //-   a(href="#/resume")
      //-     button.poxyap13a_112.m0
      //-       .oxy Resume
      //-
      //-   .qaxya11a_14qaxyb11b_14.bg90.br2
      //-     .oxy.ap11ap_99bp11bp_99.gold-filter.br2
      //-     .oxy.ap11ap_98bp11bp_98.bg90.br2.mr4.bg-stars
      //-     //- .stars.br2.ap_98


      .qoxy.a34b34
        .wrap
          .poxy.a14b34
            .delta.mb4 BFA, Digital Media
            p
              | Kendall College of Art and Design
              br
              | Grand Rapids, MI
              br
              | 2006 – 2008
              br


          .poxy.a14b34
            .delta.mb4 AAS, Visual Design & Web Media
            p
              | Ferris State University
              br
              | Big Rapids, MI
              br
              | 2004 – 2006
              br

          //- .poxy.a14b14
          //-   Studied - Film & Video
          //-   p
          //-     | Grand Valley State University
          //-     br
          //-     |
          //-     br
          //-     | 2002 – 2004



.gold-bar


section
  .sw
    .cw
      //- .poxy.a14a_124.rel
      //-   .qaxya11ap_11.bg90
      .qoxy.a34b34
        .title.beta.tx-l SKILLS

.gold-bar

section
  .sw
    .cw
      //- .poxy.a14a_13.rel
      //-   .qaxya11a_13.bg90.br2
      //-     .oxy.ap11ap_99.gold-filter.br2
      //-     .oxy.ap11ap_97.bg98.br2.mr4.bg-stars
      //-     //- .stars.br2.ap_98

      .qoxy.a34b34
        .wrap
          .poxy.a14b14
            p
              strong.mb2 Code
            p.mt4.
              CSS3 / STYLUS / SASS / SCSS
            p.mt4.
              HTML5 / JADE
            p.mt4.
              PHP / JADE-PHP (Wordpress)
            p.mt4.
              JAVASCRIPT / JQUERY / COFFEESCRIPT / ANGULAR
            p.mt4.
              NODE.JS / GRUNT / YEAMAN /
            p.mt4.
              GITHUB / BOWER / NPM


          .poxy.a14b14
            p
              strong Software
              p.mt4.
                PHOTOSHOP
              p.mt4.
                AFTER EFFECTS
              p.mt4.
                PREMIERE
              p.mt4.
                CINEMA 4D
              p.mt4.
                ILLUSTRAITOR
              p.mt4.
                ATOM / SUBLIME TEXT / TEXTMATE

          .poxy.a14b14.hide
            p
              strong.mb2 Design
              br
              | www.tjohne.com
              br
              | Designed and developed multiple websites, produce event trailers, film live shows, motion-graphics, design posters and other marketing materials, Design Stage Dressing









.gold-bar

section
  .sw
    .cw
      .poxy.a14a_120.rel.mb0
        //- .qaxya11ap_11.bg90
        //-   .stars
      .qoxy.a34b34
        .title.beta.tx-l EXPERIENCE

.gold-bar


section
  .sw
    .cw
      //- .poxy.a14a_14b14b_14.rel
      //-   .qaxya11a_14qaxyb11b_14.bg90.br2
      //-     .oxy.ap11ap_99.bp11bp_99.gold-filter.br2
      //-     .oxy.ap11ap_97.bp11bp_97.bg98.br2.mr4.bg-stars
      //-     //- .stars.br2.ap_98


      .qoxy.a34b34
        .wrap

          .poxy.a12b14
            .delta.mb4 June 2012 – December 2014
            p
              | Web Designer & Developer
              br
              | Workhorse 45
              br
              | Primary responsibilities: edit video, composite graphic elements, author DVD’s, animate graphic elements, ENG location audio tasks (including, lighting, set dressing etc.), design, develop and maintain websites, webcast technician, answer phones, and meet with clients.


          .poxy.a12b14
            .delta.mb4 April 2009 – May 2010
            p
              | Web Designer & Developer, Motion-Graphic Artist, Video Editor
              br
              | Versatile Productions, Inc
              br
              | Primary responsibilities: edit video, composite graphic elements, author DVD’s, animate graphic elements, ENG location audio tasks (including, lighting, set dressing etc.), design, develop and maintain websites, webcast technician, answer phones, and meet with clients.


//- .gold-bar

section
  .sw
    .cw
      .qoxya34
        .wrap
          .poxya18a_18poxyb14b_112.rel
            a(href="#/" style='background-image: url(images/logo-white.png);').logo.poxya18a_18poxyb112b_112.m0.rel.bg-contain
          .poxy.a12b34
            p.title.beta.
              Paul Wood also runs his own freelance business, under
              Paul Wood Design, LLC. Through it, he has worked on the following
              things….

//- .gold-bar

section
  .sw
    .cw
      //- .poxy.a14a_13.rel
      //-   .qaxya11a_13.bg90.br2
      //-     .oxy.ap11ap_99.gold-filter.br2
      //-     .oxy.ap11ap_97.bg98.br2.mr4.bg-stars
      //-     //- .stars.br2.ap_98

      .qoxy.a34b34
        .wrap
          .poxy.a14b14
            p
              strong Chimera - (2014-ongoing)
              br
              | www.chimeralighting.com
              br
              | Manufacturer of high quality professional creative lighting solutions for the motion picture and still photography industries.
              | Int 1200+ page entertainment lighting

          .poxy.a14b14
            p
              strong POXY - (2014-ongoing)
              br
              a(href="#") www.poxy.io
              br
              | Developed an open source responsive frontend grid framework.

          .poxy.a14b14
            p
              strong TjohnE(2008-ongoing)
              br
              | www.tjohne.com
              br
              | Designed and developed multiple websites, produce event trailers, film live shows, motion-graphics, design posters and other marketing materials, Design Stage Dressing


.gold-bar

section
  .sw
    .cw
      .poxy.a14a_124.rel
        .qaxya11ap_11.bg90
      .qoxy.a34b34
        .title.gamma.tx-l INTERESTS

.gold-bar

section
  .sw
    .cw
      .qoxy.a34b34
        p.gamma.
          Snowboarding, Cooking, Techology, The Interent of Things, Video Games

.gold-bar
