include mixins/mixin-lorem-ipsum.jade
include mixins/placeholder-image.jade
//- section.clear.full
//-   div.sw
//-     div.cw
//-       figure(style='background-image: url(http://placehold.it/1900x500/111111&text=Typography);').ap11a_14b_12c_12d_12e_12.bg100
//-       a(href="#").button Press Me
//-       a(href="#").button Press Me
//-       a(href="#").button Press Me

//- section
//-   .sw
//-     .cw.a_12.rel
//-       figure(style='background-image: url(images/work/chimera-home.png);').bgct.paxya11a_12.mb0
//-         span.paxyap11ap_11.shadow
//-       .oxy.a11a_14b_12c_12d_12e_12
//-         .title.tera WORK
//-         .title.giga D E S I G N  +  C O D E
//-         .subtitle.delta geek + smart + curious + nerd + ingenious + cunning = ME


section.svg-grid
  div.sw
    div.cw
      figure(style='background-image: url(images/work/sol-home-a.png);').bgct.poxya11a_23.mb0
        //-span.paxyap11ap_11.shadow
        //- figure(style='background-image: url(images/logo-chimera.png);').oxy.bg-contain.a18a_18


section
  div.sw
    div.cw
      .poxya12a_14
        .wrap

          .poxya14
            h3 Chimera
            p location: Boulder CO
            p STUDIO: Paul Wood Design
            p CMS: Wordpress
            p.mt0 PAGES: 1,200+ (excluding blog)
            p #colors
            figure.a127a_127.mr4
            figure.a127a_127.mr4
            figure.a127a_127.mr4
            figure.a127a_127

          .poxya12

            p
              +lipsum(50, "words")


      .poxa12a_14
        .wrap
          figure(style='background-image: url(images/work/sol-home-a.png);').bgct.poxya14a_13.mb0
            span.paxyap11ap_11.shadow.ha.hb
          figure(style='background-image: url(images/work/sol-home-c.png);').bgct.poxya16a_13.mb0
            span.paxyap11ap_11.shadow.hc
          figure(style='background-image: url(images/work/sol-home-e.png);').bgct.poxya112a_13.mb0
            span.paxyap11ap_11.shadow.he



section.shadow
  div.sw
    div.cw
      figure(style='background-image: url(images/work/chim-f1.png);').bgct.poxya11a_15
        //-span.paxyap11ap_11.shadow


section
  div.sw
    div.cw
      figure(style='background-image: url(images/work/chimera-speed-rings.png);').bgct.poxya12a_13
        //-span.paxyap11ap_11.shadow

      .poxya12a_14
        .wrap
          //-figure(style='background-image: url(images/logo-chimera.png);').bg-contain.a18a_18
          .poxya12
            h3 Speed Ring Finder


          .poxya14

            p.mt0
              +lipsum(50, "words")



section
  div.sw
    div.cw

      .poxya12a_14
        .wrap
          //-figure(style='background-image: url(images/logo-chimera.png);').bg-contain.a18a_18
          .poxya12
            h3 Product-tax

          .poxya14
            p
              +lipsum(50, "words")

      figure(style='background-image: url(images/work/chim-product-tax.png);').bgct.poxya38a_13
        //-span.paxyap11ap_11.shadow
      figure(style='background-image: url(images/work/chim-product-tax-e.png);').bgct.poxya18a_13
        span.paxyap11ap_11.shadow





section
  div.sw
    div.cw
      figure(style='background-image: url(images/work/chim-product-tax2-a.png);').bgct.poxya12a_13
        //-span.paxyap11ap_11.shadow

      .poxya12a_14
        .wrap
          //-figure(style='background-image: url(images/logo-chimera.png);').bg-contain.a18a_18
          .poxya12
            h3 Product Child Taxonomy

          .poxya14
            p
              +lipsum(50, "words")

section
  div.sw
    div.cw
      .poxya14a_14
        .wrap
          //-figure(style='background-image: url(images/logo.png);').bg-contain.a18a_18
          .poxya14
            h3 Grid
            p STUDIO: Paul Wood Design
            p.mt0 PAGES: 1,200+ (excluding blog)
            p
              +lipsum(50, "words")

      .poxa12
        .wrap
          figure.a18a_116
            .oxy Desktop
          figure.a18a_116
            .oxy Tablet
          figure.a18a_116
            .oxy Mobile
          figure.a18a_116

        .wrap
          figure.a14a_14

          figure.a116a_116b14b_18c14c_18d14d_18e12e_12
          figure.a116a_116b14b_18c14c_18d14d_18e12e_12
          figure.a116a_116b14b_18c14c_18d14d_18e12e_12
          figure.a116a_116b14b_18c14c_18d14d_18e12e_12
          figure.a116a_116b14b_18c14c_18d14d_18e12e_12
          figure.a116a_116b14b_18c14c_18d14d_18e12e_12
          figure.a116a_116b14b_18c14c_18d14d_18e12e_12
          figure.a116a_116b14b_18c14c_18d14d_18e12e_12
          figure.a116a_116b14b_18c14c_18d14d_18e12e_12
          figure.a116a_116b14b_18c14c_18d14d_18e12e_12



section
  div.sw
    div.cw
      div.poxya12a_14
        h3 Madhava
        p Studio: Workhorse 45
        p Heading 5

      .poxa12
        .wrap
          figure.a14a_14
          figure.a14a_14


section
  div.sw
    div.cw
      div.poxya12a_14
        h3 Linhart PR
        p Studio: Workhorse 45
        p Heading 5

      .poxa12
        .wrap
          figure.a14a_14
          figure.a14a_14


section
  div.sw
    div.cw
      figure.a12.hide
        .wrap
          figure.a116a_18b14b_18c14c_18d14d_18e12e_12 1/16
          figure.a116a_18b14b_18c14c_18d14d_18e12e_12 1/16
          figure.a116a_18b14b_18c14c_18d14d_18e12e_12 1/16
          figure.a116a_18b14b_18c14c_18d14d_18e12e_12
          figure.a116a_18b14b_18c14c_18d14d_18e12e_12
          figure.a116a_18b14b_18c14c_18d14d_18e12e_12
          figure.a116a_18b14b_18c14c_18d14d_18e12e_12
          figure.a116a_18b14b_18c14c_18d14d_18e12e_12

          figure.a18a_18b14b_18c14c_18d14d_18e12e_12
          figure.a18a_18b14b_18c14c_18d14d_18e12e_12
          figure.a18a_18b14b_18c14c_18d14d_18e12e_12
          figure.a18a_18b14b_18c14c_18d14d_18e12e_12

          figure.a14a_18b14b_18c14c_18d14d_18e12e_12
          figure.a14a_18b14b_18c14c_18d14d_18e12e_12

          figure.a12a_18b14b_18c14c_18d14d_18e12e_12

      figure.a12a_12
        .wrap
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116

          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116

          figure.a14a_18b14b_18c14c_18d14d_18e12e_12
          figure.a14a_18b14b_18c14c_18d14d_18e12e_12
          figure.a14a_14b14b_18c14c_18d14d_18e12e_12
          figure.a14a_14b14b_18c14c_18d14d_18e12e_12

      figure.a12a_12
        .wrap
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116

          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116
          figure.a120a_116

          figure.a14a_18b14b_18c14c_18d14d_18e12e_12
          figure.a14a_18b14b_18c14c_18d14d_18e12e_12
          figure.a14a_14b14b_18c14c_18d14d_18e12e_12
          figure.a14a_14b14b_18c14c_18d14d_18e12e_12




section
  div.sw
    div.cw
      div.poxa12b12b_18c12c_18d11d_18poxe11
        h1 Heading 1
        h2 Heading 2
        h3 Heading 3
        h4 Heading 4
        h5 Heading 5
        h6 Heading 6

      div.poxa12b12b_18c12c_18d11d_18poxe11
        h1.tera Tera
        h1.giga Giga
        h1.mega Mega
        h1.alpha Alpha
        h1.beta Beta
        h1.gamma Gamma
        h1.delta Delta
        h1.epsilon Epsilon
        h1.zeta Zeta

        .wrap
          figure.a14a_14b14b_18c14c_18d14d_18e12e_12
          figure.a18a_18b14b_18c14c_18d14d_18e12e_12
          figure.a18a_18b14b_18c14c_18d14d_18e12e_12
          figure.a18a_18b14b_18c14c_18d14d_18e12e_12
          figure.a18a_18b14b_18c14c_18d14d_18e12e_12
          figure.a14a_116
          figure.a116a_116b14b_18c14c_18d14d_18e12e_12
          figure.a116a_116b14b_18c14c_18d14d_18e12e_12
          figure.a116a_116b14b_18c14c_18d14d_18e12e_12
          figure.a116a_116b14b_18c14c_18d14d_18e12e_12
          figure.a116a_116b14b_18c14c_18d14d_18e12e_12




          figure.a18a_18b14b_18c14c_18d14d_18e12e_12
            span.paxyap11ap_11
          figure.a18a_18b14b_18c14c_18d14d_18e12e_12
            span.paxyap11ap_11
          figure.a18a_18b14b_18c14c_18d14d_18e12e_12
            span.paxyap11ap_11
          figure.a18a_18b14b_18c14c_18d14d_18e12e_12
            span.paxyap11ap_11


          figure.a14a_18b14b_18c14c_18d14d_18e12e_12
            span.paxyap11ap_11
          figure.a14a_18b14b_18c14c_18d14d_18e12e_12
            span.paxyap11ap_11



      div.poxa12poxb12poxc11poxd11poxe11
        p
          +lipsum(100, "words")
        p
          +lipsum(100, "words")

      div.poxa12poxb12poxc11poxd11poxe11
        p
          +lipsum(100, "words")
        p
          +lipsum(100, "words")



section.dark.shadow
  div.sw
    div.cw
      figure.a14a_18b14b_18c14c_18d14d_18e12e_12
        p
          +lipsum(8, "words")
        span.paxyap11ap_11
      figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
        span.paxyap11ap_11
      figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
        span.paxyap11ap_11
      figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
        span.paxyap11ap_11
