include mixins/thumbs.jade
.clear-bar

section.clear.ha
  div.sw
    div.cw.a_112


section.parallax.bg0.a_58.ofh
  video.paxya21(autoplay,  poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg", id="bgvid", loop)
    //- source(src="//demosthenes.info/assets/videos/polina.webm" type="video/webm")
    //- source(src="/videos/Looped_clouds.mp4" type="video/mp4")
    source(src="/videos/Sequence 1-Apple TV.mp4" type="video/mp4")
  .parallax__layer.parallax__layer__0.a_58



  .parallax__layer.parallax__layer__1.a_58.bg-contain.bgprc.gray-scale-100(style="background-image: url('/images/rainbow-nebula-fade2.png')")



    section.bg-fade.a_58
      .sw
        .cw
          .poxy.a11a_14
          .poxy.a11a_14
            .wrap
              //- .poxy.a14a_14
                //- .subtitle.zeta.tx-r.mt1 Video Editing

              .poxy.a34a_18.rel
                .paxy
                  //- strong.title.text.giga PAUL WOOD
                  .title.text.tera(style="line-height: 1; margin-left: -.05em") WORK
                  .title.text.beta Design + Code
                  p.delta.a14.mt1.
                    I love to work in all digital mediums.

                //- .paxy
                //-   strong.text.giga.title WORK

  //- .parallax__layer.parallax__layer__2.bgcb(style="background-image: url('/images/home/parallax2.png')")
  //- .parallax__layer.parallax__layer__3.bgcb(style="background-image: url('/images/home/parallax3.png')")
  //- .parallax__layer.parallax__layer__4.bgcb(style="background-image: url('/images/home/parallax4.png')")
  //- .parallax__layer.parallax__layer__5.bgcb(style="background-image: url('/images/home/parallax5.png')")

  .parallax__layer.parallax__layer__6.a_12.bg-contain.bgprc(style="background-image: url('/images/thinkfast_header_2015.png')")


    //- section.clear.full.baxy.bg90
    //-   .gold-bar
    //-
    //-   div.sw
    //-     div.cw
    //-       a(href="#/motion")
    //-         button.poxyap13a_110bp13b_110.m0
    //-           .oxy motion
    //-       a(href="#/work")
    //-         button.poxyap13a_110bp13b_110.m0
    //-           .oxy interactive
    //-       a(href="#/resume")
    //-         button.poxyap13a_110bp13b_110.m0
    //-           .oxy static
    //-   .gold-bar



//- .parallax__cover.ofh



.gold-bar

section.bg0.clear
  div.sw
    div.cw
      figure.poxya14a_18bp13b_18.bg0.mb0
        a(href="#/motion")
          button.poxya14a_18bp13b_18
            .oxy motion
      figure.poxya12a_18bp13b_18.bg0.mb0
        a(href="#/work")
          button.poxya12a_18bp13b_18
            .oxy interactive
      figure.poxya14a_18bp13b_18.bg0.mb0
        a(href="#/resume")
          button.poxya14a_18bp13b_18
            .oxy static


.gold-bar


section.thumbs.z10
  div.sw
    div.cw
      .poxy.a12a_12b14b_14.rel
        .qaxya11a_12qaxyb11b_14.bg90.br2
          .oxy.ap11ap_99.bp11bp_99.gold-filter.br2
          .oxy.ap11ap_97.bp11bp_97.bg98.br2.mr4.bg-stars.ofh
            video.paxya11(autoplay,  poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg", id="bgvid", loop)
              source(src="//demosthenes.info/assets/videos/polina.webm" type="video/webm")
              source(src="//demosthenes.info/assets/videos/polina.mp4" type="video/mp4")
          //- .stars.br2.ap_98
      +thumb_1('#/chimera', 'chimera')(style='background-image: url(images/ph.png);')
      +thumb_1('#/chimera', 'chimera')(style='background-image: url(images/ph.png);')
      +thumb_1('#/chimera', 'chimera')(style='background-image: url(images/ph.png);')
      +thumb_1('#/chimera', 'chimera')(style='background-image: url(images/ph.png);')



section.thumbs.z10
  div.sw
    div.cw
      .poxy.a14a_12.rel
        .poxy.a14a_14b11b_14c_12d_12e_12
          .page-head2
            span.beta WEB SITES
          p.mt4.
            Paul Wood also runs his own freelance business, under
            Paul Wood Design, LLC. Through it, he has worked on the following
            things….
          p.mt1.
            (This needs to change on hover.)


      .qoxy.a34
        .wrap
          //- +thumb_3()
          +thumb_1('#/chimera', 'chimera')(style='background-image: url(images/work/chimera-home-a-thumb.jpg);')
          +thumb_1('#/linhart-pr', 'Linhart PR')(style='background-image: url(images/work/linhartpr-home-a-thumb.jpg);')
          +thumb_1('#/way-better-snacks', 'Way Better Snacks')(style='background-image: url(images/work/wbs-home-a-thumb.jpg);')

          +thumb_18('#/angelic-bakehouse', 'Angelic Bakehouse')(style='background-image: url(images/work/angelic-home-a-thumb.jpg);')
          +thumb_18('#/biotta-juices', 'Biotta')(style='background-image: url(images/work/biotta-home-a-thumb.jpg);')
          +thumb_18('#/petchup', 'Petchup')(style='background-image: url(images/work/petchup-home-a-thumb.jpg);')
          +thumb_18('#/madhava', 'Madhava')(style='background-image: url(images/work/madhava-home-a-thumb.jpg);')
          +thumb_18('#/snack-out-loud', 'Snack Out Loud')(style='background-image: url(images/work/sol-home-a-thumb.jpg);')
          +thumb_18('#/rocky-mountain-table', 'Rocky Mountain Table')(style='background-image: url(images/work/rmtc-home-a-thumb.jpg);')
          +thumb_18('#/workhorse45', 'Workhorse 45')(style='background-image: url(images/work/w45-home-a-thumb.jpg);')
          +thumb_18('#/prefare', 'Prefare')(style='background-image: url(images/work/prefare-home-a-thumb.jpg);')
          //- +thumb_18('#/cmi-associates', 'CMI Associates')(style='background-image: url(images/work/cmi-home-a-thumb.jpg);')
          //- +thumb_18('#/auburn-moon-agency', 'Auburn Moon Agency')(style='background-image: url(images/work/ama-home-a-thumb.jpg);')
          +thumb_18('#/shena-razmi', 'Shena Razmi')(style='background-image: url(images/work/sr-home-a.png);')
          +thumb_18('#/anchor-bay-steel', 'Anchor Bay Steel')(style='background-image: url(images/work/abs-home-a-thumb.jpg);')
          //- +thumb_18('#/michigan-bulldogs', 'Michigan Bulldogs')(style='background-image: url(images/work/mdogs-home-a-thumb.jpg);')
          +thumb_18('#/zinga-yogurt', 'Zinga Froyo')(style='background-image: url(images/work/zinga-home-a-thumb.jpg);')
          +thumb_18('#/snomass-club', 'Snowmass Club')(style='background-image: url(images/work/smc-home-a.png);')

          //- +thumb_1('#/linhart-pr', 'Linhart PR')(style='background-image: url(images/work/linhartpr-home-a-thumb.jpg);')
          //- +thumb_1('#/way-better-snacks', 'Way Better Snacks')(style='background-image: url(images/work/wbs-home-a-thumb.jpg);')
          //- +thumb_1('#/angelic-bakehouse', 'Angelic Bakehouse')(style='background-image: url(images/work/angelic-home-a-thumb.jpg);')
          //- +thumb_1('#/biotta-juices', 'Biotta')(style='background-image: url(images/work/biotta-home-a-thumb.jpg);')
          //- +thumb_1('#/petchup', 'Petchup')(style='background-image: url(images/work/petchup-home-a-thumb.jpg);')
          //- +thumb_1('#/madhava', 'Madhava')(style='background-image: url(images/work/madhava-home-a-thumb.jpg);')
          //- +thumb_1('#/snack-out-loud', 'Snack Out Loud')(style='background-image: url(images/work/sol-home-a-thumb.jpg);')
          //- +thumb_1('#/rocky-mountain-table', 'Rocky Mountain Table')(style='background-image: url(images/work/rmtc-home-a-thumb.jpg);')
          //- +thumb_1('#/workhorse45', 'Workhorse 45')(style='background-image: url(images/work/w45-home-a-thumb.jpg);')
          //- +thumb_1('#/prefare', 'Prefare')(style='background-image: url(images/work/prefare-home-a-thumb.jpg);')
          //- +thumb_1('#/cmi-associates', 'CMI Associates')(style='background-image: url(images/work/cmi-home-a-thumb.jpg);')
          //- +thumb_1('#/auburn-moon-agency', 'Auburn Moon Agency')(style='background-image: url(images/work/ama-home-a-thumb.jpg);')
          //- +thumb_1('#/shena-razmi', 'Shena Razmi')(style='background-image: url(images/work/sr-home-a.png);')
          //- +thumb_1('#/anchor-bay-steel', 'Anchor Bay Steel')(style='background-image: url(images/work/abs-home-a-thumb.jpg);')
          //- +thumb_1('#/michigan-bulldogs', 'Michigan Bulldogs')(style='background-image: url(images/work/mdogs-home-a-thumb.jpg);')
          //- +thumb_1('#/zinga-yogurt', 'Zinga Froyo')(style='background-image: url(images/work/zinga-home-a-thumb.jpg);')
          //- +thumb_1('#/snomass-club', 'Snowmass Club')(style='background-image: url(images/work/smc-home-a-thumb.jpg);')




.gold-bar

section.thumbs.z10
  div.sw
    div.cw
      .poxy.a14a_12.rel
        .poxy.a14a_14b11b_14c_12d_12e_12
          .page-head
            span.text.beta.title Chimera
          p.mt1.
            Paul Wood also runs his own freelance business, under
            Paul Wood Design, LLC. Through it, he has worked on the following
            things….


      .qoxy.a34
        .wrap
          +thumb_1('#/linhart-pr', 'Linhart PR')(style='background-image: url(images/work/linhartpr-home-a-thumb.jpg);')
          +thumb_1('#/way-better-snacks', 'Way Better Snacks')(style='background-image: url(images/work/wbs-home-a-thumb.jpg);')
          +thumb_1('#/angelic-bakehouse', 'Angelic Bakehouse')(style='background-image: url(images/work/angelic-home-a-thumb.jpg);')
          +thumb_1('#/biotta-juices', 'Biotta')(style='background-image: url(images/work/biotta-home-a-thumb.jpg);')
          +thumb_1('#/petchup', 'Petchup')(style='background-image: url(images/work/petchup-home-a-thumb.jpg);')
          +thumb_1('#/madhava', 'Madhava')(style='background-image: url(images/work/madhava-home-a-thumb.jpg);')
          +thumb_1('#/snack-out-loud', 'Snack Out Loud')(style='background-image: url(images/work/sol-home-a-thumb.jpg);')
          +thumb_1('#/rocky-mountain-table', 'Rocky Mountain Table')(style='background-image: url(images/work/rmtc-home-a-thumb.jpg);')
          +thumb_1('#/workhorse45', 'Workhorse 45')(style='background-image: url(images/work/w45-home-a-thumb.jpg);')
          +thumb_1('#/prefare', 'Prefare')(style='background-image: url(images/work/prefare-home-a-thumb.jpg);')
          +thumb_1('#/cmi-associates', 'CMI Associates')(style='background-image: url(images/work/cmi-home-a-thumb.jpg);')
          +thumb_1('#/auburn-moon-agency', 'Auburn Moon Agency')(style='background-image: url(images/work/ama-home-a-thumb.jpg);')
          +thumb_1('#/shena-razmi', 'Shena Razmi')(style='background-image: url(images/work/sr-home-a.png);')
          +thumb_1('#/anchor-bay-steel', 'Anchor Bay Steel')(style='background-image: url(images/work/abs-home-a-thumb.jpg);')
          +thumb_1('#/michigan-bulldogs', 'Michigan Bulldogs')(style='background-image: url(images/work/mdogs-home-a-thumb.jpg);')





//- footer
//-   .gold-bar
//-
//-   section
//-     div.sw
//-       div.cw
//-
//-
//-         .qoxya12a_116qoxyb12b_18.qoxye11e_16.tx-v.zeta.mb0
//-           span.txa-r.txb-r.txe-c &copy; 2014
//-             a(href="#") Poxy All Rights Reserved.
