include dev.jade

mixin footer()
	footer
		
		+section().clear.zeta
			+poxy('14 118 poxy mb0', '14 112', '12 110', '12 18', '12 16')
				+poxy('p11 p11 _ox tx-l')
					a(href="#") &copy; 2015 Chimera All Rights Reserved.

			.hc.hd.he.mb0
				+poxy('12 118 poxy mb0 boulder-co', '12 112', '11 110', '11 18', '11 16')
					+poxy('p11 p11 _ox tx-c boulder-co')
							a(href="#/about").tx-u Boulder Colorado U.S.A

			+poxy('14 118 poxy mb0', '14 112', '12 110', '12 18', '12 16')
				+poxy('p11 p11 _ox tx-r')
					span.txa-r.txb-r.txc-l.txe-c
						a.ml1(href="#/page-faq") FAQ's
						a.ml1(href="#/page-support") Support
						a.ml1(href="#/page-contact") Contact
