include drop-down.jade
include dev.jade

mixin nav()
	section.header.paxy.z9.clear.mt0.bg0.tx-c
		.sw.rel
			//- .paxyap11a_112paxybp11b_112paxycp11c_112.z5.pr2
			.cw.static

				+poxy('114 118 poxy','110 116', '110 112', '18 110', '16 18')
					a(href="#/about").baxy.american-flag.bg-contain.z9
					a(href="#/")
						+poxy('p11 114 paxy p4 bg-accent z10', 'p11 110 paxy', 'p11 110 paxy', 'p11 18 paxy', 'p11 16 paxy')
							.logo.fill.bg-contain


				//- +poxy('34 34 qox mb0 bg10 static', '34 34 qox', '34 34 qox', '34 34 qox', '58 12 qox')
				nav.qoxy.hd.he

					+poxy('18 116 poxy mb0', '18 112 poxy', '16 110 poxy', '16 18 poxy', '16 16 poxy')
						a(href="#/work").paxy.fill
							+poxy('p11 p11 _ox z5') Work

					+poxy('18 116 poxy mb0', '18 112 poxy', '16 110 poxy', '16 18 poxy', '16 16 poxy')
						a(href="#/about").paxy.fill
							+poxy('p11 p11 _ox z5') About

					+poxy('18 116 poxy mb0', '18 112 poxy', '16 110 poxy', '16 18 poxy', '16 16 poxy')
						a(href="#/resume").paxy.fill
							+poxy('p11 p11 _ox z5') Resume

					+poxy('18 116 poxy mb0', '18 112 poxy', '16 110 poxy', '16 18 poxy', '16 16 poxy')
						a(href="#/clients").paxy.fill
							+poxy('p11 p11 _ox z5') clients

					+poxy('18 116 poxy mb0 he', '18 112 poxy', '18 110 poxy', '16 18 poxy', '16 16 poxy')
						a(href="#/blog").paxy.fill
							+poxy('p11 p11 _ox z5') Blog

					+poxy('116 116 poxy mb0 bg20', '112 112 qoxy', '110 110 qoxy', '18 18 qoxy', '16 16 qoxy')
						a(href="#/")
							+poxy('124 124 _oxy z5', '124 124 _oxy', '118 118 _oxy', '116 116 _oxy', '18 18 _oxy')
								svg-icon(p='search')
				nav.qoxy.ha.hb.hc
					+poxy('116 116 poxy mb0 bg20', '112 112 qoxy', '110 110 qoxy', '18 18 qoxy', '16 16 qoxy')
						a(href="#/")
							+poxy('124 124 _oxy mb0 z5', '124 124 _oxy', '118 118 _oxy', '112 112 _oxy', '18 18 _oxy')
								svg-icon(p='list')






	+section().clear
		+poxy('116 116 poy m0', '116 112 poy', '116 110 poy', '116 18 poy', '116 16 poy')
