mixin page-head(title)
	section
		div.sw
			div.cw
				.poxya12a_13
					.page-head
						span.text= title
						
				.poxya12a_13
					.wrap.mt1
						.poxya14
							if block
								block
							else
								p No content provided
